
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
  </dl>

     <form class="form" action="did-they-attend" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Did Alex River attend?
            </h2>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            Select yes if the person attended the start of the session.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="did-they-attend" name="did-they-attend" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="did-they-attend">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="did-they-attend" name="did-they-attend" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="did-they-attend">
                No
              </label>
            </div>
            
          </div>
      
          
        </fieldset>
        
      </div>
     
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>
    </div>
  </div>

{% endblock %}
