{% extends "layout.html" %}

{% block pageTitle %}
  Access interventions and services
{% endblock %}

{% block content %}
  <div class="govuk-phase-banner govuk-!-margin-bottom-8">
    <div class="govuk-phase-banner__content">
      <p class="govuk-phase-banner__text">
        Welcome to book and manage interventions services
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Access interventions and services
    </h1>

    <h2 class="govuk-heading-m">Add an intervention for a service user or assign an intervention to a caseworker</h2>
    <ul class="govuk-list">
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--blue govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Add interventions
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      <a href="referrals" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--blue govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Assign interventions
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </ul>
  </div>

{% endblock %}