{% extends "layout.html" %}

{% block pageTitle %}
  Upload case notes
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Upload case notes
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-9">
        You can upload notes you've made about the case.
      </p>
      <div>
        <form method="post" action="#">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="case-notes-date">
              Date the offline communication was made
            </label>
            <div class="govuk-date-input" id="case-notes-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="case-notes-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-notes-date-day" name="case-notes-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="case-notes-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-notes-date-month" name="case-notes-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="case-notes-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="case-notes-date-year" name="case-notes-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="case-notes-tag">
              Add a tag label to help others find this communication
            </label>
            <input class="govuk-input" id="case-notes-tag" name="case-notes-tag" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="case-notes">
              Notes regarding the offline communication
            </label>
            <textarea class="govuk-textarea" id="case-notes" name="case-notes" type="text" rows="5"></textarea>
          </div>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar">
      <h2>Subsection</h2>
      <p>
        <a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/manager/communication-archive">View communication archive</a>
      </p>
    </div>
  </div>
{% endblock %}