
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="/IPB-265/sp/session-happen" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "did-session-happen",
  fieldset: {
    legend: {
      text: "Did the session happen?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes, and something was delivered towards the intervention",
      text: "Yes, and something was delivered towards the intervention"
    },
    {
      value: "Yes, but nothing was delivered",
      text: "Yes, but nothing was deliverd"
    },
    {
      value: "No",
      text: "No"
    }
  ]

  
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>
    </div>
  </div>

{% endblock %}
