{% extends "layouts/main.html" %}
​
{% block pageTitle %}
  Case progress
{% endblock %}
​
{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}
​
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
​
{% block content %}
​
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
​
      <h1 class="govuk-heading-l">
        You told us Alex river did not attend the session </h1>
​
<form class="form" action="session-happens-cya" method="post">
​
​
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you know anything about why Alex River did not attend?
              </h1>
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-i-know-why" name="reason-not-attended" type="radio" value="yes" data-aria-controls="attend-yes">
                <label class="govuk-label govuk-radios__label" for="yes-i-know-why">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="attend-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="yes-i-know-why">
                    This might be something you were told by Alex River or someone else. 
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="yes-i-know-why" rows="5"></textarea>
​
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-i-dont-know-why" name="reason-not-attended" type="radio" value="no" data-aria-controls="attend-no">
                <label class="govuk-label govuk-radios__label" for="no-i-dont-know-why">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="attend-no">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Add details about how you tried to contact them and if they picked up the phone or replied to a text.
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="no-i-dont-know-why" rows="5"></textarea>
                </div>
              </div>
              
              
            </div>
          </fieldset>
          <div class="govuk-!-padding-bottom-6"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Were you told before the session that they were not going to attend?
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              This helps the probation practitioner to understand the absence.             </div>
           
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="know-about-lateness-yes" type="radio" value="yes" data-aria-controls="lateness-yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="lateness-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Add when contact was made
                  </label>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                      
                      <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
</div>


              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="know-about-lateness-no" type="radio" value="no" data-aria-controls="lateness-no">
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>
              
              
            </div>
          </fieldset>
        </div>
        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Would you like to reschedule this session?
              </h1>
            </legend>
            <div id="reschedule-session" class="govuk-hint">
              If you select no, you'll still be able to reschedule it later.    </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reschedule-session" name="reschedule-session" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="reschedule-session">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reschedule-session-2" name="reschedule-session" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="reschedule-sessiond-2">
                 No
                </label>
              </div>
              </div>
            
              <div class="govuk-!-padding-bottom-7"></div>
 
          
     {% from "govuk/components/button/macro.njk" import govukButton %}
              ​
      {{ govukButton({
            text: "Save and continue"
                  }) }}
        
      </form>
     
      
    </div>
    
  </div>
​
 
{% endblock %}