
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      
      {% set emailHtml %}
      {{ govukInput({
        id: "contact-by-email",
        name: "contact-by-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "Email address"
        }
      }) }}
      {% endset -%}
      
      {% set phoneHtml %}
      {{ govukInput({
        id: "contact-by-phone",
        name: "contact-by-phone",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Phone number"
        }
      }) }}
      {% endset -%}
      
      {% set textHtml %}
      {{ govukInput({
        id: "contact-by-text",
        name: "contact-by-text",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Mobile phone number"
        }
      }) }}
      {% endset -%}
      
      {{ govukRadios({
        name: "contact",
        fieldset: {
          legend: {
            text: "What was the reason you could not deliver the session?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        
        },
        items: [
          {
            value: "email",
            text: "Email",
            conditional: {
              html: emailHtml
            }
          },
          {
            value: "phone",
            text: "Phone",
            conditional: {
              html: phoneHtml
            }
          },
          {
            value: "text",
            text: "Text message",
            conditional: {
              html: textHtml
            }
          }
        ]
      }) }}
    


    </div>
  </div>

{% endblock %}
