{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Check your answers</h2>
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
     
      <h3 class="govuk-heading-m">Confirm session details</h3>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Session details"
          }
        },
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              html: "17 August 2023"
            },
            actions: {
              items: [
                {
                  
                  visuallyHiddenText: "Date"
                }
              ]
            }
          },
          {
            key: {
              text: "Time"
            },
            value: {
              html: "1:15PM"
            },
            actions: {
              items: [
                {
                
                  visuallyHiddenText: "Time"
                }
              ]
            }
          },
          {
            key: {
              text: "Duration"
            },
            value: {
              html: "1 hour"
            },
            actions: {
              items: [
                {
                  
                  visuallyHiddenText: "Duration"
                }
                
              ]
            }
          },
          {
            key: {
              text: "Method"
            },
            value: {
              html: "Video call"
            },
            actions: {
              items: [
                {
                  
                  visuallyHiddenText: "Video call"
                }
                
              ]
            }
          },
          {
            key: {
              text: "Case worker"
            },
            value: {
              html: "Tim Smith"
            },
            actions: {
              items: [
                {
                  
                  visuallyHiddenText: "Case worker"
                }
                
              ]
            }
          }

        ]
      }) }}
      
      {{ govukSummaryList({
        card: {
          title: {
            text: "Session"
          }
        },
        rows: [
          {
            key: {
              text: "Did the session happen"
            },
            value: {
              text: data['did-session-happen']
            },
            actions: {
              items: [
                {
                  visuallyHiddenText: "Did the session happen"
                }
              ]
            }
          },
          {
            key: {
              text: "What did you do in the session"
            },
            value: {
              text: data['what-did-you-do']
            },
            actions: {
              items: [
                {
                 visuallyHiddenText: "What did you do in the session?"
                }
              ]
            }
          },
          {
            key: {
              text: "How did Alex River respond to the session?"
            },
            value: {
              text: data['how-did-they-respond']
            },
            actions: {
              items: [
              {               
                  visuallyHiddenText: "How did Alex River respond to the session"
                }
              ]
            }
          },
          {
            key: {
              text: "Did anything concern you about Alex River"
            },
            value: {
              text: data['anything-concern-you']
            },
            actions: {
              items: [
                
              ]
            }
          }
        ]
      }) }}
      
      {{ govukSummaryList({
        card: {
          title: {
            text: "Plans for next session"
          }
        },
        rows: [
          {
            key: {
              text: "Add anything you have planned for the next session (optional)"
            },
            value: {
              text: data['details-next-session']
            },
            actions: {
              items: [
                
              ]
            }
          
          }
        ]
      }) }}
      

      {{ govukButton({
        text: "Save and continue",
        href:"/IPB-265/sp/case-progress-assigned-alex_feedback_given.html"
        
      }) }}

      
      

    </div>
  </div>

{% endblock %}
