
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


 



     <form class="form" action="were-they-on-time" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "were-they-on-time",
  fieldset: {
    legend: {
      text: "Was Alex River on?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes, and something was delivered towards the intervention",
      text: "Yes"
    },

   
    {
      value: "No",
      text: "No"
    }
  ]

  
}) }}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Only select no if Alex did not come to the session."
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>
    </div>
  </div>

{% endblock %}
