<div class="govuk-grid-column-one-quarter shortlist">
  <h2 class="govuk-heading-s">Interventions selected</h2>
  <form action="/sprint-6/book-and-manage/make-a-referral/find-an-intervention/confirm-selected-interventions" method="post" class="form">
    <ul class="govuk-list">
      {% if selectedInterventions | length > 0 %}
        {% for intervention in selectedInterventions %}
          <li>{{ intervention.title | capitalize }}</li>
        {% endfor %}
      {% else %}
        <li>None</li>
      {% endif %}
    </ul>
    <button class="govuk-button" data-module="govuk-button">
      Go to the shortlist
    </button>
  </form>
</div>