{% extends "layout.html" %}

{% block pageTitle %}
  Manage interventions and services
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../../includes/primary-navigation.html" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
    {{ serviceUser.name }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% set currentPage = "personal-details" %}
      {% include "./side-navigation.html" %}
    </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l govuk-!-margin-top-2">
      Service user's details
    </h2>
    {% include "./personal-details.html" %}

    <h2 class="govuk-heading-l">
      Additional service user information
    </h2>
    {% include "./additional-information.html" %}
  </div>
</div>

{% endblock %}