{% extends "layouts/main.html" %}

{% block pageTitle %}
  OASys risk information
{% endblock %}

{% block content %}

<div class="govuk-width-container ">      
  <main class="govuk-main-wrapper " id="main-content" role="main">   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/form" class="govuk-back-link">Back</a>
        <br>
        <br>
        <p class="govuk-caption-xl">Valerie Wyman (CRN: X718255) </p>
        <h1 class="govuk-heading-xl">Check all referral information</h1>
        <p class="govuk-body-l">These details will be sent to the service provider. Check they are correct before submitting the referral.</p>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Personal details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  First name
                </dt>
                <dd class="govuk-summary-list__value">
                  Alex
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last name(s)
                </dt>
                <dd class="govuk-summary-list__value">
                  River
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  20 Feb 1975 (47 years old)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender -> Sex [TBC]
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ethnicity
                </dt>
                <dd class="govuk-summary-list__value">
                  Mixed: other
                </dd>
              </div>                  
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Disabilities and adjustments</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disabilities
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pregnancy and maternity (female only display)
                </dt>
                <dd class="govuk-summary-list__value">
                  Not provided
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Language details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Preferred language
                </dt>
                <dd class="govuk-summary-list__value">
                  English
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter required
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Diversity information</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender identity
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sexual orientation
                </dt>
                <dd class="govuk-summary-list__value">
                  Not provided
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Religion or belief
                </dt>
                <dd class="govuk-summary-list__value">
                  Atheist
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Valerie Wyman’s current location and release details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Location at time of referral
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Community</p>
                </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  PDU (Probation Delivery Unit)
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Manchester North</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-pdu?amendPPDetails=true" id="change-link-1">
                          Change<span class="govuk-visually-hidden"> probation practitioner's probation delivery unit</span>
                          </a>
                    
                  </dd>
                
              </div>

              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Release date
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">---</p>
                </dd>
                
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Intervention details</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Intervention type
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Personal wellbeing</p>
                </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sentence
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Aggravated Assaults</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/relevant-sentence" id="change-link-1">
                          Change<span class="govuk-visually-hidden"> sentence</span>
                          </a>
                    
                  </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subcategory
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Aggravated Assaults</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/relevant-sentence" id="change-link-2">
                          Change<span class="govuk-visually-hidden"> subcategory</span>
                          </a>
                    
                  </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End of sentence date
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">21 Aug 2025</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/relevant-sentence" id="change-link-3">
                          Change<span class="govuk-visually-hidden"> end of sentence date</span>
                          </a>
                    
                  </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Maximum number of enforceable days
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">1</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/enforceable-days" id="change-link-4">
                          Change<span class="govuk-visually-hidden"> maximum number of enforceable days</span>
                          </a>
                    
                  </dd>
                
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date intervention to be completed by
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">11 Nov 2025</p>
                </dd>
                
                  <dd class="govuk-summary-list__actions">
                    
                      <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/completion-deadline" id="change-link-5">
                          Change<span class="govuk-visually-hidden"> date the intervention is to be completed by</span>
                          </a>
                    
                  </dd>
                
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Personal wellbeing intervention</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason for referral and further information for the service provider
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">A</p>
                </dd>
                
                <dd class="govuk-summary-list__actions">     
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/reason-for-referral?amendPPDetails=true" id="change-link-0">
                    Change<span class="govuk-visually-hidden"> reason for referral and referral details</span>
                  </a> 
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Selected services
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list"><li>Family and significant others</li></ul>
                </dd>
                
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/service-categories" id="change-link-1">
                    Change<span class="govuk-visually-hidden"> selected services</span>
                  </a>      
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Family and significant others service</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Complexity level
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Low complexity</p>
                  <p class="govuk-body"></p>
                  <p class="govuk-body">Service user has positive contact with some family or some significant others and may have positive support of family members. Service user has previously lost contact with family and recently renewed contacts but there remain some difficulties.</p>
                </dd>
                <dd class="govuk-summary-list__actions">     
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/service-category/9556a399-3529-4993-8030-41db2090555e/complexity-level" id="change-link-0">
                    Change<span class="govuk-visually-hidden"> complexity level</span>
                  </a>             
                </dd>     
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Desired outcomes
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list"><li>Service User demonstrates confident and responsible parenting behaviours.</li></ul>
                </dd>           
                <dd class="govuk-summary-list__actions">             
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/service-category/9556a399-3529-4993-8030-41db2090555e/desired-outcomes" id="change-link-1">
                    Change<span class="govuk-visually-hidden"> desired outcomes</span>
                  </a>             
                </dd>          
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Probation practitioner details</h2>
          </div>

          <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Natalie Wood</p>
              </dd>  
              <dd class="govuk-summary-list__actions">           
                <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-name?amendPPDetails=true" id="change-link-0">
                  Change<span class="govuk-visually-hidden"> probation practitioner's name</span>
                </a>           
              </dd>         
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">natalie.wood@digital.justice.gov.uk</p>
              </dd>      
              <dd class="govuk-summary-list__actions">          
                <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-email-address?amendPPDetails=true" id="change-link-1">
                  Change<span class="govuk-visually-hidden"> probation practitioner's email address</span>
                </a>           
              </dd>          
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Not provided</p>
              </dd>
              
              <dd class="govuk-summary-list__actions">          
                <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-phone-number?amendPPDetails=true" id="change-link-2">
                  Change<span class="govuk-visually-hidden"> probation practitioner's phone number</span>
                </a>
              </dd>        
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                PDU (Probation Delivery Unit)
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Manchester North</p>
              </dd>     
              <dd class="govuk-summary-list__actions">           
                <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-pdu?amendPPDetails=true" id="change-link-3">
                  Change<span class="govuk-visually-hidden"> probation practitioner's probation delivery unit</span>
                </a>           
              </dd>         
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Team phone number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Not provided</p>
              </dd>          
              <dd class="govuk-summary-list__actions">           
                <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/update-probation-practitioner-team-phone-number?amendPPDetails=true" id="change-link-4">
                  Change<span class="govuk-visually-hidden"> probation practitioner's team phone number</span>
                </a>         
              </dd>        
            </div>
          </dl>
        </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Back up contact for the referral</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Referring officer
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">REFER_MONITOR_PP</p>
                </dd>         
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">interventions-devs+another@digital.justice.gov.uk</p>
                </dd>        
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Valerie Wyman’s last known address and contact details</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last known address
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list"><li>Not found</li></ul>
                </dd>          
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list"></ul>
                </dd>    
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list"></ul>
                </dd>    
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Valerie Wyman’s needs and requirements</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Identify needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">AAAA</p>
                </dd>    
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/needs-and-requirements" id="change-link-0">
                    Change<span class="govuk-visually-hidden"> identified needs</span>
                  </a>           
                </dd>        
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Mobility, disability or accessibility needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">AAA</p>
                </dd>       
                <dd class="govuk-summary-list__actions">            
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/needs-and-requirements" id="change-link-1">
                    Change<span class="govuk-visually-hidden"> mobility, disability or accessibility needs</span>
                  </a>   
                </dd> 
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter required
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">No</p>
                </dd>
                
                <dd class="govuk-summary-list__actions">            
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/needs-and-requirements" id="change-link-2">
                    Change<span class="govuk-visually-hidden"> whether an interpreter is required</span>
                  </a>           
                </dd>      
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter language
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">N/A</p>
                </dd>
                <dd class="govuk-summary-list__actions">             
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/needs-and-requirements" id="change-link-3">
                    Change<span class="govuk-visually-hidden"> interpreter language</span>
                  </a>            
                </dd>         
              </div>

              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                  Primary language
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">N/A</p>
                </dd>        
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Caring or employment responsibilities
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">No</p>
                </dd>         
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/needs-and-requirements" id="change-link-5">
                    Change<span class="govuk-visually-hidden"> caring or employment responsibilities</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Valerie Wyman’s OAsys risk information</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Who is at risk
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>        
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-0">
                    Change<span class="govuk-visually-hidden"> change who is at risk</span>
                  </a>           
                </dd>         
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Nature of risk
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>         
                <dd class="govuk-summary-list__actions">          
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-1">
                    Change<span class="govuk-visually-hidden"> nature of risk</span>
                  </a>
                </dd>         
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When risk likely to be greatest
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd> 
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-2">
                    Change<span class="govuk-visually-hidden"> when risk likely to be greatest</span>
                  </a>    
                </dd>       
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Concerns relating to self harm
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>
                <dd class="govuk-summary-list__actions">            
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-3">
                    Change<span class="govuk-visually-hidden"> concerns relating to self harm</span>
                  </a>           
                </dd>      
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Concerns relating to suicide
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>         
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-4">
                    Change<span class="govuk-visually-hidden"> concerns relating to suicide</span>
                  </a>           
                </dd>        
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Concerns relating to coping in a hotel setting
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>         
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-5">
                    Change<span class="govuk-visually-hidden"> concerns relating to coping in a hotel setting</span>
                  </a>          
                </dd>         
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Concerns relating to vulnerability
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>         
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-6">
                    Change<span class="govuk-visually-hidden"> concerns relating to vulnerability</span>
                  </a>         
                </dd>         
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional risk information
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body"></p>
                </dd>
                <dd class="govuk-summary-list__actions">           
                  <a class="govuk-link" href="/referrals/ed8b5b32-a95e-49de-b34a-f1a8ee3926d2/edit-oasys-risk-information" id="change-link-7">
                    Change<span class="govuk-visually-hidden"> additional risk information</span>
                  </a>           
                </dd>      
              </div>
            </dl>
          </div>
        </div>

        <form method="post" action="send">
          <input type="hidden" name="_csrf" value="WzHYKwjB-a9FKFghl-7iuX89P1tQCObF0-UY">
          <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Submit referral
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
