{% extends "layouts/main.html" %}

{% block pageTitle %}
Review Alex River's information
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="risk-info">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Alex River (CRN: D002399)</span>
            <h1 class="govuk-fieldset__heading">
              Review Alex River's information
            </h1>
          </legend>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
      
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Personal details</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        First name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Alex
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last name(s)
                      </dt>
                      <dd class="govuk-summary-list__value">
                        River
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of birth
                      </dt>
                      <dd class="govuk-summary-list__value">
                        20 Feb 1975 (47 years old)
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Gender -> Sex [TBC]
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Male
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Ethnicity
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mixed: other
                      </dd>
                    </div>                  
                  </dl>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Disabilities and adjustments</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Disabilities
                      </dt>
                      <dd class="govuk-summary-list__value">
                        None
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Pregnancy and maternity (female only display)
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Not provided
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Language details</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Preferred language
                      </dt>
                      <dd class="govuk-summary-list__value">
                        English
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Interpreter required
                      </dt>
                      <dd class="govuk-summary-list__value">
                        No
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Diversity information</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Gender identity
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Male
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Sexual orientation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Not provided
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Religion or belief
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Atheist
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Address and contact details</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Address
                      </dt>
                      <dd class="govuk-summary-list__value">
                        1 Lunar Lane<br>Manchester<br>M14 9PR
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Phone number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        07849 372981
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Email address
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Not found
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          </fieldset>
          </div>
    {{ govukButton({
      text: 'Save and continue'
    }) }}

    </form>

  </div>
</div>

{% endblock %}
