<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details govuk-width-container govuk-body">
    <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-body-l govuk-!-margin-right-6"><strong>
        Darren Wicks</strong></span>
        <span class="govuk-body"><strong>CRN: </strong>D927438</span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body"><strong>Date of birth: </strong>17 Jun 1978</span> |
        <span class="govuk-body"><strong>Contact number: </strong>07374 982734</span> |
        <span class="govuk-body"><strong>Email address: </strong>Not found</span>
      </div>
    </div>
  </div>
</section>
