// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/screenshots";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/referral-header";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-panel--sidebar {
  text-align: left !important;
  background: #eeee;
  padding-top: 0 !important;
}

.app-pagination {
  display: flex;
}

.app-pagination__controls {
  display: inline;
  margin-left: auto;
  
  li {
    display: inline;
    margin-left: 0.4rem;
  }
}

.app-archive__controls {
  display: flex;
}

.app-archive__controls-filter {
  /* TODO why couldn’t I get :last-child to work? */
  margin-left: 2rem;
}

.govuk-button {
  &--blue {
    background-color: govuk-colour("blue") !important;
    margin-right: 10rem;
  }
}
