//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
.key-details-bar {
    background-color: #1d70b8;
}
.key-details-bar .govuk-body, .key-details-bar .govuk-body-l {
    color: #fff;
}
.key-details-bar span {
    white-space: nowrap;
}
.key-details-bar .key-details-bar__key-details {
    padding: 20px 0;
    position: relative;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__name {
    line-height: 1.04167;
    line-height: 1.11111;
    margin-inline-start: 0;
    margin-right: 10px;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    margin-top: 6px;
    padding-top: 10px;
}

.result-info {
    margin: 0 0 20px 0;
    border-bottom: solid 1px #0b0c0c;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-half {
        width: 50%;
        float: left;
    }
}

@media (min-width: 40.0625em) {
    .govuk-form-group {
        margin-bottom: 30px;
    }
}

.sort-options .sort-options__label {
    padding-right: 5px;
    display: inline-block;
    margin-bottom: 15px;
}

.gem-c-document-list__item:first-child {
    margin-top: 0;
}

.gem-c-document-list__item {
    padding-top: 10px;
    border-top: 1px solid #b1b4b6;
    list-style: none;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-title {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.gem-c-document-list--no-underline .gem-c-document-list__item-title .govuk-link {
    text-decoration: none;
}

.govuk-grid-column-one-half {
    box-sizing: border-box;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-description, .gem-c-document-list__subtext {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.gem-c-document-list__item-description {
    margin: 5px 0;
    /* color: #0b0c0c; */
}

.gem-c-document-list__item-metadata {
    padding: 0;
}

.gem-c-document-list__attribute {
    color: #505a5f;
}
@media (min-width: 40.0625em) {
    .gem-c-document-list__attribute {
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-title {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.finder-results {
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.tag-filters{
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    max-width:100%;
    margin-right: 5px
}

ul.govuk-list.search-result-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}