//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here


.key-details-bar {
    background-color: #1d70b8;
}


.key-details-bar .govuk-body, .key-details-bar .govuk-body-l {
    color: #fff;
}

.key-details-bar span {
    white-space: nowrap;
}

.key-details-bar .key-details-bar__key-details {
    padding: 20px 0;
    position: relative;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__name {
    line-height: 1.04167;
    line-height: 1.11111;
    margin-inline-start: 0;
    margin-right: 10px;
}

.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    margin-top: 6px;
    padding-top: 10px;
}

.result-info {
    margin: 0 0 20px 0;
    border-bottom: solid 1px #0b0c0c;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-half {
        width: 50%;
        float: left;
    }
}

@media (min-width: 40.0625em) {
    .govuk-form-group {
        margin-bottom: 30px;
    }
}

.sort-options .sort-options__label {
    padding-right: 5px;
    display: inline-block;
    margin-bottom: 15px;
}

.gem-c-document-list__item:first-child {
    margin-top: 0;
}

.gem-c-document-list__item {
    padding-top: 10px;
    border-top: 1px solid #b1b4b6;
    list-style: none;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-title {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.govuk-grid-column-one-half {
    box-sizing: border-box;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-description, .gem-c-document-list__subtext {
        font-size: 1.1875rem;
        line-height: 1.5;
    }
}

.gem-c-document-list__item-description {
    margin: 5px 0;
    /* color: #0b0c0c; */
}

.gem-c-document-list__item-metadata {
    padding: 0;
}

.gem-c-document-list__attribute {
    color: #505a5f;
}
@media (min-width: 40.0625em) {
    .gem-c-document-list__attribute {
        font-size: 1.1875rem;
        line-height: 1.25;
    }
}

@media (min-width: 40.0625em) {
    .gem-c-document-list__item-title {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

// DPS header
@import "components/dps-header";

.finder-results {
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 40.0625em) {
    .gem-c-document-list {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.tag-filters{
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    max-width:100%;
    margin-right: 5px
}

ul.govuk-list.search-result-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

th.moj-fixed-width-40 {
    width: 50%;
}

.moj-badge--orange {
    border-color: #a34e00;
    color: #a34e00;
}

.gem-c-document-list__item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rosh-widget--high {
    border: 3px solid #d4351c;
    padding: 20px;
}

.rosh-widget--unknown {
    border: 3px solid #ffdd00;
    padding: 20px;
}

.rosh-widget--unable {
    border: 3px solid #505a5f;
    padding: 20px;
}

.rosh-widget--medium {
    border: 3px solid #f47738;
    padding: 20px;
}

.rosh-widget--low {
    border: 3px solid #85994b;
    padding: 20px;
}

.rosh-widget--info-missing {
    border: 3px solid #1d70b8;
}

.mappa-widget--purple {
    border: 3px solid #4C2C92;
    padding: 20px;
}

.risk-flag-widget {
    border: 3px solid #93afc3;
    background-color: #ebf7ff;
    padding: 20px;
    margin-bottom: 20px;
}

.rosh-widget__risk--low {
    color: #485b10;
    font-weight: bold;
    text-align: left;
}

.rosh-widget__risk--medium {
    color: #a34e00;
    font-weight: bold;
    text-align: left;
}

.rosh-widget__risk--high {
    color: #942514;
    font-weight: bold;
    text-align: left;
}

.rosh-widget__table tbody th {
    font-weight: 400;
}

.moj-header {
    background-color: #0b0c0c;
    border-bottom: 10px solid #1d70b8;
    padding-top: 15px;
}

.govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
    max-width: 1220px;
    margin: 0 15px;
  }
  
  @media (min-width: 40.0625em) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
      margin: 0 30px;
    }
  }
  @media (min-width: 1020px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
      margin: 0 30px;
    }
  }
  @media (min-width: 1280px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
      margin: 0 auto;
    }
  }

.gem-c-attachment {
    position: relative;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}
.gem-c-attachment__thumbnail {
    position: relative;
    width: auto;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 5px;
    float: left;
}
.gem-c-attachment__thumbnail-image {
    display: block;
    width: auto;
    max-width: 99px;
    height: 140px;
    border: rgba(11, 12, 12, .1);
    outline: 5px solid rgba(11, 12, 12, .1);
    background: #fff;
    box-shadow: 0 2px 2px rgba(11, 12, 12, .4);
    fill: #b1b4b6;
    stroke: #b1b4b6;
}

.gem-c-attachment__details {
    padding-left: 134px;
}

.gem-c-attachment__link {
    line-height: 1.29;
}

.gem-c-attachment__metadata {
    margin: 0 0 15px;
    color: #505a5f;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.gem-c-attachment__metadata .gem-c-attachment__attribute {
    overflow-wrap: break-word;
}

.app-c-published-dates {
    direction: ltr;
    line-height: 1.45em;
    color: #0b0c0c;
}

.red{
    color: #942514;
}

.orange{
    color: #a34e00;;
}

.green{
    color: #485b10;
}

.purple{
    color: #4C2C92;
}

.blue{
    color: #1d70b8;;
}

.grey{
    color: #6e777a;
}

.moj-filter__tag_nox {
    font-weight: 400;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #0b0c0c;
    background-color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.moj-filter__tag_nox:link, .moj-filter__tag:visited {
    color: #0b0c0c;
}

.moj-filter__tag:after {
    background-image: url(../images/icon-tag-remove-cross.svg);
    content: "";
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
}

.moj-filter__tag_nox:after {
    content: "";
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
}

@media (min-width: 40.0625em) {
    .moj-filter__tag {
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media (min-width: 40.0625em) {
    .moj-filter__tag_nox {
        font-size: 1rem;
        line-height: 1.25;
    }
}

.moj-filter__tag:hover:after {
    background-image: url(../images/icon-tag-remove-cross-white.svg);
}

.moj-filter__tag:hover_nox:after {
    background-image: url(../images/icon-tag-remove-cross-white.svg);
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--low .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--medium .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--high .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

.predictor-timeline-item--low {
    outline: 3px solid #85994b;
    padding: 0;
    display: inline-block;
}

.predictor-timeline-item--medium {
    outline: 3px solid #f47738;
    padding: 0;
    display: inline-block;
}

.predictor-timeline-item--high {
    outline: 3px solid #d4351c;
    padding: 0;
    display: inline-block;
}

.predictor-timeline-item--low .predictor-timeline-item__level {
    color: #485b10;
}

.predictor-timeline-item--medium .predictor-timeline-item__level {
    color: #a34e00;
}

.predictor-timeline-item--high .predictor-timeline-item__level {
    color: #942514;;
}

.predictor-timeline-item--low > span {
    padding: 3px 6px;
}

.predictor-timeline-item--medium > span {
    padding: 3px 6px;
}

.predictor-timeline-item--high > span {
    padding: 3px 6px;
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--low .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--medium .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

@media (min-width: 40.0625em) {
    .predictor-timeline-item--high .predictor-timeline-item__level {
        font-size: 0.875rem;
        line-height: 1.4285714286;
    }
}

ul#country__listbox {
    font-family: 'GDS Transport';
}

.card {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d9dadb;
    position: relative;
    width: 100%;
    padding: 25px;
  }
  
  .card__heading {
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .card__description {
    margin-bottom: 0;
  }
  
  .card--clickable {
    border-bottom-width: 5px;
  }
  
  .card--clickable:hover, .card--clickable:active {
    cursor: pointer;
  }
  
  .card--clickable:hover .card__heading a, .card--clickable:hover .card__link, .card--clickable:active .card__heading a, .card--clickable:active .card__link {
    color: #003078;
    text-decoration: none;
  }
  
  .card--clickable:hover .card__heading a:focus, .card--clickable:hover .card__link:focus, .card--clickable:active .card__heading a:focus, .card--clickable:active .card__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }
  
  .card--clickable:hover {
    border-color: #b1b4b6;
  }
  
  .card--clickable:active {
    border-color: #b1b4b6;
    bottom: -1px;
  }
  
  .card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 0;
  }
  
  @media (max-width: 48.0525em) {
    .card-group {
      margin-bottom: 30px;
    }
  }
  .card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
  }
  
  @media (max-width: 48.0525em) {
    .card-group__item {
      flex: 0 0 100%;
    }
  }
  .card-group__item .card {
    margin-bottom: 25px;
  }
  
  @media (max-width: 48.0525em) {
    .card-group__item .card {
      margin-bottom: 15px;
    }
    .card-group__item:last-child .card {
      margin-bottom: 0;
    }
  }

  .homepage-search {
    padding: 30px 0;
    background-color: #e0eef8;
  }
  
  .homepage-content {
    padding: 30px 0;
    background: #f0f4f5;
  }
  
  .homepage-content {
    margin-bottom: -50px;
  }

  .moj-special-width-container {
    max-width: initial !important;
  }
  
  .moj-special-width-container {
    margin: 0 !important;
  }
  
  .moj-width-container {
    /*max-width: 1170px; */
    max-width: 1220px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  @media (min-width: 40.0625em) {
  .moj-width-container {
      margin: 0 30px;
    }
  }
  
  @media (min-width: 1230px) {
    .moj-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .acp-home .govuk-main-wrapper {
	padding-top: 0;
}

.govuk-tag {
    max-width: none;
  }
  
.float-right {
    float: right;
  }
  
.clear-right {
    clear: right !important;
  }
  
.clear {
    clear: both !important;
  }

@media (min-width: 1280px) {
@supports (margin: max(calc(0px))) {
    .refer-and-monitor__primary-navigation .moj-primary-navigation__container {
        margin-right: auto;
        margin-left: auto;
    }
    }
}

@media (min-width: 48.0625em) {
    .moj-primary-navigation__nav {
        display: inline-block;
        vertical-align: middle;
    }
}

.moj-primary-navigation__nav {
    text-align: left;
}

.govuk-tag-feedback {
    display: inline-block;
    outline: 2px solid rgba(0, 0, 0, 0);
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.refer-and-monitor__filters .govuk-form-group {
    margin-bottom: 35px;
    max-height: 450px;
    overflow-y: auto;
}

.find-filters--scrollable {
    margin-bottom: 0;
}

.govuk-fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

@media (min-width: 40.0625em) {
    .govuk-checkboxes__item {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.app-oasys-text--dark-grey {
    color: #505a5f;
}
.app-oasys-text {
    font-weight: bold;
}