{% extends "layout.html" %}

{% block pageTitle %}
  nDelius user lookup
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "referral-task-list"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/service-user-details/show" class="form">
        {{ govukInput({
          label: {
            text: "Enter service user CRN",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Searching for user details in nDelius requires a running instance of the Community API"
          },
          id: "service-user-id",
          name: "crn",
          value: data["service-user-id"],
          type: "text",
          autocomplete: "CRN number",
          attributes: "{{data['service-user-id']}}",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}