{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Referral cancellation request for Alex River</h2>
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
     
      <p>Service Provider (service-provider@mail.co.uk) has requested a cancelation </p>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Intervention details"
          }
        },
        rows: [
          {
            key: {
              text: "Service type"
            },
            value: {
              html: "	
              Accommodation"
            },
            actions: {
              items: [
                {
                  
                  
                }
              ]
            }
          },
          {
            key: {
              text: "Reason for cancellation"
            },
            value: {
              html: "Disengaged"
            },
            actions: {
              items: [
                {
                
                  visuallyHiddenText: "Time"
                }
              ]
            }
          },
          {
            key: {
              text: "Date intervention to be completed by"
            },
            value: {
              html: "24 January 2024"
            },
            actions: {
              items: [
                {
                  
                  visuallyHiddenText: "Date intervention to be completed by"
                }
                
              ]
            }
          }
          

        ]
      }) }}

      <form action="cancellation-request" method="post"> 
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Would you like to cancel this intervention?
            </h1>
          </legend>
         
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-want-to-cancel" name="do-you-want-to-cancel" type="radio" value="yes" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="do-you-want-to-cancel">
                Yes
              </label>
            </div>
           
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-want-to-cancel-2" name="do-you-want-to-cancel" type="radio" value="no" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="do-you-want-to-cancel-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Explain why you are not cancelling this referral. The service provider will be emailed this information.
              </label>
              
              <textarea class="govuk-textarea " id="another-reason-explanation" rows="5" name="anotheReasonExplanation" type="another-reason" spellcheck="false" autocomplete="email"></textarea>
              
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-want-to-cancel-3" name="do-you-want-to-cancel" type="radio" value="text" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="do-you-want-to-cancel-3">
                No, I would like to change it instead
              </label>
            </div>
            
          </div>
        </fieldset>
      </div>
      
      {{ govukButton({
        text: "Confirm and send"
      }) }}
     
    </form>   
          
 
      

    </div>
  </div>

{% endblock %}
