
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
            What parts of Alex River referral would you like to change?
        </h1>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
        Please select one
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-referral" name="change-referral" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="change-referral">
            Maximum number of enforceable days
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-referral-2" name="change-referral" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="change-referral-2">
            Date intervention to be completed by
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-referral-3" name="change-referral" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="wchange-referral-3">
            Alex River's needs and requirements: Other mobility, disability or accessibility needs
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-referral-4" name="change-referral" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="change-referral-4">
            Alex River's needs and requirements: Interpreter required
          </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="change-referral-5" name="change-referral" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="change-referral-5">
              Alex River's needs and requirements: Caring or employment responsibilities
            </label>
          </div>
          

      </div>
      <div class="govuk-!-padding-bottom-7"></div>

      
      {{ govukButton({
        text: "Confirm",
        href:"case-progress-assigned-alex-ammed"
        
        
      }) }}

      
  
    </fieldset>
    

   
  </div>

    

{% endblock %}
