{% extends "layout.html" %}

{% block pageTitle %}
  Session {{sessionIndex + 1}}: assessment
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Session {{sessionIndex + 1}}: assessment</h1>

      <form method="post" action="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/sessions/{{sessionIndex}}/assessment">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Did {{ referral.serviceUser.firstName }} attend session {{sessionIndex + 1}}?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="attended-on-time" name="attended" type="radio" value="on-time">
                <label class="govuk-label govuk-radios__label" for="attended-on-time">Yes, on time</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="attended-late" name="attended" type="radio" value="late">
                <label class="govuk-label govuk-radios__label" for="attended-late">Late arrival</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="attended-no" name="attended" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="attended-no">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="attendance-comment">
            Is there any extra remark about the attendance?
          </label>

          <textarea class="govuk-textarea" id="attendance-comment" name="attendance-comment"></textarea>
        </div>

        {% for aspect in ["behaviour", "attitude", "relationship management skills"] %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Assess {{ referral.serviceUser.firstName }}’s {{ aspect }}</h2>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{aspect}}-1" name="{{aspect}}" type="radio" value="1">
                  <label class="govuk-label govuk-radios__label" for="{{aspect}}-1">1 - Poor</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{aspect}}-2" name="{{aspect}}" type="radio" value="2">
                  <label class="govuk-label govuk-radios__label" for="{{aspect}}-2">2 - Fair</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{aspect}}-3" name="{{aspect}}" type="radio" value="3">
                  <label class="govuk-label govuk-radios__label" for="{{aspect}}-3">3 - Good</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{aspect}}-4" name="{{aspect}}" type="radio" value="4">
                  <label class="govuk-label govuk-radios__label" for="{{aspect}}-4">4 - Very good</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{aspect}}-5" name="{{aspect}}" type="radio" value="5">
                  <label class="govuk-label govuk-radios__label" for="{{aspect}}-5">5 - Excellent</label>
                </div>
              </div>
            </fieldset>

          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="{{aspect}}-justification">
              Why did you give {{ referral.serviceUser.firstName }} that rating?
            </label>

            <textarea class="govuk-textarea" id="{{aspect}}-justification" name="{{aspect}}-justification"></textarea>
          </div>
        {% endfor %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Do you want to alert the probation practitioner by sending them a copy of the assessment?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="alert-yes" name="alert" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="alert-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="alert-no" name="alert" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="alert-no">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="alert-content">
            If ‘Yes’, what do you want to alert the probation practitioner about?
          </label>

          <textarea class="govuk-textarea" id="alert-content" name="alert-content"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Have there been any safeguarding issues?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="safeguarding-issues-yes" name="safeguarding-issues" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="safeguarding-issues-yes">Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="safeguarding-issues-no" name="safeguarding-issues" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="safeguarding-issues-no">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="safeguarding-issues-content">
            If ‘Yes’, what are the safeguarding issues?
          </label>

          <textarea class="govuk-textarea" id="safeguarding-issues-content" name="safeguarding-issues-content"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label for="facilitator" class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">What is the name of the facilitator?</h2>
            </label>
            <input class="govuk-input" id="facilitator" name="facilitator">
          </fieldset>
        </div>

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit the assessment">
      </form>
    </div>
  </div>
{% endblock %}
