{#<h1>End of service report</h1>#}

{#<form method="post" action="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/end-of-service-report">#}
  {#{% for goal in intervention.goals %}#}
    {#<h2>Did Alex achieve goal {{ loop.index }}?</h2>#}
    {#<p>{{ intervention.goals[loop.index0].text }}</p>#}
  {#{% endfor %}#}

  {#<input type="submit" value="Submit the report">#}
{#</form>#}

{% extends "layout.html" %}

{% block pageTitle %}
  End of service report
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">End of service report</h1>

      <h2 class="govuk-heading-l">Personal details</h2>

      <dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Other names</dt>
	  <dd class="govuk-summary-list__value">Shorty</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">Flat 2<br>27 Test Walk<br>SY16 1AQ<br><br>Private rental</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Nationality</dt>
	  <dd class="govuk-summary-list__value">British</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Ethnic group</dt>
	  <dd class="govuk-summary-list__value">White: British</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Preferred language</dt>
	  <dd class="govuk-summary-list__value">English</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Sex</dt>
	  <dd class="govuk-summary-list__value">Heterosexual</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Religion or belief</dt>
	  <dd class="govuk-summary-list__value">None</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Disabilities</dt>
	  <dd class="govuk-summary-list__value">Autism spectrum condition</dd>
	</div>
      </dl>

      <form method="post" action="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/end-of-service-report">

        {% for goal in intervention.goals %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Did Alex achieve goal {{ loop.index }}?</h2>
              </legend>

              <p class="govuk-body">{{ intervention.goals[loop.index0].text }}</p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="goal-{{loop.index0}}-achieved" name="goal-{{loop.index0}}" type="radio" value="achieved">
                  <label class="govuk-label govuk-radios__label" for="goal-{{loop.index0}}-achieved">Achieved</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="goal-{{loop.index0}}-partially-achieved" name="goal-{{loop.index0}}" type="radio" value="partially-achieved">
                  <label class="govuk-label govuk-radios__label" for="goal-{{loop.index0}}-partially-achieved">Partially achieved</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="goal-{{loop.index0}}-not-achieved" name="goal-{{loop.index0}}" type="radio" value="not-achieved">
                  <label class="govuk-label govuk-radios__label" for="goal-{{loop.index0}}-not-achieved">Not achieved</label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="goal-{{loop.index0}}-details">
              Provide details about Alex’s performance during the intervention.
            </label>

            <textarea class="govuk-textarea" id="goal-{{loop.index0}}-details" name="goal-{{loop.index0}}-details"></textarea>
          </div>
        {% endfor %}

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit the report">
      </form>
    </div>
  </div>
{% endblock %}
