{% extends "layout.html" %}

{% block pageTitle %}
  Manage intervention referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals" class="govuk-back-link">Return to cases and referrals</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Intervention delivery</h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
	<h2 class="govuk-tabs__title">
	  Contents
	</h2>
	<ul class="govuk-tabs__list">
	  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
	    <a class="govuk-tabs__tab" href="#intervention-progress">
	      Intervention progress
	    </a>
	  </li>
	  <li class="govuk-tabs__list-item">
	    <a class="govuk-tabs__tab" href="#referral-details">
	      Referral details
	    </a>
	  </li>
	</ul>
	<div class="govuk-tabs__panel" id="intervention-progress">
	  <p class="govuk-body">
	  On this page you can:
	  </p>

	  <ul class="govuk-list govuk-list--bullet">
	    <li>enter the scheduled date of an initial assessment</li>
	    <li>create the action plan and submit to the probation practitioner for approval</li>
	    <li>track the progress of the intervention</li>
	    <li>complete the end of service report for the intervention</li>
	  </ul>

	  <h2 class="govuk-heading-l">Intervention overview</h2>

	  <dl class="govuk-summary-list">
	    <div class="govuk-summary-list__row">
	      <dt class="govuk-summary-list__key">Intervention</dt>
	      <dd class="govuk-summary-list__value">{{ intervention.name }}</dd>
	    </div>
	    <div class="govuk-summary-list__row">
	      <dt class="govuk-summary-list__key">Service user</dt>
	      <dd class="govuk-summary-list__value">Alex River</dd>
	    </div>
	    <div class="govuk-summary-list__row">
	      <dt class="govuk-summary-list__key">Probation practitioner</dt>
	      <dd class="govuk-summary-list__value">Jessica Reel</dd>
	    </div>
	  </dl>

	  <h2 class="govuk-heading-l">Initial assessment</h2>

	  <p class="govuk-body">
	  Enter the date of the initial assessment. If it is not scheduled, use the communications tool to contact the probation practitioner online.
	  </p>

	  <table class="govuk-table">
	    <thead class="govuk-table__head">
	      <tr class="govuk-table__row">
		<th scope="col" class="govuk-table__header">Probation practitioner</th>
		<th scope="col" class="govuk-table__header">Date</th>
		<th scope="col" class="govuk-table__header">Status</th>
		<th scope="col" class="govuk-table__header">Action</th>
	      </tr>
	    </thead>
	    <tbody class="govuk-table__body">
	      <tr class="govuk-table__row">
		<td class="govuk-table__cell">Jessica Reel</td>
		<td class="govuk-table__cell">{{ intervention.initialAssessment.date }}</td>
		<td class="govuk-table__cell"><strong class="{{ cssClassForInitialAssessmentStatus(intervention.initialAssessmentStatus) }}">{{ intervention.initialAssessmentStatus }}</strong></td>
		{% if intervention.initialAssessment != null %}
		  <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>
		{% else %}
		  <td class="govuk-table__cell"><a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/initial-assessment">Schedule</a></td>
		{% endif %}
	      </tr>
	    </tbody>
	  </table>

	  {% if initialAssessmentScheduled %}
	    <h2 class="govuk-heading-l">Action plan</h2>

	    <p class="govuk-body">
	    Create the action plan and submit it to the probation practitioner for approval
	    </p>

	    <table class="govuk-table">
	      <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header">Intervention</th>
		  <th scope="col" class="govuk-table__header">Status</th>
		  <th scope="col" class="govuk-table__header">Action</th>
		</tr>
	      </thead>
	      <tbody class="govuk-table__body">
		{% if intervention.initialAssessment != null %}
		  <tr class="govuk-table__row">
		    <td class="govuk-table__cell">{{intervention.name}}</td>
		    <td class="govuk-table__cell"><strong class="{{cssClassForActionPlanStatus(intervention.actionPlanStatus)}}">{{intervention.actionPlanStatus}}</strong></td>
		    <td class="govuk-table__cell">
		      <a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/action-plan">
			{% if intervention.actionPlanStatus == "pending" or intervention.actionPlanStatus == "completed" %}
			  View
			{% elif intervention.actionPlanStatus == "in progress" %}
			  Edit
			{% elif intervention.actionPlanStatus == "not started" %}
			  Set up
			{% endif %}
		      </a>
		    </td>
		  </tr>
		{% endif %}
	      </tbody>
	    </table>
	  {% endif %}

	  {% if true %}
	    {#TODO conditional logic #}
	    <h2 class="govuk-heading-l">Intervention progress track</h2>

	    <p class="govuk-body">
	    You can track the progress of the sessions here.
	    </p>

	    <table class="govuk-table">
	      <thead class="govuk-table__header" class="govuk-table__head">
		<tr class="govuk-table-row">
		  <th class="govuk-table__header" scope="col">Session title</th>
		  <th class="govuk-table__header" scope="col">Date</th>
		  <th class="govuk-table__header" scope="col">Time</th>
		  <th class="govuk-table__header" scope="col">Status</th>
		  <th class="govuk-table__header" scope="col">Action</th>
		</tr>
	      </thead>

	      {% for session in intervention.sessions %}
		<tr class="govuk-table-row">
		  <td class="govuk-table__cell">{{ session.title }}</td>
		  <td class="govuk-table__cell">{{ moment(session.date).format("D/M/YYYY") }}</td>
		  <td class="govuk-table__cell">{{ session.startTime }} to {{ session.endTime }}</td>
		  <td class="govuk-table__cell ">
		    <strong class="{{ cssClassForSessionStatus(session.status) }}">{{ session.status }}</strong>
		  </td>
		  <td class="govuk-table__cell">
		    {% if session.status === "completed" %}
		      <a class="govuk-link" href="#">View</a>
		    {% elif session.status === "pending" %}
		      <a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/sessions/{{loop.index0}}/assessment">Assess</a>
		    {% endif %}
		  </td>
		</tr>
	      {% endfor %}
	    </table>
	  {% endif %}

	  {% if readyForEndOfServiceReport %}
	    <h2 class="govuk-heading-l">End of service report</h2>

	    <p class="govuk-body">
	    You can complete and submit the end of service report here.
	    </p>

	    <table class="govuk-table">
	      <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header">Probation practitioner</th>
		  <th scope="col" class="govuk-table__header">Status</th>
		  <th scope="col" class="govuk-table__header">Action</th>
		</tr>
	      </thead>
	      <tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">Jessica Reel</td>
		  <td class="govuk-table__cell">TODO status</td>
		  {# TODO conditional on status #}
		  {% if true %}
		    <td class="govuk-table__cell"><a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/end-of-service-report">Start</a></td>
		  {% else %}
		    <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>
		  {% endif %}
		</tr>
	      </tbody>
	    </table>
	  {% endif %}
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="referral-details">
	  <h2 class="govuk-heading-l">Referral details</h2>

	  <p class="govuk-body">To-do</p>
	</div>
      </div>

      <p class="govuk-body">
      {% if intervention.actionPlanSubmitted and not intervention.actionPlanApproved %}
	<a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/fast-forward/action-plan-approved">Fast-forward to action plan approved</a>
      {% endif %}

      {% if intervention.actionPlanApproved and not allSessionsCompleted %}
	<a class="govuk-link" href="/sprint-4/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/fast-forward/sessions-completed">Fast-forward to sessions completed</a>
      {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
