{% extends "layout-pp.html" %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{% block content %}
<div class="govuk-grid-row">
<h1 class="govuk-heading-xl">{{ pages[pageName].title }}</h1>
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#1">My cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#2">All open cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Unassigned cases (20)</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Completed cases</a>
        </li>
      </ul>

    </nav>

    <form class="horizontal-form" data-test="homepage-search-form">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="keywords">Name or prison number</label> <input class="govuk-input" data-test="homepage-search-keywords" id="keywords" name="keywords" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="location">Residential location</label> <select class="govuk-select" data-test="homepage-search-location" id="location" name="location">
                    <option value="WRI">
                        Ranby (HMP)
                    </option>
                    <option value="WRI-A">
                        A
                    </option>
                    <option value="WRI-B">
                        B
                    </option>
                    <option value="WRI-C">
                        C
                    </option>
                    <option value="WRI-D">
                        D
                    </option>
                    <option value="WRI-E">
                        E
                    </option>
                    <option value="WRI-F">
                        F
                    </option>
                    <option value="WRI-H">
                        H
                    </option>
                    <option value="WRI-S">
                        S
                    </option>
                </select>
                </div><button class="govuk-button" data-module="govuk-button" type="submit" onclick="showAlert()">Search</button>
            </form>
 <div class="case-search"> 
   <div class="moj-search">
      <form class="horizontal-form" action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a person
          </label>

          <div id="search-hint" class="govuk-hint moj-search__hint ">
            You can search by name, date of birth or national insurance number
          </div>
          <input class="govuk-input govuk-!-width-one-third moj-search__input" id="two-thirds" name="two-thirds" type="text" id="search" name="search" type="search" aria-describedby="search-hint">
         <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Search by</option>
              <option value="person" selected>Person on probation</option>
              <option value="email">Caseworker email</option>
            </select> 
          </div>
          <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </div>
      </form>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    {{ mojPagination({
      items: [{
        text: '1',
        href: '/page=1',
        selected: true
      }, {
        text: '2',
        href: '/page=2'
      }, {
        text: '3',
        href: '/page=3'
      }, {
        type: 'dots'
      }, {
        text: '5',
        href: '/page=5'
      }],
      results: {
        count: 30,
        from: 10,
        to: 20,
        text: 'pages'
      },
      previous: {
        text: 'Previous',
        href: ''
      },
      next: {
        text: 'Next',
        href: ''
      }
    }) }}
    <table class="govuk-table sortable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">Date sent</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="1">Referral</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Person on probation</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3">Intervention category</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="4">Provider</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="5">Caseworker</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="6">Action</button></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Rob King
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Liam Johnson
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              <td class="govuk-table__cell">
                Safe Living Ltd.
              </td>
              <td class="govuk-table__cell">
                Rebecca Green
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent Living
              </td>
              <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
               25 Aug 2020
              </td>
              <td class="govuk-table__cell">
                NR0003
              </td>
              <td class="govuk-table__cell" data-sort-value="Emma" thompson="">
                  Emma Thompson
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              <td class="govuk-table__cell">
                New Beginnings Ltd.
              </td>
              <td class="govuk-table__cell">   
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                30 May 2020
              </td>
            <td class="govuk-table__cell">
              NR0004
            </td>
            <td class="govuk-table__cell" data-sort-value="Rosie" palma="">
                Rosie Palma
            </td>
            <td class="govuk-table__cell" data-sort-value="Independent" living="">
                Independent living
            </td>
            <td class="govuk-table__cell">
              New Beginnings Ltd.
            </td>
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
            </td>
            <td class="govuk-table__cell">
              NR0005
            </td>
            <td class="govuk-table__cell" data-sort-value="Macy" flem="">
                Macy Flem
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            <td class="govuk-table__cell">
              Helping Hands
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
        </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0006
              </td>
              <td class="govuk-table__cell" data-sort-value="Robert" watkins="">
                  Robert Watkins
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Jenny Thompson
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  21 Oct 2021
                </td>
              <td class="govuk-table__cell">
                NR0007
              </td>
              <td class="govuk-table__cell" data-sort-value="Mary" moore="">
                  Mary Moore
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              <td class="govuk-table__cell">
                Ready to Go London
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
              </td>
            <td class="govuk-table__cell">
              NR0008
            </td>
            <td class="govuk-table__cell" data-sort-value="Anthony" hughes="">
                Anthony Hughes
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            <td class="govuk-table__cell">
              Better Ltd.
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0009
          </td>
          <td class="govuk-table__cell" data-sort-value="Fernando" willis="">
              Fernando Willis
          </td>
          <td class="govuk-table__cell" data-sort-value="Accommodation">
            <a class="govuk-link" href="cases/NR0009/interventions/0">
              Accommodation
            </a>
          </td>
          <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Jenny Thompson
          </td>
          <td class="govuk-table__cell">
              <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0010
          </td>
          <td class="govuk-table__cell" data-sort-value="Marion" clemmons="">
            <a class="govuk-link" href="cases/NR0010/service-user">
              Marion Clemmons
            </a>
          </td>

          <td class="govuk-table__cell" data-sort-value="Independent" living="">
            <a class="govuk-link" href="cases/NR0010/interventions/0">
              Independent living
            </a>
          </td>
          <td class="govuk-table__cell">
            New Beginnings Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0011
          </td>
          <td class="govuk-table__cell" data-sort-value="Ross" gutierrez="">
            <a class="govuk-link" href="cases/NR0011/service-user">
              Ross Gutierrez
            </a>
          </td>
          <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
            <a class="govuk-link" href="cases/NR0011/interventions/0">
              Social inclusion
            </a>
          </td>
          <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Rebecca Green
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0012
        </td>
        <td class="govuk-table__cell" data-sort-value="Louis" wing="">
          <a class="govuk-link" href="cases/NR0012/service-user">
            Louis Wing
          </a>
        </td>
        <td class="govuk-table__cell" data-sort-value="Accommodation">
          <a class="govuk-link" href="cases/NR0012/interventions/0">
            Accommodation
          </a>
        </td>
        <td class="govuk-table__cell">
          Harmony Living
        </td>
        <td class="govuk-table__cell">
          Jenny Thompson
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            01 Sep 2021
          </td>
          <td class="govuk-table__cell">
            NR0013
          </td>
          <td class="govuk-table__cell" data-sort-value="Richard" smith="">
            <a class="govuk-link" href="cases/NR0013/service-user">
              Richard Smith
            </a>
          </td>
          <td class="govuk-table__cell" data-sort-value="Independent" living="">
            <a class="govuk-link" href="cases/NR0013/interventions/0">
              Independent living
            </a>
          </td>
          <td class="govuk-table__cell">
            Better Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0014
        </td>
        <td class="govuk-table__cell" data-sort-value="Alma" pearson="">
          <a class="govuk-link" href="cases/NR0014/service-user">
            Alma Pearson
          </a>
        </td>
        <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
          <a class="govuk-link" href="cases/NR0014/interventions/0">
            Social inclusion
          </a>
        </td>
        <td class="govuk-table__cell">
          Live Well
        </td>
        <td class="govuk-table__cell">
          Rebecca Green
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        01 Sep 2021
      </td>
      <td class="govuk-table__cell">
        NR0015
      </td>
      <td class="govuk-table__cell" data-sort-value="Natasha" mackey="">
        <a class="govuk-link" href="cases/NR0015/service-user">
          Natasha Mackey
        </a>
      </td>
      <td class="govuk-table__cell" data-sort-value="Independent" living="">
        <a class="govuk-link" href="cases/NR0015/interventions/0">
          Independent living
        </a>
      </td>
      <td class="govuk-table__cell">
        Better Ltd.
      </td>
      <td class="govuk-table__cell">
        Samantha Jones
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="">View</a>
      </td>
     </tr>
      </tbody>
    </table>
  </div>   
</div>

{% endblock %}