{% extends "layout-sp.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">My cases</h1>

    {# <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#1">My cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#2">All open cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Unassigned cases (20)</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Completed cases</a>
        </li>
      </ul>

    </nav> #}
    <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="myCases" href="#past-day">
        My cases
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        All open cases
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Unassigned cases
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Completed cases
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <table class="govuk-table sortable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">Date received</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="1">Referral</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Service User</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3">Intervention type</button></th>
          {# <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="4">Provider</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="5">Caseworker</button></th> #}
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="6">Action</button></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              {# <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Rob King
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              {# <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              {# <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Liam Johnson
              </td> #}
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              {# <td class="govuk-table__cell">
                Safe Living Ltd.
              </td>
              <td class="govuk-table__cell">
                Rebecca Green
              </td> #}
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent Living
              </td>
              {# <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
               25 Aug 2020
              </td>
              <td class="govuk-table__cell">
                NR0003
              </td>
              <td class="govuk-table__cell" data-sort-value="Emma" thompson="">
                  Emma Thompson
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              {# <td class="govuk-table__cell">
                New Beginnings Ltd.
              </td>
              <td class="govuk-table__cell">   
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                30 May 2020
              </td>
            <td class="govuk-table__cell">
              NR0004
            </td>
            <td class="govuk-table__cell" data-sort-value="Rosie" palma="">
                Rosie Palma
            </td>
            <td class="govuk-table__cell" data-sort-value="Independent" living="">
                Independent living
            </td>
            {# <td class="govuk-table__cell">
              New Beginnings Ltd.
            </td>
            <td class="govuk-table__cell">
            </td> #}
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
            </td>
            <td class="govuk-table__cell">
              NR0005
            </td>
            <td class="govuk-table__cell" data-sort-value="Macy" flem="">
                Macy Flem
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            {# <td class="govuk-table__cell">
              Helping Hands
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td> #}
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
        </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0006
              </td>
              <td class="govuk-table__cell" data-sort-value="Robert" watkins="">
                  Robert Watkins
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              {# <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Jenny Thompson
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  21 Oct 2021
                </td>
              <td class="govuk-table__cell">
                NR0007
              </td>
              <td class="govuk-table__cell" data-sort-value="Mary" moore="">
                  Mary Moore
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              {# <td class="govuk-table__cell">
                Ready to Go London
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td> #}
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
              </td>
            <td class="govuk-table__cell">
              NR0008
            </td>
            <td class="govuk-table__cell" data-sort-value="Anthony" hughes="">
                Anthony Hughes
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            {# <td class="govuk-table__cell">
              Better Ltd.
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td> #}
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0009
          </td>
          <td class="govuk-table__cell" data-sort-value="Fernando" willis="">
              Fernando Willis
          </td>
          <td class="govuk-table__cell" data-sort-value="Accommodation">
              Accommodation
          </td>
          {# <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Jenny Thompson
          </td> #}
          <td class="govuk-table__cell">
              <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0010
          </td>
          <td class="govuk-table__cell" data-sort-value="Marion" clemmons="">
              Marion Clemmons
          </td>

          <td class="govuk-table__cell" data-sort-value="Independent" living="">
              Independent living
          </td>
          {# <td class="govuk-table__cell">
            New Beginnings Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td> #}
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0011
          </td>
          <td class="govuk-table__cell" data-sort-value="Ross" gutierrez="">
              Ross Gutierrez
          </td>
          <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
              Social inclusion
          </td>
          {# <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Rebecca Green
          </td> #}
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0012
        </td>
        <td class="govuk-table__cell" data-sort-value="Louis" wing="">
            Louis Wing
        </td>
        <td class="govuk-table__cell" data-sort-value="Accommodation">
            Accommodation
        </td>
        {# <td class="govuk-table__cell">
          Harmony Living
        </td>
        <td class="govuk-table__cell">
          Jenny Thompson
        </td> #}
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            01 Sep 2021
          </td>
          <td class="govuk-table__cell">
            NR0013
          </td>
          <td class="govuk-table__cell" data-sort-value="Richard" smith="">
              Richard Smith
          </td>
          <td class="govuk-table__cell" data-sort-value="Independent" living="">
              Independent living
          </td>
          {# <td class="govuk-table__cell">
            Better Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td> #}
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0014
        </td>
        <td class="govuk-table__cell" data-sort-value="Alma" pearson="">
            Alma Pearson
        </td>
        <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
            Social inclusion
        </td>
        {# <td class="govuk-table__cell">
          Live Well
        </td>
        <td class="govuk-table__cell">
          Rebecca Green
        </td> #}
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        01 Sep 2021
      </td>
      <td class="govuk-table__cell">
        NR0015
      </td>
      <td class="govuk-table__cell" data-sort-value="Natasha" mackey="">
          Natasha Mackey
      </td>
      <td class="govuk-table__cell" data-sort-value="Independent" living="">
          Independent living
      </td>
      {#   #}
      <td class="govuk-table__cell">
        <a class="govuk-link" href="">View</a>
      </td>
     </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
   <div class="case-search"> 
   <div class="moj-search">
      <form class="horizontal-form" action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            All open cases: search
          </label>

          <div id="search-hint" class="govuk-hint moj-search__hint ">
            Enter person on probation, caseworker or referral 
          </div>
          <input class="govuk-input govuk-!-width-one-third moj-search__input" id="two-thirds" name="two-thirds" type="text" id="search" name="search" type="search" aria-describedby="search-hint">
         <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sort by
          </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Search by</option>
              <option value="person" selected>Person on probation</option>
              <option value="email">Caseworker email</option>
            </select> 
          </div>
          <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </div>
      </form>
    </div>
  </div>
    <table class="govuk-table sortable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">Date sent</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="1">Referral</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Service User</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3">Intervention category</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="4">Provider</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="5">Caseworker</button></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="6">Action</button></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Rob King
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0001
              </td>
              <td class="govuk-table__cell" data-sort-value="Alex" river="">
                  Alex River
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Liam Johnson
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                  Social inclusion
              </td>
              <td class="govuk-table__cell">
                Safe Living Ltd.
              </td>
              <td class="govuk-table__cell">
                Rebecca Green
              </td>
              <td class="govuk-table__cell">
                  <a class="govuk-link" href="">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                30 May 2020
              </td>
              <td class="govuk-table__cell">
                NR0002
              </td>
              <td class="govuk-table__cell" data-sort-value="Bob" brown="">
                  Bob Brown
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent Living
              </td>
              <td class="govuk-table__cell">
                Home Trust
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
               25 Aug 2020
              </td>
              <td class="govuk-table__cell">
                NR0003
              </td>
              <td class="govuk-table__cell" data-sort-value="Emma" thompson="">
                  Emma Thompson
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              <td class="govuk-table__cell">
                New Beginnings Ltd.
              </td>
              <td class="govuk-table__cell">   
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                30 May 2020
              </td>
            <td class="govuk-table__cell">
              NR0004
            </td>
            <td class="govuk-table__cell" data-sort-value="Rosie" palma="">
                Rosie Palma
            </td>
            <td class="govuk-table__cell" data-sort-value="Independent" living="">
                Independent living
            </td>
            <td class="govuk-table__cell">
              New Beginnings Ltd.
            </td>
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
            </td>
            <td class="govuk-table__cell">
              NR0005
            </td>
            <td class="govuk-table__cell" data-sort-value="Macy" flem="">
                Macy Flem
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            <td class="govuk-table__cell">
              Helping Hands
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
            </td>
        </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                21 Oct 2021
              </td>
              <td class="govuk-table__cell">
                NR0006
              </td>
              <td class="govuk-table__cell" data-sort-value="Robert" watkins="">
                  Robert Watkins
              </td>
              <td class="govuk-table__cell" data-sort-value="Accommodation">
                  Accommodation
              </td>
              <td class="govuk-table__cell">
                Harmony Living
              </td>
              <td class="govuk-table__cell">
                Jenny Thompson
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  21 Oct 2021
                </td>
              <td class="govuk-table__cell">
                NR0007
              </td>
              <td class="govuk-table__cell" data-sort-value="Mary" moore="">
                  Mary Moore
              </td>
              <td class="govuk-table__cell" data-sort-value="Independent" living="">
                  Independent living
              </td>
              <td class="govuk-table__cell">
                Ready to Go London
              </td>
              <td class="govuk-table__cell">
                Samantha Jones
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                21 Oct 2021
              </td>
            <td class="govuk-table__cell">
              NR0008
            </td>
            <td class="govuk-table__cell" data-sort-value="Anthony" hughes="">
                Anthony Hughes
            </td>
            <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
                Social inclusion
            </td>
            <td class="govuk-table__cell">
              Better Ltd.
            </td>
            <td class="govuk-table__cell">
              Rebecca Green
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="">View</a>
              </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0009
          </td>
          <td class="govuk-table__cell" data-sort-value="Fernando" willis="">
              Fernando Willis
          </td>
          <td class="govuk-table__cell" data-sort-value="Accommodation">
            <a class="govuk-link" href="cases/NR0009/interventions/0">
              Accommodation
            </a>
          </td>
          <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Jenny Thompson
          </td>
          <td class="govuk-table__cell">
              <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0010
          </td>
          <td class="govuk-table__cell" data-sort-value="Marion" clemmons="">
            <a class="govuk-link" href="cases/NR0010/service-user">
              Marion Clemmons
            </a>
          </td>

          <td class="govuk-table__cell" data-sort-value="Independent" living="">
            <a class="govuk-link" href="cases/NR0010/interventions/0">
              Independent living
            </a>
          </td>
          <td class="govuk-table__cell">
            New Beginnings Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            21 Oct 2021
          </td>
          <td class="govuk-table__cell">
            NR0011
          </td>
          <td class="govuk-table__cell" data-sort-value="Ross" gutierrez="">
              Ross Gutierrez
          </td>
          <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
            <a class="govuk-link" href="cases/NR0011/interventions/0">
              Social inclusion
            </a>
          </td>
          <td class="govuk-table__cell">
            Live Well
          </td>
          <td class="govuk-table__cell">
            Rebecca Green
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0012
        </td>
        <td class="govuk-table__cell" data-sort-value="Louis" wing="">
          <a class="govuk-link" href="cases/NR0012/service-user">
            Louis Wing
          </a>
        </td>
        <td class="govuk-table__cell" data-sort-value="Accommodation">
          <a class="govuk-link" href="cases/NR0012/interventions/0">
            Accommodation
          </a>
        </td>
        <td class="govuk-table__cell">
          Harmony Living
        </td>
        <td class="govuk-table__cell">
          Jenny Thompson
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
      </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            01 Sep 2021
          </td>
          <td class="govuk-table__cell">
            NR0013
          </td>
          <td class="govuk-table__cell" data-sort-value="Richard" smith="">
            <a class="govuk-link" href="cases/NR0013/service-user">
              Richard Smith
            </a>
          </td>
          <td class="govuk-table__cell" data-sort-value="Independent" living="">
            <a class="govuk-link" href="cases/NR0013/interventions/0">
              Independent living
            </a>
          </td>
          <td class="govuk-table__cell">
            Better Ltd.
          </td>
          <td class="govuk-table__cell">
            Samantha Jones
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="">View</a>
          </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          01 Sep 2021
        </td>
        <td class="govuk-table__cell">
          NR0014
        </td>
        <td class="govuk-table__cell" data-sort-value="Alma" pearson="">
          <a class="govuk-link" href="cases/NR0014/service-user">
            Alma Pearson
          </a>
        </td>
        <td class="govuk-table__cell" data-sort-value="Social" inclusion="">
          <a class="govuk-link" href="cases/NR0014/interventions/0">
            Social inclusion
          </a>
        </td>
        <td class="govuk-table__cell">
          Live Well
        </td>
        <td class="govuk-table__cell">
          Rebecca Green
        </td>
        <td class="govuk-table__cell">
          <a class="govuk-link" href="">View</a>
        </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        01 Sep 2021
      </td>
      <td class="govuk-table__cell">
        NR0015
      </td>
      <td class="govuk-table__cell" data-sort-value="Natasha" mackey="">
        <a class="govuk-link" href="cases/NR0015/service-user">
          Natasha Mackey
        </a>
      </td>
      <td class="govuk-table__cell" data-sort-value="Independent" living="">
        <a class="govuk-link" href="cases/NR0015/interventions/0">
          Independent living
        </a>
      </td>
      <td class="govuk-table__cell">
        Better Ltd.
      </td>
      <td class="govuk-table__cell">
        Samantha Jones
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="">View</a>
      </td>
     </tr>
      </tbody>
    </table>
  </div>   
</div>

{% endblock %}