
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Why are you requesting a cancellation for Alex River’s Accommodation referral?

        </h1>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
        Select one reason
      </div>  <div class="govuk-!-padding-bottom-6"></div>
      <div class="govuk-radios" data-module="govuk-radios">
        <h3 class="govuk-heading-m">Problem with the referral</h3>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Ineligible referral

          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Mistaken or duplicate referral
          </label>
        </div>

        <div class="govuk-!-padding-bottom-5"></div>

        <h3 class="govuk-heading-m">User related
        </h3>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Disengaged

          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Needs met through another route
          </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Moved out of service area
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Work or caring responsibilities
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              User died
            </label>
          </div>

          <div class="govuk-!-padding-bottom-5"></div>

          <h3 class="govuk-heading-m">Sentence / custody related

          </h3>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Acquitted on appeal

            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Returned to custody

            </label>
          </div>
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Sentence revoked
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
             Sentence expired

            </label>
          </div>
         
          <div class="govuk-!-padding-bottom-5"></div>

          <h3 class="govuk-heading-m">Completed</h3>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Intervention ended early


            </label>
            </div>

            <div class="govuk-!-padding-bottom-5"></div>

          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="another-reason" name="anotherReason" type="radio" value="another-reason" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="another-reason">
                Another reason
              </label>
            </div>

            
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                    Explain why the referral needs to be cancelled
                </label>
                
                <textarea class="govuk-textarea " id="another-reason-explanation" rows="5" name="anotheReasonExplanation" type="another-reason" spellcheck="false" autocomplete="email"></textarea>
              </div>
            </div>


      </div>
      
    

      
  
    </fieldset>
    <div class="govuk-!-padding-bottom-7"></div>


    {{ govukButton({
        text: "Confirm and send",
        href:"/v4/sp/are-you-sure-you-want-to-cancel.html"
        
      }) }}
  </div>

    

{% endblock %}
