{% extends "layout.html" %}

{% block pageTitle %}
  Manage intervention referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../../includes/primary-navigation.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
          {{ serviceUser.name }}
        </h1>
        {% set currentPage = intervention.name %}
        {% include "./side-navigation.html" %}
        {% set showFastForwardLinks = true %}
        {% include "./intervention-sidebar.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#intervention-progress">
                Progress
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#case-notes">
                Case notes
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#statistics">
                Statistics
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel govuk-tabs__panel" id="intervention-progress">
            <h2 class="govuk-heading-l">
              {{ intervention.name | capitalize }}
            </h2>
            <p class="govuk-body">
              You can see
              {{ serviceUser.name }}'s
              {{ intervention.name | capitalize }}
              progress on this page.
            </p>

            <h2 class="govuk-heading-m">Initial assessment</h2>

            {% if intervention.assignedCaseworker %}
            <p class="govuk-body">
              This is the initial assessment date scheduled by the service provider and service user.
            </p>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Caseworker</th>
                  <th scope="col" class="govuk-table__header">Date</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Action</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ intervention.assignedCaseworker}}</td>
                    <td class="govuk-table__cell">{{ intervention.monitor.initialAssessmentDate }}</td>
                    <td class="govuk-table__cell">
                      {% if intervention.monitor.initialAssessmentCompleted %}
                      <strong class="govuk-tag">
                        completed
                      </strong>
                      {% else %}
                      <strong class="govuk-tag">
                        scheduled
                      </strong>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
              </tbody>
            </table>

            {% else %}
              <p class="govuk-body">Once a caseworker has been assigned the initial assessment will be booked.</p>
            {% endif %}

            <h2 class="govuk-heading-m">Service user action plan</h2>

            {% if intervention.assignedCaseworker and intervention.monitor.actionPlanSubmitted %}
            <p class="govuk-body">
              This is the action plan created by the service provider. When there are changes submitted by the service provider, you will need to review it and decide if you want to approve it.
            </p>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Caseworker</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Action</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ intervention.assignedCaseworker}}</td>
                    <td class="govuk-table__cell">
                      {% if intervention.monitor.actionPlanApproved %}
                        <strong class="govuk-tag">
                          completed
                        </strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                          awaiting approval
                        </strong>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      <a href="{{intervention.id}}/action-plan" class="govuk-link">View</a></td>
                    </tr>
                  </tbody>
              </table>

              {% else %}
              <p class="govuk-body">Action plan not yet submitted.</p>
              {% endif %}

              <h2 class="govuk-heading-m">Intervention sessions</h2>

              {% if intervention.monitor.completed or intervention.monitor.awaitingPostSessionQuestionnaire %}
              <p class="govuk-body">
                These show the progress of this intervention.
              </p>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Session title</th>
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Facilitator</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 1</td>
                    <td class="govuk-table__cell">01/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 2</td>
                    <td class="govuk-table__cell">08/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 3</td>
                    <td class="govuk-table__cell">15/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 4</td>
                    <td class="govuk-table__cell">22/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 5</td>
                    <td class="govuk-table__cell">29/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 6</td>
                    <td class="govuk-table__cell">06/12/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 7</td>
                    <td class="govuk-table__cell">13/12/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 8</td>
                    <td class="govuk-table__cell">20/12/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 9</td>
                    <td class="govuk-table__cell">24/12/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 10</td>
                    <td class="govuk-table__cell">27/11/20</td>
                    <td class="govuk-table__cell">Jenny Thompson</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              {% elif intervention.monitor.inProgress %}
              <p class="govuk-body">
                These show the progress of this intervention.
              </p>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Session title</th>
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Facilitator</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 1</td>
                    <td class="govuk-table__cell">01/11/20</td>
                    <td class="govuk-table__cell">{{intervention.assignedCaseworker}}</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag">
                        completed
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 2</td>
                    <td class="govuk-table__cell">08/11/20</td>
                    <td class="govuk-table__cell">{{intervention.assignedCaseworker}}</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        failed to attend
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="/sprint-7/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}/sessions/0/absence-review">Review</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 3</td>
                    <td class="govuk-table__cell">15/11/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 4</td>
                    <td class="govuk-table__cell">22/11/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 5</td>
                    <td class="govuk-table__cell">29/11/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 6</td>
                    <td class="govuk-table__cell">06/12/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 7</td>
                    <td class="govuk-table__cell">13/12/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 8</td>
                    <td class="govuk-table__cell">20/12/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 9</td>
                    <td class="govuk-table__cell">24/12/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Session 10</td>
                    <td class="govuk-table__cell">27/12/20</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tbody>
              </table>
              {% else %}
                <p class="govuk-body">No sessions have been scheduled.</p>
              {% endif %}


              <h2 class="govuk-heading-m">End of service report</h2>
              
              {% if intervention.monitor.completed and intervention.monitor.completed %}
              <p class="govuk-body">
                This is the end of service report created by the service provider. When it is submitted by the service provider, you will be able to read it.
              </p>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Caseworker</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ intervention.assignedCaseworker}}</td>
                    <td class="govuk-table__cell">
                      {% if intervention.monitor.endOfServiceReportSubmitted %}
                        <strong class="govuk-tag">
                          completed
                        </strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                          not started
                        </strong>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      {% if intervention.monitor.endOfServiceReportSubmitted %}
                        <a href="{{intervention.id}}/end-of-service-report" class="govuk-link">View</a>
                      {% else %}
                      {% endif %}
                    </td>
                    </tr>
                </tbody>
              </table>

              {% else %}
              <p class="govuk-body">
                An intervention ready for an end of service assessment will appear below once all the post-session feedback forms of the intervention are completed.
              </p>
              {% endif %}
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-notes">
              <div class="case-notes-header">
                <h2 class="govuk-heading-l">Case notes</h2>
                <div class="contact-log-link-panel">
                  <a href="#" class="govuk-link">Open in Contact Log</a>
                </div>
              </div>
              {% include "./case-notes.html" %}
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="statistics">
              <h2 class="govuk-heading-l">Statistics</h2>
              <img src="/public/images/intervention_stats.png" alt="Intervention statistics">
            </div>
          </div>
        </div>
      </div>
    {% endblock %}