<div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar--grey govuk-!-margin-top-6">
  <ul class="govuk-list govuk-list--case-summary">
    <li>
      <strong>Provider</strong>
      <br>{{ intervention.providerName }}
    </li>
    <li>
      <strong>Date referred</strong>
      <br>01/09/20
    </li>
    <li>
      <strong>Assessment date</strong>
      <br>{{ intervention.monitor.initialAssessmentDate }}
    </li>
    <li>
      <strong>Date of action plan</strong>
      <br>
      {% if intervention.monitor.actionPlanApproved %}
        {{ intervention.monitor.actionPlanDate }}
      {% elif intervention.monitor.actionPlanSubmitted %}
        Action plan not yet approved
      {% else %}
        Action plan not yet submitted
      {% endif %}
    </li>
    <li>
      <strong>Date started</strong>
      <br>22/09/20
    </li>
    <li>
      <strong>Target end date</strong>
      <br>12/12/20
    </li>
    <li>
      <strong>End of service review</strong>
      <br>To be confirmed
    </li>
    <li>
      <strong>RAR days allocation</strong>
      <br>10 days
    </li>
    <li>
      <strong>Appointments offered</strong>
      <br>8
    </li>
    <li>
      <strong>Appointments attended</strong>
      <br>7
    </li>
    <li>
      <strong>Acceptable absences</strong>
      <br>1
    </li>
    <li>
      <strong>Unacceptable absences</strong>
      <br>0
    </li>
    <li>
      <strong>Provider case notes</strong>
      <br>
      <a href="#" class="govuk-link">View notes</a>
    </li>
    <li>
      <strong>Contact number</strong>
      <br>0300 4560021
    </li>
  </ul>
</div>

{% if showFastForwardLinks %}
  {% set fastForwardToState = null %}
  {% set fastForwardText = null %}

  {% if not intervention.assignedCaseworker %}
    {% set fastForwardToState = "assignedCaseworker" %}
    {% set fastForwardText = "caseworker assigned" %}
  {% elif not intervention.monitor.initialAssessmentCompleted %}
    {% set fastForwardToState = "initialAssessmentCompleted" %}
    {% set fastForwardText = "initial assessment completed" %}
  {% elif not intervention.monitor.actionPlanSubmitted %}
    {% set fastForwardToState = "actionPlanSubmitted" %}
    {% set fastForwardText = "action plan submitted" %}
  {% elif intervention.monitor.actionPlanApproved and not intervention.monitor.inProgress %}
    {% set fastForwardToState = "inProgress" %}
    {% set fastForwardText = "in progress" %}
  {% endif %}

  {% if fastForwardToState != null %}
    <p class="govuk-body">
    <a class="govuk-link govuk-link--app-fast-forward-subtler" href="/sprint-7/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}/fast-forward?to={{fastForwardToState}}">Demo: fast-forward to {{ fastForwardText }}</a>
    </p>
  {% endif %}
{% endif %}
