{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
          How did you try to contact Alex and what do you know about why they did not attend? 
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Include when you tried to contact them and how many times.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
    </div>

    <form action="cya-ics-not-attend" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
