{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %} 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Issues or concerns</h1>
  
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              What issues or concerns did you identify?
            </h2>
          </legend>
          <div id="account-number-hint" class="govuk-hint">
            Give details of anything that concerned you about Alex, or any issues they raised that may impact their engagement in future sessions. 
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <label class="govuk-fieldset__legend--m">Does the probation practitioner need to be notified about these issues or concerns?</label>
          </legend>
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yesNotifyPPRadio" name="notify-probation-practitioner" type="radio" value="yes" aria-controls="conditional-yesNotifyPPRadio" aria-expanded="false">
              <label class="govuk-label govuk-radios__label" for="yesNotifyPPRadio">
                Yes
              </label>       
            </div>   
            <!--<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yesNotifyPPRadio">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-!-margin-bottom-4" for="session-concerns">
                  Give details about any issues you think the probation practitioner should know about.
                </label>
                <textarea class="govuk-textarea" id="session-concerns" name="session-concerns" rows="5"></textarea>
              </div>
            </div>-->
  
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noNotifyPPRadio" name="notify-probation-practitioner" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="noNotifyPPRadio">
                No
              </label>     
            </div>
          </div>
        </fieldset>
      </div>
  
  
      <!--<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="notify-probation-practitioner-hint">     
        <legend class="govuk-fieldset__legend">
          <label class="govuk-label govuk-label--m govuk-!-margin-bottom-4"> Does the probation practitioner need to be notified about any issues?</label>     
        </legend>
        
        <div id="notify-probation-practitioner-hint" class="govuk-hint">
          Select all that apply.
        </div>
    
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">           
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="notify-probation-practitioner-of-behaviour" name="notify-probation-practitioner-of-behaviour" type="checkbox" value="yes" aria-controls="conditional-notify-probation-practitioner-of-behaviour" aria-expanded="false">
            <label class="govuk-label govuk-checkboxes__label" for="notify-probation-practitioner-of-behaviour">
              Yes, Alex behaved poorly
              </label>     
          </div>
                
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-notify-probation-practitioner-of-behaviour">   
            <div class="govuk-form-group">
              <label class="govuk-label govuk-body govuk-!-margin-bottom-4" for="session-behaviour">
              Give enough detail to help the probation practitioner understand what happened.
              </label>
              <textarea class="govuk-textarea" id="session-behaviour" name="session-behaviour" rows="5"></textarea>
            </div>
          </div>
                    
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="notify-probation-practitioner-of-concerns" name="notify-probation-practitioner-of-concerns" type="checkbox" value="yes" aria-controls="conditional-notify-probation-practitioner-of-concerns" aria-expanded="false">
            <label class="govuk-label govuk-checkboxes__label" for="notify-probation-practitioner-of-concerns">
            Yes, something concerned me about Alex
            </label>        
          </div>
                
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-notify-probation-practitioner-of-concerns">
            <div class="govuk-form-group">
            <label class="govuk-label govuk-body govuk-!-margin-bottom-4" for="session-concerns">
            Give as much detail as you can about your concerns.
            </label>
            <textarea class="govuk-textarea" id="session-concerns" name="session-concerns" rows="5"></textarea>
            </div>
          </div>
          <div class="govuk-checkboxes__divider">or</div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="noNotifyPPCheckbox" name="notify-probation-practitioner" type="checkbox" value="no" data-behaviour="exclusive">
            <label class="govuk-label govuk-checkboxes__label" for="noNotifyPPCheckbox">
            No
            </label>              
            </div>   
          </div>
        </fieldset>
      </div>-->
  
      <form action="session-happen7" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
  </fieldset>
</div>
        
        
    

{% endblock %}
