{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the intervention details
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm the intervention details</h1>
      <p class="govuk-body">
        This information will be sent to the caseworker once you have confirmed the details.
      </p>

      <h2 class="govuk-heading-m">Caseworker details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["assigned-caseworker"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./#caseworker">
              Change
              <span class="govuk-visually-hidden"> caseworker</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information provided
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data[intervention.name + "-additional-info"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./#additional-information">
              Change
              <span class="govuk-visually-hidden"> additional information provided</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        {{intervention.name | capitalize}} intervention
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% include "./includes/intervention.html" %}
      </dl>

      <h2 class="govuk-heading-m">
        Service user personal details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% include "./includes/personal-details.html" %}
      </dl>

      <h2 class="govuk-heading-m">
        Service user risks
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% include "./includes/risks.html" %}
      </dl>

      <h2 class="govuk-heading-m">
        Service user needs
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% include "./includes/needs.html" %}
      </dl>

      <h2 class="govuk-heading-m">
        Probation officer details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% include "./includes/probation-officer.html" %}
      </dl>

      <form method="post" action="/beta-sprint-1/book-and-manage/manage-a-referral/manager/referrals/{{referralIndex}}/interventions/{{interventionId}}/caseworker-confirmation">
        <input type="submit" class="govuk-button" value="Confirm and assign intervention">
      </form>
    </div>

    <div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar">
      <h2>Subsection</h2>
      <p>
        <a class="govuk-link" href="/beta-sprint-1/book-and-manage/manage-a-referral/manager/referrals/{{referralIndex}}/interventions/{{interventionId}}/send-email">Send email to probation practitioner</a>
      </p>
      <p>
        <a class="govuk-link" href="/beta-sprint-1/book-and-manage/manage-a-referral/manager/referrals/{{referralIndex}}/interventions/{{interventionId}}/upload-case-notes">Add case notes</a>
      </p>
      <p>
        <a class="govuk-link" href="/beta-sprint-1/book-and-manage/manage-a-referral/manager/referrals/{{referralIndex}}/interventions/{{interventionId}}/communication-archive">View communication history</a>
      </p>
    </div>
  </div>
{% endblock %}