{% extends "layout.html" %}

{% block pageTitle %}
  Manage intervention referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../../includes/primary-navigation.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
          {{ serviceUser.name }}
        </h1>
        {% set currentPage = intervention.name %}
        {% include "./side-navigation.html" %}
        {% include "./intervention-sidebar.html" %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="/beta-sprint-2/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}#progress">
                Progress
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="/beta-sprint-2/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}#paper-trail">
                Paper trail
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="/beta-sprint-2/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}#statistics">
                Statistics
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel govuk-tabs__panel" id="intervention-progress">
            <a href="/beta-sprint-2/monitor/cases/{{referral.reference}}/interventions/{{intervention.id}}#progress" class="govuk-back-link govuk-!-margin-bottom-6">Back to Progress</a>
            <h2 class="govuk-heading-l">
              Session 3 feedback
            </h2>
            <p class="govuk-body">
              You can see service provider’s feedback on Natasha Mackey's performance in session 3 on this page.
            </p>

            <h3 class="govuk-heading-m">Did Natasha attend session 3?</h3>
            <p class="govuk-body">
              No
            </p>
            <p class="govuk-body">
              Natasha told me that childcare arrangements fell through, so they could not make the session.
            </p>

            <h3 class="govuk-heading-m">Additional information about Natasha</h3>
            <p class="govuk-body">
              She did not look interested in the previous session also.
            </p>

            <h3 class="govuk-heading-m">Who delivered this session?</h3>
            <p class="govuk-body">
              Liam Johnson
            </p>
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m">Is it an acceptable absence to you?</h3>
            <p class="govuk-body">
              Yes.
            </p>
            <p class="govuk-body">
              Missing the session due to childcare problem is acceptable. Please arrange a catch up session.
            </p>


          </div>
        </div>
      </div>
    {% endblock %}