{% extends "layout.html" %}

{% block pageTitle %}
  Desired outcomes for social inclusion service
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What are the desired outcomes for the social inclusion service?
      </h1>
      <form action="complexity-level" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="social-inclusion-desired-outcomes-hint">
            <span id="service-user-needs-hint" class="govuk-hint">
              Select all that apply
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="social-inclusion-desired-outcomes-reduce-isolation" name="social-inclusion-desired-outcomes" type="checkbox" value="reduce isolation" {{ checked("social-inclusion-desired-outcomes", "reduce isolation") }}>
                <label class="govuk-label govuk-checkboxes__label" for="social-inclusion-desired-outcomes-reduce-isolation">
                  Service User develops and sustains social networks to reduce initial social isolation.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="social-inclusion-desired-outcomes-ete" name="social-inclusion-desired-outcomes" type="checkbox" value="engagement" {{ checked("social-inclusion-desired-outcomes", "engagement") }}>
                <label class="govuk-label govuk-checkboxes__label" for="social-inclusion-desired-outcomes-engagement">
                  Service User secures early post-release engagement with community based services.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="social-inclusion-desired-outcomes-resilience" name="social-inclusion-desired-outcomes" type="checkbox" value="resilience" {{ checked("social-inclusion-desired-outcomes", "resilience") }}>
                <label class="govuk-label govuk-checkboxes__label" for="social-inclusion-desired-outcomes-resilience">
                  Service User develops resilience and perseverance to cope with challenges and barriers on return to the community.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}