
        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset find-filters--scrollable">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    Regions
  
  </legend>
  

  <div class="govuk-checkboxes region-checkboxes" data-module="govuk-checkboxes">
    
      
          
        
          

          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids" name="pcc-region-ids[]" type="checkbox" value="avon-and-somerset">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids">
        Avon &amp; Somerset
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-2" name="pcc-region-ids[]" type="checkbox" value="bedfordshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-2">
        Bedfordshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-3" name="pcc-region-ids[]" type="checkbox" value="cambridgeshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-3">
        Cambridgeshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-4" name="pcc-region-ids[]" type="checkbox" value="cheshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-4">
        Cheshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-5" name="pcc-region-ids[]" type="checkbox" value="cleveland">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-5">
        Cleveland
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-6" name="pcc-region-ids[]" type="checkbox" value="cumbria">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-6">
        Cumbria
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-7" name="pcc-region-ids[]" type="checkbox" value="derbyshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-7">
        Derbyshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-8" name="pcc-region-ids[]" type="checkbox" value="devon-and-cornwall">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-8">
        Devon &amp; Cornwall
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-9" name="pcc-region-ids[]" type="checkbox" value="dorset">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-9">
        Dorset
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-10" name="pcc-region-ids[]" type="checkbox" value="durham">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-10">
        Durham
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-11" name="pcc-region-ids[]" type="checkbox" value="dyfed-powys">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-11">
        Dyfed-Powys
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-12" name="pcc-region-ids[]" type="checkbox" value="essex">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-12">
        Essex
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-13" name="pcc-region-ids[]" type="checkbox" value="gloucestershire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-13">
        Gloucestershire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-14" name="pcc-region-ids[]" type="checkbox" value="gwent">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-14">
        Gwent
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-15" name="pcc-region-ids[]" type="checkbox" value="hampshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-15">
        Hampshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-16" name="pcc-region-ids[]" type="checkbox" value="hertfordshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-16">
        Hertfordshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-17" name="pcc-region-ids[]" type="checkbox" value="humberside">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-17">
        Humberside
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-18" name="pcc-region-ids[]" type="checkbox" value="kent">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-18">
        Kent
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-19" name="pcc-region-ids[]" type="checkbox" value="lancashire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-19">
        Lancashire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-20" name="pcc-region-ids[]" type="checkbox" value="leicestershire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-20">
        Leicestershire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-21" name="pcc-region-ids[]" type="checkbox" value="lincolnshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-21">
        Lincolnshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-22" name="pcc-region-ids[]" type="checkbox" value="metropolitan">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-22">
        London (Metropolitan Police)
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-23" name="pcc-region-ids[]" type="checkbox" value="merseyside">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-23">
        Merseyside
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-24" name="pcc-region-ids[]" type="checkbox" value="norfolk">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-24">
        Norfolk
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-25" name="pcc-region-ids[]" type="checkbox" value="north-wales">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-25">
        North Wales
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-26" name="pcc-region-ids[]" type="checkbox" value="north-yorkshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-26">
        North Yorkshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-27" name="pcc-region-ids[]" type="checkbox" value="northamptonshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-27">
        Northamptonshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-28" name="pcc-region-ids[]" type="checkbox" value="northumbria">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-28">
        Northumbria
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-29" name="pcc-region-ids[]" type="checkbox" value="nottinghamshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-29">
        Nottinghamshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-30" name="pcc-region-ids[]" type="checkbox" value="south-wales">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-30">
        South Wales
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-31" name="pcc-region-ids[]" type="checkbox" value="south-yorkshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-31">
        South Yorkshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-32" name="pcc-region-ids[]" type="checkbox" value="staffordshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-32">
        Staffordshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-33" name="pcc-region-ids[]" type="checkbox" value="suffolk">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-33">
        Suffolk
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-34" name="pcc-region-ids[]" type="checkbox" value="surrey">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-34">
        Surrey
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-35" name="pcc-region-ids[]" type="checkbox" value="sussex">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-35">
        Sussex
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-36" name="pcc-region-ids[]" type="checkbox" value="thames-valley">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-36">
        Thames Valley
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-37" name="pcc-region-ids[]" type="checkbox" value="warwickshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-37">
        Warwickshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-38" name="pcc-region-ids[]" type="checkbox" value="west-mercia">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-38">
        West Mercia
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-39" name="pcc-region-ids[]" type="checkbox" value="west-midlands">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-39">
        West Midlands
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-40" name="pcc-region-ids[]" type="checkbox" value="west-yorkshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-40">
        West Yorkshire
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pcc-region-ids-41" name="pcc-region-ids[]" type="checkbox" value="wiltshire">
            <label class="govuk-label govuk-checkboxes__label" for="pcc-region-ids-41">
        Wiltshire
      </label>
            
          </div>
          
        
      
    
  </div>
  

</fieldset>


</div>

        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset find-filters--scrollable">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    Gender
  
  </legend>
  

  <div class="govuk-checkboxes gender-checkboxes" data-module="govuk-checkboxes">
    
      
          
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="gender" name="gender[]" type="checkbox" value="male">
            <label class="govuk-label govuk-checkboxes__label" for="gender">
        Male
      </label>
            
          </div>
          
        
      
    
      
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="gender-2" name="gender[]" type="checkbox" value="female">
            <label class="govuk-label govuk-checkboxes__label" for="gender-2">
        Female
      </label>
            
          </div>
          
        
      
    
  </div>
  

</fieldset>


</div>

        


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset find-filters--scrollable">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    Age restrictions
  
  </legend>
  

  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    
      
          
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="age" name="age[]" type="checkbox" value="18-to-25-only">
            <label class="govuk-label govuk-checkboxes__label" for="age">
        Only for ages 18 to 25
      </label>
            
          </div>
          
        
      
    
  </div>
  

</fieldset>


</div>

        

  
    
  

<button class="govuk-button" data-module="govuk-button" onclick="locationFilter()">
  Filter results
</button>
