{% extends "layout.html" %}

{% block pageTitle %}
  Social inclusion service complexity level
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../../includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="completion-date" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
              What is the required complexity level for the social inclusion service?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="low" name="social-inclusion-complexity" type="radio" value="Low complexity" {{ checked("social-inclusion-complexity", "Low complexity") }}>
              <label class="govuk-label govuk-radios__label" for="low">
                <h2 class="govuk-body-m govuk-!-margin-bottom-1">Low complexity [up to 4 sessions (pre-release virtual contact)]</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Service User has a low risk of reoffending.</li>
                  <li>Service User has limited family support or engagement with community services and there may be barriers to achieving community integration.</li>
                </ul>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="medium" name="social-inclusion-complexity" type="radio" value="Medium complexity" {{ checked("social-inclusion-complexity", "Medium complexity") }}>
              <label class="govuk-label govuk-radios__label" for="medium">
                <h2 class="govuk-body-m govuk-!-margin-bottom-1">Medium complexity [up to 8 sessions (including up to 2 pre-release face-to- face contacts)]</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Service User has medium risk of reoffending.</li>
                  <li>Service User has limited family support or engagement with community services and there may be barriers to achieving community integration.</li>
                  <li>Service User has additional vulnerabilities requiring support through release and may have a pattern of non-compliance, e.g. recalls or failure to attend appointments.</li>
                </ul>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="high" name="social-inclusion-complexity" type="radio" value="High complexity" {{ checked("social-inclusion-complexity", "High complexity") }}>
              <label class="govuk-label govuk-radios__label" for="high">
                <h2 class="govuk-body-m govuk-!-margin-bottom-1">High complexity [(up to 12 sessions (including up to 3 pre-release face-to-face contacts)]</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Service User has high risk of reoffending.</li>
                  <li>Service User has limited family support, a lack of social networks or minimal engagement with community services and there may be barriers to achieving community integration.</li>
                  <li>Service User has additional vulnerabilities requiring support throughout release with a pattern of non-compliance and a high likelihood of non-compliance in early weeks of release, e.g. recalls or failure to attend appointments.</li>
                </ul>
              </label>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
