{% extends "layout.html" %}

{% block pageTitle %}
  End of service report
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">End of service report</h1>

      <h2 class="govuk-heading-l">Personal details</h2>

      <dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Other names</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.otherNames }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.addressHTML | safe }}
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Nationality</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.nationality }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Ethnic group</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.ethnicGroup }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Preferred language</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.preferredLanguage }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Sex</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.sexuality }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Religion or belief</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.religionOrBelief }}</dd>
	</div>

	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key">Disabilities</dt>
          <dd class="govuk-summary-list__value">{{ referral.serviceUser.disabilities }}</dd>
	</div>
      </dl>

      <form method="post" action="/beta-sprint-2/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/end-of-service-report-check-answers">

        {% if isTermination %}
          <h2 class="govuk-heading-m">
            Reason for termination
          </h2>

          <p class="govuk-body">
          As a service provider you can terminate the service at any time. Please provide details below.
          </p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="termination-short-reason">
              Brief detail
            </label>
            <input class="govuk-input" id="termination-short-reason" name="termination-short-reason">
          </div>

          <input type="hidden" name="terminated" value="true">

          <div class="govuk-form-group">
            <label class="govuk-label" for="termination-reason">
              Reason for termination
            </label>
            <textarea class="govuk-textarea" id="termination-reason" name="termination-reason"></textarea>
          </div>
        {% endif %}

        {% for desiredOutcome in intervention.desiredOutcomes %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Did {{ referral.serviceUser.firstName }} achieve desired outcome {{ loop.index }}?</h2>
              </legend>

              <p class="govuk-body">{{ intervention.desiredOutcomes[loop.index0].text }}</p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="desired-outcome-{{loop.index0}}-achieved" name="desired-outcome-{{loop.index0}}" type="radio" value="achieved">
                  <label class="govuk-label govuk-radios__label" for="desired-outcome-{{loop.index0}}-achieved">Achieved</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="desired-outcome-{{loop.index0}}-partially-achieved" name="desired-outcome-{{loop.index0}}" type="radio" value="partially-achieved">
                  <label class="govuk-label govuk-radios__label" for="desired-outcome-{{loop.index0}}-partially-achieved">Partially achieved</label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="desired-outcome-{{loop.index0}}-not-achieved" name="desired-outcome-{{loop.index0}}" type="radio" value="not-achieved">
                  <label class="govuk-label govuk-radios__label" for="desired-outcome-{{loop.index0}}-not-achieved">Not achieved</label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="desired-outcome-{{loop.index0}}-details">
              Provide details about {{ referral.serviceUser.firstName }}’s performance during the intervention.
            </label>

            <textarea class="govuk-textarea" id="desired-outcome-{{loop.index0}}-details" name="desired-outcome-{{loop.index0}}-details"></textarea>
          </div>
        {% endfor %}

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Review before submitting">
      </form>
    </div>
  </div>
{% endblock %}
