{% extends "layout.html" %}

{% block pageTitle %}
  Have you scheduled the initial assessment?
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="/beta-sprint-2/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Have you scheduled the initial assessment?
      </h1>

      <h2 class="govuk-heading-m">
        If you have scheduled the assessment, add the details below
      </h2>

      <form action="/beta-sprint-2/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}/initial-assessment" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="date">
            Date
          </label>
          <input class="govuk-input" id="date" name="date">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="time">
            Time
          </label>
          <input class="govuk-input" id="time" name="time">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Address
          </label>
          <input class="govuk-input" id="address" name="address">
        </div>

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Confirm details">
      </form>

      <h2 class="govuk-heading-m">
        If you haven’t scheduled the assessment
      </h2>

      <p class="govuk-body">
      Contact the probation practitioner and schedule an appointment by either:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="send-email" class="govuk-link">sending an email to the probation practitioner</a></li>
        <li>contacting by telephone on {{ referral.probationPractitioner.phone }}</li>
      </ul>

      <p class="govuk-body">
      Contact the service user with the appointment details by either:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sending an email to {{ referral.serviceUser.email }}</li>
        <li>contacting by telephone on {{ referral.serviceUser.phone }}</li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar">
      <h2>Subsection</h2>
      <p>
      <a class="govuk-link" href="send-email">Send email to probation practitioner</a>
      </p>
      <p>
      <a class="govuk-link" href="upload-case-notes">Add case notes</a>
      </p>
      <p>
      <a class="govuk-link" href="communication-archive">View communication history</a>
      </p>
    </div>

  </div>
{% endblock %}
