{% extends "layouts/main.html" %}

{% block pageTitle %}
  My cases
{% endblock %}

{% block main %}
{% include "../includes/primary-nav-sp.html" %}
{{ super() }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-l">My cases</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="my-cases">My cases</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="open-cases">All open cases</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="unassigned-cases">Unassigned cases</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="completed-cases">Completed cases</a>
        </li>
      </ul>

    </nav>

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name/CRN</th>

          <th scope="col" class="govuk-table__header" aria-sort="ascending">Expected release date</th>

          <th scope="col" class="govuk-table__header" aria-sort="ascending">Probation office</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Intervention type</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Referral number</th>

          <th scope="col" class="govuk-table__header" aria-sort="none">Date recieved</th>

        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a href="case-progress">Alex River</a><br>
            D007615</td>

          <td class="govuk-table__cell">18 Jun 2023</td>

          <td class="govuk-table__cell">Redfern Building</td>

          <td class="govuk-table__cell">ETE Services</td>

          <td class="govuk-table__cell">RY2127AG</td>

          <td class="govuk-table__cell">4 Mar 2023</td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a href="delete-draft-export">Simon Tillman</a><br>
                                            D743927</td>

          <td class="govuk-table__cell">Released</td>

          <td class="govuk-table__cell">Chichester Business Centre  </td>

          <td class="govuk-table__cell">Accommodation Services</td>

          <td class="govuk-table__cell">YE7432DD</td>

          <td class="govuk-table__cell">1 Mar 2023</td>

        </tr>


        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a href="delete-draft-export">Mohammed Singh</a><br>
                                            D201200</td>

          <td class="govuk-table__cell">N/A</td>

          <td class="govuk-table__cell">Shrewsbury</td>

          <td class="govuk-table__cell">Accommodation Services</td>

          <td class="govuk-table__cell">JE9392LG</td>

          <td class="govuk-table__cell">26 February 2023</td>

        </tr>



      </tbody>
    </table>

















</div>
</div>

{% endblock %}
