{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
Interventions - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = "dps-home" %}

{% block header %}
    {% include "/includes/head-dps.html" %}
{% endblock %}

{% block content %}
<div class="moj-width-container">
   <!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-7">[Service name]</a> -->
    <h1 class="govuk-heading-l">Commissioned Rehabilitative Services (CRS)</h1>
</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul class="govuk-grid-row card-group govuk-!-margin-bottom-9">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="find-crs">Find a CRS intervention and make a referral</a>
                    </h2>
                    <p class="govuk-body card__description">Search for suitable CRS interventions and start a referral.</p>
                    <p>&nbsp;</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">View referrals</a>
                    </h2>
                    <p class="govuk-body card__description">View open, unassigned, completed and cancelled referrals.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Draft referrals (?)</a>
                    </h2>
                    <p class="govuk-body card__description">View referrals that have been started but not completed.</p>
                </div>
            </li>
            <br />
            <br />
        </ul>
    </div>
</div>
{% endblock %}
