{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Make a referral</h1>

      <ol class="moj-task-list">
        <li>
          {% if data["needs-and-requirements-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-id"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              in progress
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">1.
            </span>
            Service user
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              <a class="moj-task-list__task-name" href="make-a-referral/service-user-id">Enter CRN, PNC or NOMIS number</a >
            </li>
            <li class="moj-task-list__item">
              {% if data["service-user-id"]%}
                <a class="moj-task-list__task-name" href="make-a-referral/service-user-details">Confirm personal information</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Service user personal information
                </span>
              {% endif %}
            </li>
          </li>
          <li class="moj-task-list__item">
            {% if data["risk-information-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/risk-information">Confirm risk information</a >
            {% else %}
              <span class="app-task-list__task-name">
                Service user risk information
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["risk-information-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/needs-and-requirements">Confirm needs and requirements</a >
            {% else %}
              <span class="app-task-list__task-name">
                Service user needs and requirements
              </span>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        {% if data["responsible-officer-information-completed"] %}
          <strong class="govuk-tag govuk-tag app-task-list__tag">
            completed
          </strong>
        {% elseif data["needs-and-requirements-completed"] %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            not started
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            cannot start yet
          </strong>
        {% endif %}

        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">2.
          </span>
          Responsible officer
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            {% if data["needs-and-requirements-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/responsible-officer-information">Check responsible officer information</a >
            {% else %}
              <span class="app-task-list__task-name">
                Responsible officer information
              </span>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        {% if data["accommodation-more-info-completed"] %}
          <strong class="govuk-tag govuk-tag app-task-list__tag">
            completed
          </strong>
        {% elseif data["accommodation-sentence"] %}
          <strong class="govuk-tag govuk-tag app-task-list__tag">
            in progress
          </strong>
        {% elseif data["needs-and-requirements-completed"] %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            not started
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            cannot start yet
          </strong>
        {% endif %}

        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">3.
          </span>
          Accommodation referral
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            {% if data["needs-and-requirements-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/select-sentence">Select the relevant sentence for the accommodation service referral</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select relevant sentence
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["accommodation-sentence"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/desired-outcomes">What are the desired outcomes for the accommodation service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select desired outcomes
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["accommodation-desired-outcomes"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/complexity-level">What is the required complexity level for the social inclusion service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select required complexity level
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["accommodation-desired-outcomes"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/completion-date">What date does the accommodation service need to be completed by?</a>
            {% else %}
              <span class="app-task-list__task-name">
                What date does the accommodation service need to be completed by?
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["accommodation-date-year"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/rar-days">Are you using RAR days for the accommodation service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Are you using RAR days for the accommodation service?
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["accommodation-using-rar-days"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/further-information">Do you have any further information for the accommodation service provider?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Do you have any further information for the accommodation service provider?
              </span>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        {% if data["social-inclusion-more-information-completed"] %}
          <strong class="govuk-tag govuk-tag app-task-list__tag">
            completed
          </strong>
        {% elseif data["social-inclusion-sentence"] %}
          <strong class="govuk-tag govuk-tag app-task-list__tag">
            in progress
          </strong>
        {% elseif data["needs-and-requirements-completed"] %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            not started
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            cannot start yet
          </strong>
        {% endif %}

        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">4.
          </span>
          Social inclusion referral
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            {% if data["needs-and-requirements-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/select-sentence">Select the relevant sentence for the social inclusion service referral</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select relevant sentence
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["social-inclusion-sentence"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/desired-outcomes">What are the desired outcomes for the social inclusion service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select desired outcomes
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["social-inclusion-desired-outcomes"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/complexity-level">What is the required complexity level for the social inclusion service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Select required complexity level
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["social-inclusion-complexity"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/completion-date">What date does the social inclusion service need to be completed by?</a>
            {% else %}
              <span class="app-task-list__task-name">
                What date does the social inclusion service need to be completed by?
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["social-inclusion-date-year"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/rar-days">Are you using RAR days for the social inclusion service?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Are you using RAR days for the social inclusion service?
              </span>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            {% if data["social-inclusion-using-rar-days"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/further-information">Do you have any further information for the social inclusion service provider?</a>
            {% else %}
              <span class="app-task-list__task-name">
                Do you have any further information for the social inclusion service provider?
              </span>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            not started
          </strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
            cannot start yet
          </strong>
        {% endif %}
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">5.
          </span>
          Check your answers
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
              <a class="moj-task-list__task-name" href="make-a-referral/check-answers">Check your answers</a >
            {% else %}
              <span class="app-task-list__task-name">
                Check your answers
              </span>
            {% endif %}
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
