{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Make a referral</h1>

    <ol class="moj-task-list">
      <li>
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">1. </span>
          Service user's information
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/service-user-id"
              >Enter service user's case identifier</a
            >
            {% if data["service-user-id"] %}
              <strong class="govuk-tag moj-task-list__task"> completed </strong>
            {% endif %}
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/service-user-details"
              >Service user's personal information</a
            >
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/risk-information"
              >Service user's risk information</a
            >
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/needs-and-requirements"
              >Service user's needs and requirements</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">2. </span>
          Responsible officer's information
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/responsible-officer-information"
              >Responsible officer's information</a
            >
            <strong class="govuk-tag moj-task-list__task"> not started </strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">3. </span>
          Accommodation referral information
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/select-sentence">Select the relevant sentence for the accommodation service referral</a>
            <strong class="govuk-tag moj-task-list__task"> not started </strong>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/desired-outcomes">What are the desired outcomes for the accommodation service?</a>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/completion-date">What date does the accommodation service need to be completed by?</a>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/rar-days">Are you using RAR days for the accommodation service?</a>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/accommodation-service/further-information">Do you have any further information for the accommodation service provider?</a>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">4. </span>
          Social inclusion referral information
        </h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/select-sentence">Select the relevant sentence for the social inclusion service referral</a>
            <strong class="govuk-tag moj-task-list__task"> not started </strong>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/desired-outcomes">What are the desired outcomes for the social inclusion service?</a>
          </li>
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="make-a-referral/social-inclusion-service/complexity-level">What is the required complexity level for the social inclusion service?</a>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
