{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral details
{% endblock %}

{% block header %}
{% include "/includes/head-dps-dp.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
  <!--<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to CRS homepage</a>-->
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Referral for Alex River</h1>
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="referral-details-assigned.html">Referral details</a>
          </li>
  
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="progress-schedule-ics.html">Progress</a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">Referral details</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Personal details
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Alex River
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CRN
              </dt>
              <dd class="govuk-summary-list__value">
                D007615
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current location
              </dt>
              <dd class="govuk-summary-list__value">
                Community
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                20 Feb 1975 (47 years old)
              </dd>
            </div>
  
            <!--<div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prison number *
              </dt>
              <dd class="govuk-summary-list__value">
                A8362HF
              </dd>
            </div>-->
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred language
              </dt>
              <dd class="govuk-summary-list__value">
                English
              </dd>
            </div>

             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current circumstances<br>
                <span class="govuk-body-s secondary-text govuk-!-font-weight-regular" style="color: #505a5f;">
                  Last updated 7 January 2026
                </span>
              </dt>
              <dd class="govuk-summary-list__value">             
                <ul class="govuk-list">       
                    <li>Relationship: Married/Civil partnership</li>
                    <li>Employment: Full time employed</li>
                    <li>Dependents: Has dependents</li>                        
                </ul> 
                <!--<a class="govuk-link" href="#">View details and notes</a>-->
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Disabilities<br>
                <span class="govuk-body-s secondary-text govuk-!-font-weight-regular" style="color: #505a5f;">
                  Last updated 7 January 2026
                </span>
              </dt>
              <dd class="govuk-summary-list__value">             
                <ul class="govuk-list">       
                    <li>Neurodiverse conditions</li>                  
                </ul> 
                <!--<a class="govuk-link" href="#">View details and notes</a>-->
              </dd>
            </div>
          </dl>
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Equality monitoring
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                Argentine, Brazilian
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Ethnicity
              </dt>
              <dd class="govuk-summary-list__value">
                White: British/English/Welsh/Scottish/Northern Irish
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Religion or belief
              </dt>
              <dd class="govuk-summary-list__value">
                No religion
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sex
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
          </dl>
          <!--<p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">View more equality monitoring on NDelius (opens in new tab)</a></p>-->
        </div>
      </div>

            <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Additional information
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Home office interest
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
               </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span>Additional information here - Claiming asylum</span>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offender personality disorder (OPD) pathway
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
          </dl>
          <!--<p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">View more equality monitoring on NDelius (opens in new tab)</a></p>-->
        </div>
      </div>

               <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Risk information
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who is at risk?
              </dt>
              <dd class="govuk-summary-list__value">
                People who Alex believes have wronged him, people in his local community when he is under the influence of drugs and alcohol, and staff when he is in custody. Females in particular can be at risk when associating with Alex, but this is usually when he is under the influence of drugs and alcohol.
               </p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the nature of the risk?
              </dt>
              <dd class="govuk-summary-list__value">
                Violence, threats, physical harm
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                In what circumstances or situations would offending be most likely to occur?
              </dt>
              <dd class="govuk-summary-list__value">
                Not imminent - lenghty gap between convictions, but risk increases when under the influence of drugs and alcohol, and when associating with known violent offenders. No history of aggression towards staff or in custody. Level of violence deployed in current offence was significant and could have resulted in more serious harm. If Alex is in need of drugs or feels wronged, there is no telling how he might react. He says he is currently drug-free - in custody.Not imminent - lenghty gap between convictions, but risk increases when under the influence of drugs and alcohol, and when associating with known violent offenders. No history of aggression towards staff or in custody. Level of violence deployed in current offence was significant and could have resulted in more serious harm. If Alex is in need of drugs or feels wronged, there is no telling how he might react. He says he is currently drug-free - in custody.
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk of self-harm
              </dt>
              <dd class="govuk-summary-list__value">
                Don't know
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk of suicide
              </dt>
              <dd class="govuk-summary-list__value">
                Don't know
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Concerns in relation to coping in an approved premises or hostel
              </dt>
              <dd class="govuk-summary-list__value">
                Alex River has a history of offending since the age of 14. He is currently on license for an offence of supplying class A drugs as part of a county lines gang A712$**. In this offence the driver of the gang would take him to Saturn Pub in Space Town in his pink ford focus Reg ABC 123Y. He would wait at the entrance wearing a green baseball cap so people would know to approach him for drugs. He would sell heroin, cocaine and cannabis, which he kept in a NIKKK backpack. When the police arrested him, he threw the backpack at the officer - missing him and ran away, but he gave chase and arrested him around the corner in the garden of Moon Beam’s house. Forrest Mercury the car driver was also arrested and charged with drug related offences.
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Concerns in relation to vulnerability
              </dt>
              <dd class="govuk-summary-list__value">
                Alex has a history of drug misuse, including heroin and crack cocaine. He has been in and out of prison for most of his adult life, and has struggled to maintain employment and stable accommodation. He has a history of mental health issues, including depression and anxiety. He has no other family member who he can reside with and although his family support him, they do not offer the pro-social influence required to keep him from offending.
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional information
              </dt>
              <dd class="govuk-summary-list__value">
                None
              </dd>
            </div>
          </dl>
          <!--<p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">View more equality monitoring on NDelius (opens in new tab)</a></p>-->
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Additional support needs
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Physical health
              </dt>
              <dd class="govuk-summary-list__value">
                No
               </p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mental or emotional health
              </dt>
              <dd class="govuk-summary-list__value">
                Alex experiences periods of anxiety, low mood and emotional overwhelm, particularly during times of stress or uncertainty. Consistent, non-judgemental support, clear communication and regular wellbeing check-ins would be beneficial.
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Neurodiversity
              </dt>
              <dd class="govuk-summary-list__value">
                Alex has a neurodivergent condition that may affect concentration, information processing, organisation and confidence when learning new tasks. Support can include clear and simple communication, written instructions, structured routines, additional time for learning, regular check-ins and a patient, adaptable approach to help Alex engage and achieve positive outcomes.
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location and travel
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Caring responsibilities
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment and responsibilities
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Diversity
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Concerns in relation to vulnerability
              </dt>
              <dd class="govuk-summary-list__value">
                Alex has a history of drug misuse, including heroin and crack cocaine. He has been in and out of prison for most of his adult life, and has struggled to maintain employment and stable accommodation. He has a history of mental health issues, including depression and anxiety. He has no other family member who he can reside with and although his family support him, they do not offer the pro-social influence required to keep him from offending.
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional information
              </dt>
              <dd class="govuk-summary-list__value">
                None
              </dd>
            </div>
          </dl>
          <!--<p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">View more equality monitoring on NDelius (opens in new tab)</a></p>-->
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Contact details
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                Not available
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">
                07700 900002
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                alex.rivers@gmail.com
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main address<br>
                <span class="govuk-body-s secondary-text govuk-!-font-weight-regular" style="color: #505a5f;">
                  Last updated 6 January 2026
                </span>
              </dt>
              <dd class="govuk-summary-list__value">
                1 Lunar Lane, Newcastle, Newcastle upon Tyne, NE12 34AB<br>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Type of address</span>
                  <span>Friends/Family (settled) (verified)</span>
                </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Start date</span>
                  <span>1 December 2005</span>
                </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Notes</span>
                  <span>No notes</span>
                </p>
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <!--<div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other addresses
              </dt>
              <dd class="govuk-summary-list__value">              
                No other addresses       
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contacts
              </dt>
              <dd class="govuk-summary-list__value">             
                None
              </dd>
            </div>-->
          </dl>
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Referral details
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Referral date
              </dt>
              <dd class="govuk-summary-list__value">
                18 April 2025
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assigned to
              </dt>
              <dd class="govuk-summary-list__value">
                R&M Active Probation Practitioner (<a href="mailto:interventions-dev@digital.justice.gov.uk">interventions-dev@digital.justice.gov.uk</a>)<br>
                Michaela Boronsky (<a href="mailto:michaela.b@example.com">michaela.b@example.com</a>)
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-assign.html">
                  Change
                  <span class="govuk-visually-hidden"> location</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
  </div>
</div>

{% endblock %}
