{% extends "layout-add-and-find.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "./includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% set extraWide = true %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accommodation Services - East Midlands</h1>

      <p class="govuk-body">Services are available for all adult male Service Users, irrespective of risk level or complexity level, on a Community/ Suspended Sentence Order with a RAR or on Licence/Post-Sentence Supervision. They are also available to be delivered pre-release for those who will be under Probation supervision on release. Appointments which are part of sentence delivery will be enforceable.<br>
A range of approaches need to be used including direct delivery of interventions, support and advocacy, and advice and guidance.<br>
Interventions need to be tailored to reflect the complexity of a Service User’s needs and should aim to secure one or more of the following outcomes:<br>
· All barriers as identified in the Service User Action Plan, for example financial, behavioural, physical, mental or offence-type related), to obtaining or sustaining accommodation, are successfully removed.<br>
· Service User makes progress in obtaining accommodation.<br>
· Service User is helped to secure social or supported housing.<br>
· Service User is helped to secure a tenancy in the private rented sector (PRS)<br>
· Service User is helped to sustain existing accommodation.<br>
· Service User is prevented from becoming homeless.<br>
· Service User at risk of losing their tenancy are successfully helped to retain it<br>
· Service User has Settled Accommodation for at least three months (including for those serving custodial sentences of less than 6 months)<br>
· Service User has a strong prospect of sustaining Settled Accommodation for at least three months (including for those serving custodial sentences of less than 6 months)<br>
<br>
Activities:<br>
<br>
Accommodation:<br>
One to one, Group; Nottingham City, Mansfield, Leicester, Loughborough, Coalville, Boston, Grantham, Lincoln, Skegness, Derby, Buxton<br>
• Tenancy sustainment courses<br>
<br>
Accommodation:<br>
One to one (face-to-face, virtual, telephone, email, messaging), Group sessions.; Nottingham City, Mansfield, Leicester, Loughborough, Coalville, Boston, Grantham, Lincoln, Skegness, Derby, Buxton<br>
• Continuation of existing tenancy: IAG<br>
• Financial sustainability: IAG<br>
• Housing Application Assistance: IAG<br>
• Short-term accommodation: IAG<br>
• Sourcing Accommodation: Information and Guidance (IAG)<br>
• Support for those with additional needs<br>
• Support with Rent deposit: IAG<br>
• Support with housing-related benefits: IAG<br>
• Tenancy sustainment IAG<br>
<br>
Accommodation:<br>
One to one (face-to-face, virtual, telephone, email, messaging); Nottingham City, Mansfield, Leicester, Loughborough, Coalville, Boston, Grantham, Lincoln, Skegness, Derby, Buxton<br>
• Continuation of existing tenancy: S&amp;A<br>
• Housing Application Assistance: S&amp;A<br>
• Sourcing Accommodation: Support &amp; Advocacy (S&amp;A)<br>
• Support with housing-related benefits: S&amp;A<br>
<br>
Accommodation:<br>
; Nottingham City, Mansfield, Leicester, Loughborough, Coalville, Boston, Grantham, Lincoln, Skegness, Derby, Buxton<br>
• Support with Rent deposit: S&amp;A</p>

      


  

  

  

  

  

  

  
<dl class="govuk-summary-list govuk-summary-list--no-border refer-and-monitor__intervention-summary-list">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Commissioned Rehabilitative Service</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Region
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">East Midlands</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Derbyshire, Leicestershire, Lincolnshire, Nottinghamshire</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service category
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Accommodation</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Nacro</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">18+</p>
        </dd>
        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Gender
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Male</p>
        </dd>
        
      </div>
    
  
</dl>


      <form action="/intervention/e2c597cf-4d78-4cf2-94d1-461648952f7e/refer" method="GET">
        

  
    
  

<button class="govuk-button" data-module="govuk-button">
  Make a referral
</button>

      </form>

      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  
  <ul class="govuk-tabs__list" role="tablist">
    
      
        
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
          <a class="govuk-tabs__tab" href="#service-provider-tab" id="tab_service-provider-tab" role="tab" aria-controls="service-provider-tab" aria-selected="true" tabindex="0">
            Service Provider
          </a>
        </li>
      
    
  </ul>
  
  
    
      
      <div class="govuk-tabs__panel" id="service-provider-tab" role="tabpanel" aria-labelledby="tab_service-provider-tab">
        


  
<dl class="govuk-summary-list govuk-summary-list--no-border refer-and-monitor__intervention-summary-list">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Nacro</p>
        </dd>
        
      </div>
    
  
</dl>

      </div>
    
  
</div>

    </div>

  </div>

{% endblock %}