{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the person's CRN
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="allocated-pp">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#full-name-input">Enter a CRN or prison number</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-form-group govuk-form-group--error">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Enter a CRN or prison number
              </h1>
            </legend>
            <p id="national-insurance-number-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a CRN or prison number
            </p>
            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing  govuk-input--error" id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
            </div>
          </fieldset>
        </div>
      </div>

      {{ govukButton({
        text: 'Continue'
      }) }}

        </form>
      </div>
    </div>

{% endblock %}
