{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %} 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
    <h1 class="govuk-heading-l">Offender personality disorder (OPD) pathway</h1>
    <p class="govuk-body">NDelius shows Alex is eligible for the OPD pathway.</p>
   <!-- <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Offender personality disorder (OPD)
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Suicide attempts</p>
        </dd>   
      </div>
    </dl>-->

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="event-name">
          Enter details of the OPD link worker
        </label>
      </h1>
      <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <form action="ho-question" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}