{% extends "layouts/main.html" %}

{% block pageTitle %}
Thinking Skills Programme (TSP)
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="confirm-customer-details">
          <div class="govuk-form-group">
            <span class="govuk-caption-l">Alex River (CRN: X123456)</span>
            <h1 class="govuk-heading-l">Accommodation Services - South West</h1> 
            <strong class="moj-badge moj-badge--red">Court order</strong>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
          <dl class="govuk-summary-list" style="font-size: 1rem;">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>                  
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Intervention type
              </dt>
              <dd class="govuk-summary-list__value">
                Commissioned rehabilitative services (CRS)
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of sessions
              </dt>
              <dd class="govuk-summary-list__value">
                Variable
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Intervention format
              </dt>
              <dd class="govuk-summary-list__value">
                Variable, includes group, one-to-one sessions and online learning 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#location-1">South West, Location 1<br></a><br>
                <a href="#location-1">South West, Location 2<br></a><br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Average waiting time
              </dt>
              <dd class="govuk-summary-list__value">
                Under 6 months
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Overview (Intervention summary)</h2>
          <p class="govuk-body">Services are available for all adult male Service Users, irrespective of risk level or complexity level, on a Community/ Suspended Sentence Order with a RAR or on Licence/Post-Sentence Supervision. They are also available to be delivered pre-release for those who will be under Probation supervision on release. Appointments which are part of sentence delivery will be enforceable.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">What they will study (Topics/curriculum)</h2>
          <p class="govuk-body">A range of approaches need to be used including: direct delivery of interventions, support and advocacy, and advice and guidance.</p>
          <p class="govuk-body">Interventions need to be tailored to reflect the complexity of a Service User’s needs and should aim to secure one or more of the following outcomes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>All barriers as identified in the Service User Action Plan, for example financial, behavioural, physical, mental or offence-type related), to obtaining or sustaining accommodation, are successfully removed</li>
            <li>Service User makes progress in obtaining accommodation</li>
            <li>Service User is helped to secure social or supported housing</li>
            <li>Service User is helped to secure a tenancy in the private rented sector (PRS)</li>
            <li>Service User is helped to sustain existing accommodation</li>
            <li>Service User is prevented from becoming homeless</li>
            <li>Service User at risk of losing their tenancy are successfully helped to retain it</li>
            <li>Service User has Settled Accommodation for at least three months (including for those serving custodial sentences of less than 6 months)</li>
            <li>Service User has a strong prospect of sustaining Settled Accommodation for at least three months (including for those serving custodial sentences of less than 6 months)</li>
          </ul>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Locations:</h2>
          <details class="govuk-details" id="location-1">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Location 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
              <dl class="govuk-summary-list" style="font-size: 1rem;">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    100 Name Street, Postcode, City
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Provider name
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Intervention format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Group, Online, 1-2-1;
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Average waiting time
                  </dt>
                  <dd class="govuk-summary-list__value">
                    under 6 months
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Topics/curriculum</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Pre-tenancy training session</li>
                <li>Tenancy Guidance</li>
              </ul>

              <h3 class="govuk-heading-m">Locations covered</h3>
              <p class="govuk-body">Locations covered by this contract are Gloucestershire, Wiltshire, Somerset, Dorset, Devon and Cornwall with physical offices in the towns of Cheltenham, Gloucester, Swindon, Salisbury, Bath, Weston-Super-Mare, Bristol, Yeovil, Bridgewater, Bournmouth, Taunton, Kingswood/Staple Hill, Frome, Poole, Weymouth, Plymouth, Dartmoor, Torquay, Exeter, Barnstable, Bodmin, Cambourne, Truro, St Austell, RedRuth, Bude.</p>
              
              <h3 class="govuk-heading-m">Accessibility and other info</h2>
              <p class="govuk-body">[placeholder] This section can cover topics such as accessibility needs and how they are catered for and neurodivergence</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Disabled access</li>
                <li>Disabled toilet</li>
                <li>Limited disabled parking available</li>
                <li>Lift available </li>
                <li>Assistance dogs welcome ????</li>
                <li>Building has hearing enhancement facilities</li>
              </ul>
              
              <h3 class="govuk-heading-m">Get help with your referal or intervention</h2>
              <ul class="govuk-list">
                <li>Phone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                <li>Email: name@example.com</li>
              </ul>
            </div>
          </details>
          <details class="govuk-details" id="location-2">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Location 2
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
              <dl class="govuk-summary-list" style="font-size: 1rem;">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    3 Name Street, Postcode, City
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Provider name
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Intervention format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1-2-1
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Average waiting time
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 year or over
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Topics/curriculum</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Obtaining accommodation</li>
                <li>Outreach locations</li>
                <li>Sustaining accommodation</li>
              </ul>

              <h3 class="govuk-heading-m">Locations covered</h3>
              <p class="govuk-body">Locations covered by this contract are Gloucestershire, Wiltshire, Somerset, Dorset, Devon and Cornwall with physical offices in the towns of Cheltenham, Gloucester, Swindon, Salisbury, Bath, Weston-Super-Mare, Bristol, Yeovil, Bridgewater, Bournmouth, Taunton, Kingswood/Staple Hill, Frome, Poole, Weymouth, Plymouth, Dartmoor, Torquay, Exeter, Barnstable, Bodmin, Cambourne, Truro, St Austell, RedRuth, Bude.</p>
              
              <h3 class="govuk-heading-m">Accessibility and other info</h2>
              <p class="govuk-body">[placeholder] This section can cover topics such as accessibility needs and how they are catered for and neurodivergence</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Disabled access</li>
                <li>Disabled toilet</li>
                <li>Limited disabled parking available</li>
                <li>Lift available </li>
                <li>Assistance dogs welcome ????</li>
                <li>Building has hearing enhancement facilities</li>
              </ul>

              <h3 class="govuk-heading-m">Get help with your referal or intervention</h2>
              <ul class="govuk-list">
                <li>Phone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                <li>Email: name@example.com</li>
              </ul>
            </div>
          </details>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->
        <div class="govuk-button-group">
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Refer now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a> 
          <p class="govuk-body"> or <a class="govuk-link" href="#">create a deeplink for nDelius</a></p>
        </div>

      </form>
    </div>
  </div>



{% endblock %}
