{% extends "layouts/main.html" %}

{% block pageTitle %}
Thinking Skills Programme (TSP)
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <div class="moj-identity-bar__details">
      <span class="moj-identity-bar__title"><b>Alex River</b>  | CRN: X123456</span>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="confirm-customer-details2">
          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">Finance, benefits and debt services</h1> 
            <strong class="moj-badge moj-badge--orange">Done before</strong>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
          <dl class="govuk-summary-list" style="font-size: 1rem;">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>                  
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Intervention type
              </dt>
              <dd class="govuk-summary-list__value">
                Commissioned rehabilitative services (CRS)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of sessions
              </dt>
              <dd class="govuk-summary-list__value">
                variable
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Intervention format
              </dt>
              <dd class="govuk-summary-list__value">
                one-to-one sessions and online learning 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#location-1">Location 1 details</a><br>
                <a href="#location-2">Location 2 details</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Average waiting time
              </dt>
              <dd class="govuk-summary-list__value">
                Varies (this is location specific) 
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Overview (Intervention summary)</h2>
          <p class="govuk-body">Finance, Benefits and Debt (FBD) services help people on probation to understand banking, stabilise debt, and claim benefits. These services are part of the Ministry of Justice’s Commissioned Rehabilitative Services (CRS). Part of the probation system, these services are commissioned and delivered at a local and regional level to provide flexible, responsive services to help break the cycle of reoffending.</p>

          <div class="govuk-inset-text">
            [Placeholder] Please be aware that this intervention has a dependencies on others (for example you need to finish intervention <a href="#">[intervention name]</a> before starting this one)
          </div>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">What they will study (Topics/curriculum)</h2>
          <p class="govuk-body">[placeholder]</p>
          <p class="govuk-body">Modules</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
          </ul>
          <p class="govuk-body">Goals aiming to achieve</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
          </ul>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Locations:</h2>
          <details class="govuk-details" id="location-1">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Location 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
              <dl class="govuk-summary-list" style="font-size: 1rem;">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    100 Name Street, Postcode, City
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Intervention format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Group
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Average waiting time
                  </dt>
                  <dd class="govuk-summary-list__value">
                    under 6 months
                  </dd>
                </div>
              </dl>
              <h3 class="govuk-heading-m">Accessibility and other info</h2>
              <p class="govuk-body">[placeholder] This section can cover topics such as accessibility needs and how they are catered for and neurodivergence</p>
                
              <h3 class="govuk-heading-m">Get help with your referal or intervention</h2>
              <ul class="govuk-list">
                <li>Phone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                <li>Email: name@example.com</li>
              </ul>
            </div>
          </details>
          <details class="govuk-details" id="location-2">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Location 2
              </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
              <dl class="govuk-summary-list" style="font-size: 1rem;">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    3 Name Street, Postcode, City
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Intervention format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Group
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Average waiting time
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 year or over
                  </dd>
                </div>
              </dl>
              <h3 class="govuk-heading-m">Accessibility and other info</h2>
              <p class="govuk-body">[placeholder] This section can cover topics such as accessibility needs and how they are catered for and neurodivergence</p>
                
              <h3 class="govuk-heading-m">Get help with your referal or intervention</h2>
              <ul class="govuk-list">
                <li>Phone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                <li>Email: name@example.com</li>
              </ul>
            </div>
          </details>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->
        <div class="govuk-button-group">
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Refer now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a> 
          <p class="govuk-body"> or <a class="govuk-link" href="#">create a deeplink for nDelius</a></p>
        </div>

      </form>
    </div>
  </div>



{% endblock %}
