{% extends "layouts/main.html" %}

{% block pageTitle %}
Check Alex River's details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Review Alex River’s information for the search</h1>
    <div class="govuk-inset-text">
      These details will be used to find suitable interventions for Alex, so they must be up to date.<br><br> If the details are incorrect, they should be updated in <a href="#">nDelius</a> or <a href="#">OASys</a> by someone with edit access.
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd1">Personal details</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="cyd2">Risks and needs</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd3">Sentence and offence history</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd4">Intervention history</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Risks and needs</h2>

<!--predictor scores and risk level-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Predictor scores and risk level
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="moj-fixed-width-40 govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Risk</th>
              <th scope="col" class="govuk-table__header app-custom-class">Year 1</th>
              <th scope="col" class="govuk-table__header app-custom-class">Year 2</th>
              <th scope="col" class="govuk-table__header app-custom-class">Risk level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OGRS3 probability of proven reoffending</th>
              <td class="govuk-table__cell">55%</td>
              <td class="govuk-table__cell">71%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--red">High</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OGP probability of proven non-violent reoffending</th>
              <td class="govuk-table__cell">10%</td>
              <td class="govuk-table__cell">10%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OVP probability of proven violent-type reoffending</th>
              <td class="govuk-table__cell">35%</td>
              <td class="govuk-table__cell">51%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--orange">Medium</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OSP indecent image reoffending risk</th>
              <td class="govuk-table__cell">&#8212;</td>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OSP contact sexual reoffending risk</th>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Risk of serious recidivism (RSR)</th>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">1.11%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--orange">Low</strong> (DYNAMIC)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--Risk information-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Risk information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is at risk	
            </dt>
            <dd class="govuk-summary-list__value">
              Partner
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nature of risk	
            </dt>
            <dd class="govuk-summary-list__value">
              Risk of violence
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When risk is likely to be greatest	
            </dt>
            <dd class="govuk-summary-list__value">
              Jealousy
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Concerns relating to self-harm	
            </dt>
            <dd class="govuk-summary-list__value">
              Not known
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Concerns relating to suicide
            </dt>
            <dd class="govuk-summary-list__value">
              Not known
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Concerns relating to coping in a hostel setting	
            </dt>
            <dd class="govuk-summary-list__value">
              Not known
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional information	
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--SARA-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Spousal assault risk assessment (SARA)
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SARA level	
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="moj-badge moj-badge--red">High</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--Alex River’s risk of serious harm (RoSH) levels-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Risk of serious harm (RoSH) levels
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Risk to</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Risk in custody</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Risk in community</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Children</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Public</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Known adult</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--red">High</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Staff</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Prisoners</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">&#8212</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--Needs-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Alex River's needs
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="moj-fixed-width-40 govuk-table__header">Need area</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Score</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Need level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Accommodation</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--red">High</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Education, Training and Employment (ETE)</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Finance</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Relationships</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Lifestyle and associates</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Drug misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Alcohol misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Emotional wellbeing</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Thinking and behaviour</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--orange">Medium</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Attitudes</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <form action="/find/crn-path/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send
      </button>
    </form>
  </div>
</div>
{% endblock %}
