{% extends "layouts/main.html" %}

{% block pageTitle %}
Check Alex River's details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Review Alex River’s information for the search</h1>
    <div class="govuk-inset-text">
      These details will be used to find suitable interventions for Alex, so they must be up to date.<br><br> If the details are incorrect, they should be updated in <a href="#">nDelius</a> or <a href="#">OASys</a> by someone with edit access.
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd1">Personal details</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd2">Risks and needs</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="cyd3">Sentence and offence history</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd4">Intervention history</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Sentence and offence history</h2>

<!--Sentence details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Sentence and main offence details 
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence type
            </dt>
            <dd class="govuk-summary-list__value">
              Domestic violence (IPV) - 09144
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              Public Health Offence
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence date	
            </dt>
            <dd class="govuk-summary-list__value">
              25 Sep 2020
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sentence date
            </dt>
            <dd class="govuk-summary-list__value">
              17 Nov 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End of sentence date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Sep 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum number of enforceable days
            </dt>
            <dd class="govuk-summary-list__value">
              36 days 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date intervention to be completed by 
            </dt>
            <dd class="govuk-summary-list__value">
              25 Sep 2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court ordered interventions
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Alcohol Dependence Treatment Programme (ADTP) </li>
                <li>Becoming New Me+ (BNM+)</li>
                <li>An intervention to rebuild relationships</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

 <!--Licence conditions-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Additional licence conditions
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exclusion zones
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-contact	
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Electronic monitoring
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alcohol monitoring on licence (AML)
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Polygraph
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child contact
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationships
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Terrorist personal search condition
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other terrorism/extremism related licence conditions
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
        </dl>
      </div>
    </div>  

<!--Offence history-->
<h2 class="govuk-heading-m">Offence history</h2>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Most recent offences
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <table class="govuk-table" data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">      
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Offence date</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Category</th>
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell">25 Sep 2020</td>
      
            <td class="govuk-table__cell" data-sort-value="6961">Class unspecified - permitting premises to be used - 09329</td>
      
            <td class="govuk-table__cell">Permitting premises to be used for unlawful (drug-related) purposes</td>
      
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell">11 Nov 2018</td>
      
            <td class="govuk-table__cell" data-sort-value="6194">Class unspecified - permitting premises to be used - 09329</td>
      
            <td class="govuk-table__cell">Permitting premises to be used for unlawful (drug-related) purposes</td>
      
          </tr>
      
        </tbody>
      </table>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See full offence history
          </span>
        </summary>
        <div class="govuk-details__text">
          Alex River has no futher offences.
        </div>
      </details>
    </div>
  </div>  



    <form action="/find/crn-path/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send
      </button>
    </form>
    </div>
  </div>

{% endblock %}
