{% extends "layouts/main.html" %}

{% block pageTitle %}
Check Alex River's details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check Alex River's details before sending your search</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If these details are incorrect they should be updated in nDelius or OASys by someone with edit access.<br>
        To be aware that other systems like <a href="#">nDelius</a> or <a href="#">OASys</a> should be used for checking further info or check case notes.
        Softer wording for "By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct."
      </strong>
    </div>
  </div>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd1">Personal details</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd2">Risks and needs</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="cyd3">Sentence and offence history</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="cyd4">Intervention history</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Sentence and offence history</h2>
    <!--Sentence details-->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Sentence details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="moj-fixed-width-40 govuk-table__header">Sentence date</th>
          <td class="govuk-table__cell">3 April 2018</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Remaining sentence time</th>
          <td class="govuk-table__cell">7 years, 11 months</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Setting</th>
          <td class="govuk-table__cell">community</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Rehabilitation Activity Requirement (RAR) days</th>
          <td class="govuk-table__cell">14 days <em>remaining</em> out of 36 days</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Court ordered interventions</th>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Alcohol Dependence Treatment Programme (ADTP)</li>
              <li>Becoming New Me+ (BNM+)</li>
              <li>[Here is an example of a free text field where an intervention is described]</li>
            </ul>
          </td>
        </tr>         
      </tbody>
    </table>
    <!--Licence conditions-->
    <table class="govuk-table">
      <h2 class="govuk-heading-m">Additional licence conditions</h2>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="moj-fixed-width-40 govuk-table__header">Exclusion Zones</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Non-Contact</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Electronic Monitoring</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Alcohol Monitoring on Licence (AML)</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Polygraph</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Child Contact</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Relationships</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Terrorist Personal Search Condition</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Other Terrorism/Extremism Related Licence Conditions</th>
          <td class="govuk-table__cell">Not applicable</td>
        </tr>
      </tbody>
    </table>
      
    <!--Offence history-->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Main offence (07839)</caption>
      <h2 class="govuk-heading-m">Offence history</h2>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="moj-fixed-width-40 govuk-table__header">Offence</th>
          <td class="govuk-table__cell">Domestic violence (IPV) - 09144</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Category</th>
          <td class="govuk-table__cell">Public Health Offence</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Offence date</th>
          <td class="govuk-table__cell">11 June 2020</td>
        </tr>
      </tbody>
    </table>
    <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Additional offence(s)
              </span>
            </summary>
    <div class="govuk-details__text">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Additional offence (09329)</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Offence</th>
            <td class="govuk-table__cell">Class unspecified - permitting premises to be used - 09329</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Category</th>
            <td class="govuk-table__cell">Permitting premises to be used for unlawful (drug-related) purposes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Offence date</th>
            <td class="govuk-table__cell">11 June 2018</td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Additional offence (07352)</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Offence</th>
            <td class="govuk-table__cell">Class unspecified - permitting premises to be used - 09329</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Category</th>
            <td class="govuk-table__cell">Permitting premises to be used for unlawful (drug-related) purposes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Offence date</th>
            <td class="govuk-table__cell">11 June 2016</td>
          </tr>
        </tbody>
      </table>

    <form action="/find/crn-path/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept and send
      </button>
    </form>
    </div>
  </div>

{% endblock %}
