{% extends "layouts/main.html" %}

{% block pageTitle %}
Check Alex River's details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check Alex River's details before sending your search</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If these details are incorrect they should be updated in nDelius or OASys by someone with edit access.<br>
        To be aware that other systems like <a href="#">nDelius</a> or <a href="#">OASys</a> should be used for checking further info or check case notes.
        Softer wording for "By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct."
      </strong>
    </div>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="cyd1">Personal details</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="cyd2">Risks and needs</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="cyd3">Sentence and offence history</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="cyd4">Intervention history</a>
          </li>
        </ul>
    
      </nav>

      <h2 class="govuk-heading-l">Intervention history</h2>
      <!--Intervention history-->
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Intervention history</caption>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            be aware this is not the full list [reminder for content]
          </strong>
        </div>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Intervention name</th>
            <th scope="col" class="govuk-table__header">Provider name</th>
            <th scope="col" class="govuk-table__header">Intervention date</th>
            <th scope="col" class="govuk-table__header">Intervention status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="font-weight: normal;">Becoming New Me+ (BNM+)</th>
            <td class="govuk-table__cell">HMPPS Interventions Services</td>
            <td class="govuk-table__cell">3 April 2018</td> 
            <td class="govuk-table__cell">Completed</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="font-weight: normal;">Becoming New Me+ (BNM+)</th>
            <td class="govuk-table__cell">HMPPS Interventions Services</td>
            <td class="govuk-table__cell">26 May 2017</td> 
            <td class="govuk-table__cell"><strong class="moj-badge moj-badge--grey">Incomplete</strong></td>
          </tr>
        </tbody>
      </table>
  
    <form action="/find/crn-path/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept and send
      </button>
    </form>
  </div>
</div>
{% endblock %}
