{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm customer details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Alex River</h1>
    <p id="company-number">CRN <strong>X123456</strong></p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p>govuk-grid-column-one-third</p>
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
    
        <div class="moj-filter__header-action">
        </div>
      </div>

      
    
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
    
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>

            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>
          </div>
    
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Offence</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Offence here</a></li>
          </ul>
    
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Risk scores</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> PLACEHOLDER</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Gender</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Male</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Setting</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Community</a></li>
          </ul>
        </div>
    
        <div class="moj-filter__options">
    
          <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
            Apply filters
          </button>
    
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Keywords
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text">
          </div>
    
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Needs score
              </legend>
    
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type">
                    Accommodation (18)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type-2">
                    Education, training and employment (ETE) (5)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Finance (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Relationships (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Lifestyle and associates (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Drug misuse (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Alcohol misuse (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Emotional wellbeing (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Thinking and behaviour (2)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Atitudes (2)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Probation delivery unit (PDU)
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text" value="County Durham: Darlington Probation Office">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Probation office
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text" value="Newcastle upon Tyne Probation office">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Accessibility facilities
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Disabled access
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Disabled toilet
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Limited disabled parking available
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Lift available
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Assistance dogs welcome ????
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Building has hearing enhancement facilities
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>

          <label class="govuk-label govuk-label--m" for="keywords">
            Intervention details
          </label>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Intervention type
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Accredited programme (AP)
                  </label>
                </div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Commissioned Rehabilitative Services (CRS)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Toolkits
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Community Accommodation Services (CAS)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Creating Future Opportunities (CFO)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Next generation AP
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Average waiting time
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Under 4 weeks
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Under 6 months
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    1 year or over
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Intervention length/Time to complete - maximum intervention duration
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Under 4 weeks
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Under 6 months
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    1 year or over
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Intervention format
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    121
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Group 
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    mixed
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Intervention type
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    In person
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Online 
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Hybrid
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

        </div>
    
      </div>
    
    </div>
    
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p>govuk-grid-column-two-thirds</p>
    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
        </li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
    
        <li class="moj-pagination__item moj-pagination__item--dots">…</li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
    </nav>
    
  </div>
</div>

{% endblock %}
