{% extends "layouts/main.html" %}

{% block pageTitle %}
Search filter
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Alex River (CRN: X123456)</span>
      <h1 class="govuk-heading-l">Search filter</h1>      

      <div class="govuk-inset-text">
        If the details are incorrect, they should be updated in <a href="#">nDelius</a> or <a href="#">OASys</a> by someone with edit access.
      </div>
   
<!--Personal details-->
    <!--Personal details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Personal details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              Male
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--Current location-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Alex River’s current location
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              Community
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PDU (Probation Delivery Unit)	
            </dt>
            <dd class="govuk-summary-list__value">
              Durham
            </dd>
          </div>
        </dl>
      </div>
    </div>
<!--predictor scores and risk level-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Predictor scores and risk level
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table" style="margin-bottom:0;">
          <thead class="govuk-table__head">
            <tr class="moj-fixed-width-40 govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Risk</th>
              <th scope="col" class="govuk-table__header app-custom-class">Year 1</th>
              <th scope="col" class="govuk-table__header app-custom-class">Year 2</th>
              <th scope="col" class="govuk-table__header app-custom-class">Risk level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OGRS3 probability of proven reoffending</th>
              <td class="govuk-table__cell">55%</td>
              <td class="govuk-table__cell">71%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--red">High</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OGP probability of proven non-violent reoffending</th>
              <td class="govuk-table__cell">10%</td>
              <td class="govuk-table__cell">10%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OVP probability of proven violent-type reoffending</th>
              <td class="govuk-table__cell">35%</td>
              <td class="govuk-table__cell">51%</td>
              <td class="govuk-table__cell"><strong class="moj-badge moj-badge--orange">Medium</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OSP indecent image reoffending risk</th>
              <td class="govuk-table__cell">&#8212;</td>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">OSP contact sexual reoffending risk</th>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
              <td class="govuk-table__cell">&#8212</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Risk of serious recidivism (RSR)</th>
              <td class="govuk-table__cell" style="border-bottom:none;">&#8212</td>
              <td class="govuk-table__cell" style="border-bottom:none;">1.11%</td>
              <td class="govuk-table__cell" style="border-bottom:none;"><strong class="moj-badge moj-badge--orange">Low</strong> (DYNAMIC)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--SARA-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Spousal assault risk assessment (SARA)
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SARA level	
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="moj-badge moj-badge--red">High</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--Alex River’s risk of serious harm (RoSH) levels-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Risk of serious harm (RoSH) levels
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table" style="margin-bottom:0;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Risk to</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Risk in custody</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Risk in community</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Children</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Public</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--orange">Medium</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Known adult</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--red">High</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Staff</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal; border-bottom:none">Prisoners</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="border-bottom:none;">&#8212</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="border-bottom:none;"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<!--Needs-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Alex River's needs
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table" style="margin-bottom:0;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="moj-fixed-width-40 govuk-table__header">Need area</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Score</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Need level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Accommodation</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--red">High</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Education, Training and Employment (ETE)</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Finance</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Relationships</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Lifestyle and associates</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Drug misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Alcohol misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Emotional wellbeing</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Thinking and behaviour</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="moj-badge moj-badge--orange">Medium</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal; border-bottom:none;">Attitudes</th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="border-bottom:none;">1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="border-bottom:none;"><strong class="moj-badge moj-badge--green">Low</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Sentence and main offence details 
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence type
            </dt>
            <dd class="govuk-summary-list__value">
              Domestic violence (IPV) - 09144
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              Public Health Offence
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End of sentence date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Sep 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum number of enforceable days
            </dt>
            <dd class="govuk-summary-list__value">
              36 days 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date intervention to be completed by 
            </dt>
            <dd class="govuk-summary-list__value">
              25 Sep 2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court ordered interventions
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Becoming New Me+ (BNM+)</li>
                <li>An intervention to rebuild relationships</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

 <!--Licence conditions-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Additional licence conditions
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exclusion zones
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-contact	
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Electronic monitoring
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alcohol monitoring on licence (AML)
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Polygraph
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child contact
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationships
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Terrorist personal search condition
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other terrorism/extremism related licence conditions
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
        </dl>
      </div>
    </div>  

    <form action="/find/crn-path/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Return to search
      </button>
    </form>
  </div>
</div>
{% endblock %}
