{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral details
{% endblock %}

{% block header %}
{% include "/includes/head-dps-dp.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
  <!--<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to CRS homepage</a>-->
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who do you want to assign this case to?
      </h1>

      <form action="referral-details-assigned" method="post">

        {%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "moj/components/add-another/macro.njk" import mojAddAnother -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{% set itemHtml %}
  {{ govukInput({
    id: "caseworker[0][email]",
    name: "caseworker[0][email]",
    label: {
      html: "Enter the caseworker's email address <span class=\"govuk-visually-hidden moj-add-another__label-suffix\">for caseworker 1</span>"
    },
    attributes: {
      "data-name": "caseworker[%index%][email]",
      "data-id": "caseworker[%index%][email]",
      "data-label": "Caseworker"
  
    }


  }) }}

{% endset %}

<form method="post" action="#">
  {{ mojAddAnother({
    itemLabel: "Caseworker",
    items: [
      {
        fieldset: {
          html: itemHtml
        }
      }
    ]
  }) }}

  {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Submit"
}) }}
</form>

     

{% endblock %}
