{% extends "layouts/main.html" %}

{% block pageTitle %}
My referrals - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/head-acp.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to Accredited Programmes homepage</a>
  	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 


{% block content %}
<div class="govuk-grid-row clear">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">My referrals</h1>
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<div class="moj-search govuk-!-margin-bottom-6">
			<form action="#" method="post">
				<div class="govuk-form-group">
					<h2 class="govuk-label-wrapper">
					  	<label class="govuk-label govuk-label--m" for="search-name-prison">Search by name or prison number</label>
					</h2>
					<input class="govuk-input moj-search__input" id="search-name-prison" name="searchNamePrison" type="text">
				</div>
			  	<button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">Search</button>
			</form>
		</div>  
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page" href="open-referrals">Open referrals (57)</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="draft-referrals">Draft referrals (20)</a>
				</li>
				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="closed-referrals">Closed referrals (80)</a>
				</li>	
			</ul>
		</nav>
		<div class="moj-scrollable-pane">
		<table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" aria-sort="none">Name and prison number</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Date referred</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Programme location</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Programme name</th>
					<th scope="col" class="govuk-table__header" aria-sort="none">Referral status</th>
					</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if data['reason-category'] %}
				<!-- Empty row -->
				{% elseif data['add-hold-reason'] %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="status-history" class="govuk-link">Hatton, Del</a><br />D0168KE</td>
					<td class="govuk-table__cell">28 Jun 2023</td>
					<td class="govuk-table__cell">1 Dec 2025<br />Conditional release date</td>
					<td class="govuk-table__cell">Leicester (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: general violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">On hold - Referral submitted</strong></td>
			  	</tr>
				{% else %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="status-history" class="govuk-link">Hatton, Del</a><br />D0168KE</td>
					<td class="govuk-table__cell">28 Jun 2023</td>
					<td class="govuk-table__cell">1 Dec 2025<br />Conditional release date</td>
					<td class="govuk-table__cell">Leicester (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: general violence offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Referral submitted</strong></td>
			  	</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Booth, Sham</a><br />B6789KL</td>
					<td class="govuk-table__cell">27 Jul 2023</td>
					<td class="govuk-table__cell">1 Apr 2024<br />Conditional release date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Referral submitted</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McGregor, Simon</a><br />N6005OK</td>
					<td class="govuk-table__cell">1 May 2023</td>
					<td class="govuk-table__cell">28 Dec 2027<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Thinking Skills Programme</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Awaiting assessment</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Step, Richard</a><br />L2273CK</td>
					<td class="govuk-table__cell">10 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Birmingham (HMP)</td>
					<td class="govuk-table__cell">Thinking Skills Programme</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Awaiting assessment</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Jones, Matt</a><br />A1034LK</td>
					<td class="govuk-table__cell">27 Jul 2023</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Salford (HMP)</td>
					<td class="govuk-table__cell">New Me MOT</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessment started</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Wright, Kevin</a><br />Z2345LL</td>
					<td class="govuk-table__cell">28 Jun 2023</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: sexual offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Assessment started</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Poole, Adrian</a><br />D0051ED</td>
					<td class="govuk-table__cell">15 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Home detention curfew approved date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Assessed as suitable</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Metcalfe, Nicholas</a><br />E7728KL</td>
					<td class="govuk-table__cell">14 Aug 2023</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Home detention curfew eligibility date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Assessed as suitable</strong></td>
					</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Akhtar, Suhail</a><br />K2273CD</td>
					<td class="govuk-table__cell">16 Aug 2023</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Hemsworth, Luke</a><br />F3849MK</td>
					<td class="govuk-table__cell">15 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Tariff end date</td>
					<td class="govuk-table__cell">Lewes (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: sexual offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McDonald, Jim</a><br />B1234LP</td>
					<td class="govuk-table__cell">29 Jun 2023</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Tariff expired release scheme eligibility date</td>
					<td class="govuk-table__cell">Lewes (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: sexual offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Suitable but not ready</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">McAdam, Alistair</a><br />A114LKA</td>
					<td class="govuk-table__cell">1 May 2023</td>
					<td class="govuk-table__cell">15 May 2029<br />Parole eligibility date</td>
					<td class="govuk-table__cell">Lewes (HMP)</td>
					<td class="govuk-table__cell">Becoming New Me Plus: sexual offence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">James, Bob</a><br />A9234LQ</td>
					<td class="govuk-table__cell">10 Aug 2023</td>
					<td class="govuk-table__cell">1 Jan 2026<br />Conditional release date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Setto, Lukas</a><br />L0994FD</td>
					<td class="govuk-table__cell">14 Aug 2023</td>
					<td class="govuk-table__cell">3 Apr 2030<br />Conditional release date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="#" class="govuk-link">Aalegra, Rema</a><br />F0394LM</td>
					<td class="govuk-table__cell">16 Aug 2023</td>
					<td class="govuk-table__cell">15 May 2029<br />Conditional release date</td>
					<td class="govuk-table__cell">Erlestoke (HMP)</td>
					<td class="govuk-table__cell">Kaizen: intimate partner violence</td>
					<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">On programme</strong></td>
				</tr>
			</tbody>
		</table>	
		
		<nav class="govuk-pagination" role="navigation" aria-label="results">
			<ul class="govuk-pagination__list">
				<li class="govuk-pagination__item govuk-pagination__item--current">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
			  	</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
			  	</li>
				<li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
			  	<li class="govuk-pagination__item">
					<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">42</a>
			  	</li>
			</ul>
			<div class="govuk-pagination__next">
			  	<a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
					<path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
				</svg>
				</a>
			</div>
		</nav>
    </div>
</div>

{% endblock %}
