{% extends "layout.html" %}

{% block pageTitle %}
  End of service report submitted
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
	<h1 class="govuk-panel__title">End of service report submitted</h1>
      </div>

      <h2 class="govuk-heading-l">
	Service user details
      </h2>
      <dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key govuk-!-width-one-third">
	    Name
	  </dt>
	  <dd class="govuk-summary-list__value">
	    {{ referral.serviceUser.name }}
	  </dd>
	</div>
	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key govuk-!-width-one-third">
	    Referral number
	  </dt>
	  <dd class="govuk-summary-list__value">
	    {{ referral.reference }}
	  </dd>
	</div>
	<div class="govuk-summary-list__row">
	  <dt class="govuk-summary-list__key govuk-!-width-one-third">
	    Type of referral
	  </dt>
	  <dd class="govuk-summary-list__value">
	    {{ intervention.name }}
	  </dd>
	</div>
      </dl>

      <h2 class="govuk-heading-l">
	What happens next?
      </h2>
      <p class="govuk-body">
      The end of service report has been saved and submitted.
      </p>

      <p class="govuk-body">
      <a class="govuk-link" href="/sprint-5/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}/interventions/{{interventionIndex}}">Back to {{ referral.serviceUser.firstName }}’s referral page</a>
      </p>
    </div>
  </div>
{% endblock %}
