{% extends "layout.html" %}

{% block pageTitle %}
  Action plan sent
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Email sent</h1>
      </div>
      <p>
        Your email has been sent to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ referral.probationPractitioner.name }}, probation practitioner</li>
      </ul>
      <br>
      <a class="govuk-link" href="/sprint-6/book-and-manage/manage-a-referral/manager/referrals">Return to referrals dashboard</a>
    </div>
    <div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar">
      <h2>Subsection</h2>
      <p>
        <a class="govuk-link" href="communication-archive">View communication history</a>
      </p>
    </div>
  </div>
{% endblock %}
