{% extends "layout.html" %}

{% block pageTitle %}
  Session {{sessionIndex + 1}}: post-session feedback
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Session {{sessionIndex + 1}}: post-session feedback</h1>

      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Were any safeguarding issues identified?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="safeguarding-issues-identified-no" name="safeguarding-issues-identified" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="safeguarding-issues-identified-no">No</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="safeguarding-issues-identified-yes" name="safeguarding-issues-identified" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="safeguarding-issues-identified-yes">Yes</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="safeguarding-comment">
            Add additional information about any safeguarding issues identified in this session.
          </label>

          <textarea class="govuk-textarea" id="safeguarding-comment" name="safeguarding-comment"></textarea>
        </div>

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
