{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMPPS - Referring Intervention
      </h1>
      <h2 class="govuk-heading-m">
        Review Referrer’s details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Service user name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['service-user-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">service user name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Service user's phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['service-user-phone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">Contact number</span>
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Manager
          </dt>
          <dd class="govuk-summary-list__value">
            Ming to update {Data}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">Manager</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Referring Officer
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
       <dl class="govuk-summary-list">
            Referring Officer
          </dt>
          <dd class="govuk-summary-list__value">
            Ming to update {data}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m  govuk-!-margin-top-9">
        Information sharing
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            Ming to update {Data}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">service user name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Office location
          </dt>
          <dd class="govuk-summary-list__value">
            Ming to update {Data}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">Contact number</span>
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Ming to update {Data}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="making-referral-service-user-details">
              Change <span class="govuk-visually-hidden">Manager</span>
            </a>
          </dd>
        </div>
      </dl>
      <a href="making-referral-check-answers" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Continue
      </a>
      <p>
        <a href="/">
          Return to the start of the making referrals process
        </a>
      </p>

    </div>

  </div>

{% endblock %}
