{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMPPS - Referring Intervention
      </h1>
      <h2 class="govuk-heading-m">
        Offence information 
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date of offence
          </dt>
          <dd class="govuk-summary-list__value">
            20 01 2018
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Offence convicted
          </dt>
          <dd class="govuk-summary-list__value">
            XXXXXXXX
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date of sentence
          </dt>
          <dd class="govuk-summary-list__value">
            20 01 2018
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            End Sentence Date
          </dt>
          <dd class="govuk-summary-list__value">
            20 05 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Licence end date
          </dt>
          <dd class="govuk-summary-list__value">
            10 08 2021
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="making-referral-risk-info" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group govuk-!-margin-bottom-9">
            <label class="govuk-label" for="previous-offences">
              Relevant previous offences <span class="govuk-visually-hidden">Relevant previous offences</span>
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="intervention-more-detail" rows="5" aria-describedby="intervention-more-detail"></textarea>
          </div>
<hr>
          <div class="govuk-form-group govuk-!-margin-top-7">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="intervention-delivery">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Intervention delivery date
                </h2>
              </legend>
              <div class="govuk-date-input" id="iintervention-delivery">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="intervention-delivery">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="intervention-delivery" name="intervention-delivery" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="intervention-delivery">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="intervention-delivery" name="intervention-delivery" type="text" pattern="[0-9]*"inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="intervention-delivery">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="intervention-delivery" name="intervention-delivery" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
    </form>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        <a href="/">
          Return to the start of the making referrals process
        </a>
      </p>
    </div>
  </div>

{% endblock %}
