<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details govuk-width-container govuk-body">
    <div class="prisoner-info">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-body-l govuk-!-margin-right-6"><strong>
        John Smith</strong></span>
        <span class="govuk-body"><strong>CRN: </strong>D182933</span>
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body"><strong>Date of birth: </strong>4 Dec 1987</span> |
        <span class="govuk-body"><strong>Contact number: </strong>07328 281982</span> |
        <span class="govuk-body"><strong>Email address: </strong>johnfsmith554@hotmail.com</span>
      </div>
    </div>
  </div>
</section>
