{% extends "layouts/main.html" %}

{% block pageTitle %}
Accommodation services - South West
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">Intervention name - Location 1</h1> 
          </div>
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria [confirm if this can be reduced]</h2>
              <dl class="govuk-summary-list" style="font-size: 1rem;">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Needs
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list search-result-details">
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                      <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>            
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Setting
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Custody or community
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Gender
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Male or female
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Age group
                  </dt>
                  <dd class="govuk-summary-list__value">
                    xx-xx years old
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Risk criteria
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum available for some interventions
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Suitable for people with learning disabilities or challenges (LDC)
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes/No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Equivalent non-LDC programme
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1-2-1, group
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Attendance type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    In person, online
                  </dd>
                </div>
              </dl>

            <h3 class="govuk-heading-m">Topics/curriculum</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Pre-tenancy training session</li>
              <li>Tenancy Guidance</li>
            </ul>

            <h3 class="govuk-heading-m">Locations covered</h3>
            <p class="govuk-body">Locations covered by this contract are Gloucestershire, Wiltshire, Somerset, Dorset, Devon and Cornwall with physical offices in the towns of Cheltenham, Gloucester, Swindon, Salisbury, Bath, Weston-Super-Mare, Bristol, Yeovil, Bridgewater, Bournmouth, Taunton, Kingswood/Staple Hill, Frome, Poole, Weymouth, Plymouth, Dartmoor, Torquay, Exeter, Barnstable, Bodmin, Cambourne, Truro, St Austell, RedRuth, Bude.</p>
            
            <h3 class="govuk-heading-m">Get help with your referal or intervention</h2>
            <ul class="govuk-list">
              <li>Phone: 020 7946 0101</li>
              <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
              <li>Email: name@example.com</li>
            </ul>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->
          <div class="govuk-button-group">
            <a href="#" class="govuk-button">
              Make a referral
            </a>
            <a href="#" class="govuk-button govuk-button--secondary">
              Create a deeplink for nDelius
            </a>
          </div>

      </form>
    </div>
  </div>



{% endblock %}
