{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Maps for Change </h1> 
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Toolkits
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk criteria
              </dt>
              <dd class="govuk-summary-list__value">                   
                <!--<ul class="govuk-list govuk-list--bullet">
                  <li>Low OASys sexual reoffending predictor: direct contact</li>
                  <li>Low OASys sexual reoffending predictor: indecent images</li>
                </ul>   
                 -->
                  Low OSP-DC or OSP-IIC (OASys Sexual Reconviction Predictor – Contact or Indecent Imagery)             
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                TBC
              </dd>
            </div>  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                One-to-one
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Attendance type
              </dt>
              <dd class="govuk-summary-list__value">
                In person
              </dd>
            </div> 
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">Maps for Change is a toolkit of exercises for probation practitioners working with men convicted of a sexual or sexually-motivated offence</p>
          <p class="govuk-body">The toolkit is designed for participants with a low risk of reoffending. It can also be used to help individuals who cannot access Accredited Programmes, for example if they have a health condition or a language difficulty.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">There are 5 topics in the toolkit. Each topic focuses on a different area of needs.</p>

       
          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> 
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy a link to this intervention
            </a>-->
          </div>

      </form>
    </div>
  </div>

{% endblock %}
