{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Maps for Change </h1> 
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Toolkits
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk criteria
              </dt>
              <dd class="govuk-summary-list__value">                   
                  Low OSP-DC or OSP-IIC (OASys Sexual Reconviction Predictor – Contact or Indecent Imagery)             
              </dd>
            </div>  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                One-to-one
              </dd>
            </div> 
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">This toolkit is developed for use with men convicted of sexual or sexuality motivated offences. It does not replace an Accredited Programme and is aimed to suit those whose risk assessment scores are likely to be in the Low OSP/C and Low OSP/I category. The toolkit can be used for individuals who are unable to access an Accredited Programme, for example, for health or language reasons.</p>
          <p class="govuk-body">Each MAP focuses on different areas of need and is underpinned by a strengths-based approach to help the individual develop strengths and capabilities to overcome risk factors.</p>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Outcomes</h2>
          <p class="govuk-body govuk-!-margin-top-6">The outcomes will depend on the needs of the individual. Each ‘map’ has different goals.</p>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Eligibility and suitability criteria</h2>
          <h3 class="govuk-heading-s">Offence type the person was convicted for</h3>
          <p class="govuk-body govuk-!-margin-top-6">This toolkit is for men convicted of a sexual offence.</p>


          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">Variable</p>

       
          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> 
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy a link to this intervention
            </a>-->
          </div>

      </form>
    </div>
  </div>

{% endblock %}
