{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Personal Wellbeing service</h1> 
          </div>
         
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Commissioned Rehabilitative Services
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list search-result-details">
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>-->
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>-->
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>   -->      
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Format
                </dt>
                <dd class="govuk-summary-list__value">
                  Variable, includes group, one-to-one sessions and online learning 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance type
                </dt>
                <dd class="govuk-summary-list__value">
                  In-person or online
                </dd>
              </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">This service helps men with the following rehabilitative needs:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>emotional wellbeing</li>
            <li>family and significant others</li>
            <li>lifestyle and associates</li>
            <li>social inclusion</li>
          </ul>
          <p class="govuk-body">Men on probation or under supervision can also get support from a social inclusion mentoring service before release. If these meetings are required as part of their sentence, they must attend.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Who is eligible</h2>
          <p class="govuk-body">To be eligible, men must be:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>leaving prison before the end of their sentence</li>
            <li>on probation or under supervision after release from prison</li>
            <li>on a community sentence or suspended sentence with a rehabilitative activity requirement (RAR)</li>        
          </ul>
          <p class="govuk-body">The Personal Wellbeing service covers a variety of interventions and outcomes based on an individual's risk category. This can be low, medium or high.</p>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Outcomes</h2>
          <p class="govuk-body govuk-!-margin-top-6">Personal Wellbeing services are designed around participants’ needs. They aim to achieve one or more of the following outcomes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a stronger, more positive sense of self and access to community support groups or organisations</li>
            <li>spending time doing purposeful activities and building positive relationships</li>
            <li>reduced engagement with people involved in crime and criminal activities</li>
            <li>relying less on negative peer relationships or networks, such as organised crime groups or extremism organisations</li>
            <li>being active in their community and able to make a positive contribution</li>
            <li>building good family relationships and avoiding harmful ones</li>
            <li>demonstrating confidence and responsibility as a parent, if they have children</li>
            <li>improved ability to develop positive intimate relationships including communication, resilience, negotiation and assertiveness skills</li>
            <li>developing healthy ways to cope if family or other relationships break down or end</li>
            <li>taking part in family or relationship-focused therapeutic or behavioural change programmes</li>
            <li>learning how to stay calm, look after themselves and avoid risky situations</li>
            <li>feeling more confident capable and resilient</li>
            <li>ability to access and engage with mental health services</li>
            <li>ability to notice and manage things that may make their wellbeing worse</li>
            <li>making and keeping positive social interactions</li>
            <li>compliance with any required treatment, therapy or medication plans</li>
            <li>building supportive social networks to feel less isolated</li>
            <li>connecting with community-based services soon after release from prison</li>
            <li>developing strength and determination to cope with challenges and barriers when returning to the community</li>
          </ul>

            <h2 class="govuk-heading-m govuk-!-margin-top-8">Location</h2>
            <p class="govuk-body govuk-!-margin-top-6">Locations where the service is provided.</p>
  
<!--Table for custody-->
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Location</button></th>
                  <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Category</button></th>
                  <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Country</button></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">      
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Aylesbury (HMP)</td>
                  <td class="govuk-table__cell">Category C</td>
                  <td class="govuk-table__cell">Buckinghamshire</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Brinsford (HMP)</td>
                  <td class="govuk-table__cell">Category B/C</td>
                  <td class="govuk-table__cell">Wolverhampton</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Frankland (HMP)</td>
                  <td class="govuk-table__cell">Category A/B</td>
                  <td class="govuk-table__cell">Durham</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Stoke Heath (HMP)</td>
                  <td class="govuk-table__cell">Category C</td>
                  <td class="govuk-table__cell">Shropshire</td>
                  </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Swinton Hall (HMP)</td>
                  <td class="govuk-table__cell">Category C</td>
                  <td class="govuk-table__cell">Staffordshire</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Erlestoke (HMP)</td>
                  <td class="govuk-table__cell">Category C</td>
                  <td class="govuk-table__cell">Wiltshire</td>
                </tr>
              </tbody>
            </table>

      <!-- {{ govukButton({
        text: 'Continue'
      }) }} -->

      <div class="govuk-button-group">
        <!--<a href="#" class="govuk-button">
          Make a referral
        </a> 
        <a href="#" class="govuk-button govuk-button--secondary">
          Copy a link to this intervention
        </a>
      </div>-->
    </form>
  </div>
</div>

<script type="module" src="/public/javascripts/gov-uk-latest.js"></script>

{% endblock %}
