{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
        <div class="govuk-form-group">
          <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
          <h1 class="govuk-heading-l">Stepwise Driving</h1> 
        </div>
         
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male or female
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Structured Interventions
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Needs
                </dt>
                <dd class="govuk-summary-list__value">
                  Education, training and employability
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risk criteria
                </dt>
                <dd class="govuk-summary-list__value">
                  OGRS score of more than 25%
                </dd>
              </div>  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Time to complete
                </dt>
                <dd class="govuk-summary-list__value">
                  At least 12 months
                </dd>
              </div>  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Format
                </dt>
                <dd class="govuk-summary-list__value">
                  One-to-one or group
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance type
                </dt>
                <dd class="govuk-summary-list__value">
                  In person or online
                </dd>
              </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">Stepwise Driving is a structured intervention for people in England and Wales who have been convicted of driving while under the influence of drugs or alcohol.</p>
          <p class="govuk-body">It focuses on areas such as awareness of safe driving, like making decisions and consequential thinking.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Outcomes</h2>
          <p class="govuk-body">By the end of the programme, participants will be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>understand how to drive safely for example, what is a safe reaction time and stopping distance</li>
            <li>improve their decision-making skills by understanding the risks and consequences of driving under the influence</li>
            <li>learn about alternative methods of transport they can use during their disqualification period</li>
            <li>understand their legal obligations</li>
          </ul>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">The programme is made up of:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>an initial one-to-one session</li>
            <li>5 group sessions</li>
          </ul>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Location</h2>
          <p class="govuk-body govuk-!-margin-top-6">Select a community location to contact the programme team or make a referral.</p>

<!--Table for community-->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    East Midlands
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for xxx.</p>
                <table class="govuk-table" data-module="moj-sortable-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Derby City</td>                    
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Derbyshire</td>                   
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Leicester, Leicestershire and Rutland</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Lincolnshire East and West</td>                   
                      </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Nottingham City</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Nottinghamshire</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  East of England
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>

            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Greater Manchester
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Kent, Surrey and Sussex
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  London
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>∂
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  North East
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  North West
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  South Central
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  South West
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Wales
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  West Midlands
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>

          <div class="govuk-accordion__section" id="yorkshire">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-yorkshire">
                  Yorkshire and the Humber
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          </div>
          </div>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> 
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy a link to this intervention
            </a>-->
          </div>

      </form>
    </div>
  </div>

  <script type="module" src="/public/javascripts/gov-uk-latest.js"></script>

{% endblock %}
