{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Choices and Changes</h1> 
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Toolkits
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk criteria
              </dt>
              <dd class="govuk-summary-list__value">                   
                <!--<ul class="govuk-list govuk-list--bullet">
                  <li>Low OASys sexual reoffending predictor: direct contact</li>
                  <li>Low OASys sexual reoffending predictor: indecent images</li>
                </ul>   
                 -->
                 Low maturity marker on OASys maturity screening tool
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                [TBC]
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age group
              </dt>
              <dd class="govuk-summary-list__value">
                18 to 25 (or up to 30 depending on needs)
              </dd>
            </div>  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                One-to-one
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Attendance type
              </dt>
              <dd class="govuk-summary-list__value">
                In person
              </dd>
            </div> 
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">Choices and Changes is a toolkit of exercises for prison staff working with young adults with low maturity. This can include trouble making decisions, managing emotions or understanding consequences. </p>
          <p class="govuk-body">The resources can also support men aged 25 to 30 with similar needs.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">There are 6 topics in the toolkit. Each 30-minute topic focuses on a different need.</p>

       
          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> 
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy a link to this intervention
            </a>-->
          </div>

      </form>
    </div>
  </div>

{% endblock %}
