{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">[Name of the intervention]</h1> 
          </div>  
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Accredited Programmes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                Thinking and behaviour, Attitudes
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk criteria
              </dt>
              <dd class="govuk-summary-list__value">
                Medium SARA (Spousal Assault Risk Assessment) in custody ****
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Time to complete
              </dt>
              <dd class="govuk-summary-list__value">
                At least 12 months
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                Group, one-to-one
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Attendance type
              </dt>
              <dd class="govuk-summary-list__value">
                In person
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">Becoming New Me Plus (BNM+) uses cognitive behaviour therapy. This strand is for men who are at high or very high risk of reoffending. Suitable for men convicted of a general violence offence. </p>

          <!--<h2 class="govuk-heading-m govuk-!-margin-top-8">Who is eligible</h2>
          <p class="govuk-body">This programme is for men who have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a conviction for general violence offence (GV)</li>
            <li>a high or very high risk of reoffending</li>
            <li>a learning disability or challenge (LDC)</li>
            <li>a High OVP (OASys Violence Predictor)</li>
            <li>a High OGRS (Offender Group Reconviction Scale)</li>
          </ul>
          <p class="govuk-body">Becoming New Me Plus is the Learning Disability and Challenges equivalent of the Kaizen programme.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Outcomes</h2>
          <p class="govuk-body">By the end of the programme, participants will be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>understand the underlying causes of their violent behaviour, for example past trauma or emotional dysregulation</li>
            <li>use techniques to manage anger, like relaxation or breathing exercises</li>
            <li>replace unhelpful beliefs that lead to violence with more positive ways of thinking</li>
            <li>identify high-risk situations and plan ways to avoid them</li>
            <li>understand the principles of healthy relationships, including how to set boundaries</li>
          </ul>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">Participants will be eligible for either:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>7 one-to-one sessions and 85 group sessions</li>
            <li>20 one-to-one sessions</li>
          </ul>-->
         
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Location</h2>
          <p class="govuk-body govuk-!-margin-top-6">Select a community location to contact the programme team or make a referral.</p>

<!--Table for community-->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    East Midlands
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for xxx.</p>
                <table class="govuk-table" data-module="moj-sortable-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">      
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Derby City</a></td>                    
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Derbyshire</a></td>                   
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Leicester, Leicestershire and Rutland</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Lincolnshire East and West</a></td>                   
                      </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Nottingham City</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Nottinghamshire</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  East of England
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>

            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Greater Manchester
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Kent, Surrey and Sussex
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  London
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
              <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">      
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Barking and Dagenham and Havering</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Brent</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Camden, Islington</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Croydon</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Ealing and Hillingdon</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Enfield and Haringey</a></td>                   
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Greenwich and Bexley</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Hackney and City</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Hammersmith, Fulham, Kensington, Chelsea and Westminster</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Harrow and Barnet</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Kingston, Richmond and Hounslow</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Lambeth</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Lewisham and Bromley</a></td>                
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Newham</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Redbridge and Waltham Forest</a></td>               
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Southwark</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Tower Hamlets</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Wandsworth, Merton and Sutton</a></td>                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  North East
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
              <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>                  
                  </tr>
                </thead>
                <tbody class="govuk-table__body">      
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">County Durham and Darlington</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Gateshead and South Tyneside</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Newcastle Upon Tyne</a></td>     
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">North Tyneside and Northumberland</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Redcar, Cleveland and Middlesbrough</a></td>                   
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Stockton and Hartlepool</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Sunderland</a></td>                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  North West
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  South Central
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  South West
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Wales
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  West Midlands
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
              <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>                 
                  </tr>
                </thead>
                <tbody class="govuk-table__body">      
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Birmingham Central and South</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Birmingham North, East and Solihull</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Coventry</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Dudley and Sandwell</a></td>                  
                    </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Herefordshire, Shropshire and Telford</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Staffordshire and Stoke</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Walsall and Wolverhampton</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Warwickshire</a></td>                   
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Worcestershire</a></td>                  
                  </tr>
                </tbody>
              </table> 
            </div>
          </div>

          <div class="govuk-accordion__section" id="yorkshire">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-yorkshire">
                  Yorkshire and the Humber
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for xxx.</p>
              <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Probation Delivery Unit (PDU)</button></th>                  
                  </tr>
                </thead>
                <tbody class="govuk-table__body">      
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Barnsley and Rotherham</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Bradford and Calderdale</a></td>                
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Doncaster</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Hull and East Riding</a></td>                   
                    </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Kirklees</a></td>               
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Leeds</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">North and North East Lincs</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">North Yorkshire</a></td>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Sheffield</a></td>      
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">Wakefield</a></td>                 
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"  ">York</a></td>                 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          </div>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> 
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy a link to this intervention
            </a>-->
          </div>

      </form>
    </div>
  </div>

  <script type="module" src="/public/javascripts/gov-uk-latest.js"></script>

{% endblock %}
