{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Becoming New Me Plus: general violence offence</h1> 
          </div>  
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Setting
              </dt>
              <dd class="govuk-summary-list__value">
                Custody or community
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Accredited programmes 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>            
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age group
              </dt>
              <dd class="govuk-summary-list__value">
                18 to 25
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Risk criteria
              </dt>
              <dd class="govuk-summary-list__value">
                Medium SARA (Spousal Assault Risk Assessment) in custody
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Suitable for people with learning disabilities or challenges (LDC)
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Equivalent non-LDC programme
              </dt>
              <dd class="govuk-summary-list__value">
                Kaizen
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Time to complete
              </dt>
              <dd class="govuk-summary-list__value">
                At least 12 months
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                Group, one-to-one
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Attendance type
              </dt>
              <dd class="govuk-summary-list__value">
                In person
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Programme description</h2>
          <p class="govuk-body">Becoming New Me Plus (BNM+) uses cognitive behaviour therapy. It is for men who are at high or very high risk of reoffending. Suitable for men convicted of a general violence offence. </p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Eligibility</h2>
          <p class="govuk-body">This programme is for men who have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a conviction for general violence offence (GV)</li>
            <li>a high or very high risk of reoffending</li>
            <li>a learning disability or challenge (LDC)</li>
            <li>a High OVP (OASys Violence Predictor)</li>
            <li>a High OGRS (Offender Group Reconviction Scale)</li>
          </ul>
          <p class="govuk-body">Becoming New Me Plus is the Learning Disability and Challenges equivalent of the Kaizen programme.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Aims</h2>
          <p class="govuk-body">By the end of the programme, participants will be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>understand the underlying causes of their violent behaviour, for example past trauma or emotional dysregulation</li>
            <li>use techniques to manage anger, like relaxation or breathing exercises</li>
            <li>replace unhelpful beliefs that lead to violence with more positive ways of thinking</li>
            <li>identify high-risk situations and plan ways to avoid them</li>
            <li>understand the principles of healthy relationships, including how to set boundaries</li>
          </ul>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">Participants will be eligible for either:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>7 one-to-one sessions and 85 group sessions</li>
            <li>20 one-to-one sessions</li>
          </ul>
         
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Time to complete</h2>
          <p class="govuk-body govuk-!-margin-top-6">At least 12 months.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Location</h2>
          <p class="govuk-body govuk-!-margin-top-6">Locations where the programme runs and how to contact them.</p>


<!--Table for community-->
          <h3 class="govuk-heading-s govuk-!-margin-top-8">Community locations</h3>
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Location</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">PDU</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Location details</button></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">      
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Aylesbury (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Brinsford (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Frankland (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Stoke Heath (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
                </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Swinton Hall (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Erlestoke (HMP)</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
            </tbody>
          </table>
          

<!--Table for custody-->
          <h3 class="govuk-heading-s govuk-!-margin-top-8">Custody locations</h3>
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="0">Location</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Category</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Country</button></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">      
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Aylesbury (HMP)</a></td>
                <td class="govuk-table__cell">Category C</td>
                <td class="govuk-table__cell">Buckinghamshire</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Brinsford (HMP)</a></td>
                <td class="govuk-table__cell">Category B/C</td>
                <td class="govuk-table__cell">Wolverhampton</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Frankland (HMP)</a></td>
                <td class="govuk-table__cell">Category A/B</td>
                <td class="govuk-table__cell">Durham</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Stoke Heath (HMP)</a></td>
                <td class="govuk-table__cell">Category C</td>
                <td class="govuk-table__cell">Shropshire</td>
                </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Swinton Hall (HMP)</a></td>
                <td class="govuk-table__cell">Category C</td>
                <td class="govuk-table__cell">Staffordshire</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable-browse">Erlestoke (HMP)</a></td>
                <td class="govuk-table__cell">Category C</td>
                <td class="govuk-table__cell">Wiltshire</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Writing well for the web from W
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Writing well for the web.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Writing well for specialists
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Writing well for specialists.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Know your audience
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for Know your audience.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    How people read
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                <p class="govuk-body">This is the content for How people read.</p>
              </div>
            </div>
          </div>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> -->
            <a href="#" class="govuk-button govuk-button--secondary">
              Create a deeplink for nDelius
            </a>
          </div>

      </form>
    </div>
  </div>

  <script type="module" src="/public/javascripts/gov-uk-latest.js"></script>

{% endblock %}
