{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the person's CRN
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="cyd1">
          <div class="govuk-form-group">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Enter the person’s unique identifier
                  </h1>
                </legend>
                  <p class="govuk-body">This can be CRN or prison number. This will retrieve their details from NDelius and OASys to help you find suitable interventions. </p>
                  <div class="govuk-form-group">
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
                  </div>
              </fieldset>
            </div>
          </div>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group govuk-!-margin-top-8">
            <a class="govuk-button" href="cyd1">Continue</a>
            <a class="govuk-button govuk-button--secondary" href="setting-question">Browse interventions catalogue</a>
          </div>

          <!--<div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Browse interventions catalogue
            </button>
          </div>-->
      </form>
    </div>
  </div>



{% endblock %}
