{% extends "layouts/main.html" %}

{% block pageTitle %}
Main catalogue page
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Search results</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
    
        <div class="moj-filter__header-action">
        </div>
      </div>  
    
      <div class="moj-filter__content">
        <div class="moj-filter__options">
          <a href="manual-search-filter" class="govuk-button">Apply filters</a>
    
          <!--<div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Keywords
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text">
          </div> -->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Lorem ipsum
                </h1>
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                    Lorem ipsum
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Lorem ipsum
                </h1>
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                    Lorem ipsum
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="xxx">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                    Lorem ipsum
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="Search search results" data-ga4-ecommerce="" data-ga4-ecommerce-start-index="1" data-ga4-list-title="Search" data-ga4-search-query="bob" data-ga4-ecommerce-variant="Relevance">
    <div id="js-search-results-info" data-module="remove-filter" class="result-info " data-remove-filter-module-started="true">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="result-info__header">
            <h2 id="js-result-count" class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">461 results</h2>
              <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#js-results" data-govuk-skip-link-module-started="true">Skip to results</a>
          </div>
        </div>
      </div>
      <div id="js-facet-tag-wrapper" class="facet-tags__container" aria-live="assertive">
          <span class="govuk-visually-hidden">
          461 results
          sorted by Relevance
          </span>
      </div>
    </div>

    <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>
      <!--<div id="js-sort-options" data-ga4-change-category="update-sort select">
        <div class="govuk-form-group sort-options gem-c-select">
          <label for="order" class="sort-options__label govuk-label">Sort by</label>
            <select class="js-order-results govuk-select sort-options__select" name="order" id="order" aria-controls="js-search-results-info" data-default-sort-option="relevance" data-relevance-sort-option="relevance">
                <option value="most-viewed" disabled="">Most viewed</option>
                <option value="relevance" selected="">Relevance</option>
                <option value="updated-newest">Updated (newest)</option>
                <option value="updated-oldest">Updated (oldest)</option>
            </select>
        </div>
      </div>-->

    <div id="js-results">
      <div class="finder-results js-finder-results">
        <ul class="gem-c-document-list gem-c-document-list--no-underline govuk-!-margin-bottom-5" style="font-size: 1.1875rem; line-height: 1.3157894737;margin: 0;
  padding: 0;">

<!--1. Skills for Relationships-->
          <li class="gem-c-document-list__item" style="border-top:none">
            <div class="gem-c-document-list__item-title">          
              <a class="govuk-heading-m govuk-link" href="toolkit-sfr">Skills for relationships</a>
            </div>
            <ul class="govuk-list search-result-details" >

              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>-->
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>-->
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>    -->             
            </ul>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Toolkit
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Settings
                </dt>
                <dd class="govuk-summary-list__value">
                  Custody or community
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risk criteria
                </dt>
                <dd class="govuk-summary-list__value">
                  Those not eligible for BBR (Building Better Relationships Accredited Programme) or do not enough time for BBR
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Suitable for people with learning disabilities or challenges (LDC)
                </dt>
                <dd class="govuk-summary-list__value">
                  ?
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of sessions
                </dt>
                <dd class="govuk-summary-list__value">
                  Up to 20 sessions
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Format
                </dt>
                <dd class="govuk-summary-list__value">
                  1-2-1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance type
                </dt>
                <dd class="govuk-summary-list__value">
                  In person, online
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Time to complete
                </dt>
                <dd class="govuk-summary-list__value">
                  <span aria-hidden=”true”> &#8212</span><span class="govuk-visually-hidden"> name</span>
                </dd>
              </div>
            </dl>
            <p class="gem-c-document-list__item-description">Aims to support desistance in people who have exhibited intimate partner violence (IPV). The key focus of the Skills for Relationships Toolkit is helping people cope with the complexities and pressures of their relationships without getting into conflict. It supports participants to decide how they want their relationships to be, recognise their strengths and develop new relationship skills.</p>
          </li>

<!-- 2 Choices and Changes-->
          <li class="gem-c-document-list__item" style="border-top:none">
            <div class="gem-c-document-list__item-title">          
              <a class="govuk-heading-m govuk-link" href="#">Choices and changes</a>
            </div>
            <ul class="govuk-list search-result-details" >
              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>-->
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li> -->
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
              <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
              <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>    -->             
            </ul>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list search-result-details" >
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>-->
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>-->
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>    -->             
                  </ul>
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Intervention type
                </dt>
                <dd class="govuk-summary-list__value">
                  Toolkit
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Settings
                </dt>
                <dd class="govuk-summary-list__value">
                  Custody or community
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risk criteria
                </dt>
                <dd class="govuk-summary-list__value">
                  Low maturity marker on OASys or completing Excel version of screening tool
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Suitable for people with learning disabilities or challenges (LDC)
                </dt>
                <dd class="govuk-summary-list__value">
                  ?
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of sessions
                </dt>
                <dd class="govuk-summary-list__value">
                  No minimum or maximum, depends on the needs of the individual
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Format
                </dt>
                <dd class="govuk-summary-list__value">
                  1-2-1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance type
                </dt>
                <dd class="govuk-summary-list__value">
                  In person, online
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Time to complete
                </dt>
                <dd class="govuk-summary-list__value">
                  <span aria-hidden=”true”> &#8212</span><span class="govuk-visually-hidden"> name</span>
                </dd>
              </div>
            </dl>
            <p class="gem-c-document-list__item-description">Aims to support desistance in people who have exhibited intimate partner violence (IPV). The key focus of the Skills for Relationships Toolkit is helping people cope with the complexities and pressures of their relationships without getting into conflict. It supports participants to decide how they want their relationships to be, recognise their strengths and develop new relationship skills.</p>
          </li>
        </ul>
      </div>
    </div>
    
    <nav class="moj-pagination" aria-label="Pagination navigation">

      <ul class="moj-pagination__list">
        <!--<li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
        </li>-->
    
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">1</li>

        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">2</a></li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
    
        <li class="moj-pagination__item moj-pagination__item--dots">…</li>
    
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
    
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
    </nav>
    
  </div>
</div>

{% endblock %}
