{% extends "layouts/main.html" %}

{% block pageTitle %}
Main catalogue page
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Alex River (CRN: X123456)</span>
    <h1 class="govuk-heading-l">Search results</h1>
    <div class="govuk-inset-text">
      Be aware that in some cases we cannot match all the court orders with the search results.
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>  
    
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
    
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>

            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>
          </div>
    
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Setting</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Community</a></li>
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Custody</a></li>
          </ul>
    
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Gender</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Male</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Accredited programme (AcP)</a></li>
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Commissioned Rehabilitative Services (CRS)</a></li>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Needs</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Accommodation</a></li>
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Finance</a></li>
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Relationships</a></li>
            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Drug misuse</a></li>
          </ul> 
        </div>
    
        <div class="moj-filter__options">

          <a href="manual-search-filter" class="govuk-button">Apply filters</a>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Keywords
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Setting
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Community
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Custody
                  </label>
                </div>

              </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Gender
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="male" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Male
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="female">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Female
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Type
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="AcP" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Accredited programme (AcP)
                  </label>
                </div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="CRS" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Commissioned Rehabilitative Services (CRS)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="CFO">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Creating Future Opportunities (CFO)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="ROIF">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Regional Outcome Innovation Fund (ROIF)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="SI">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    Structured interventions
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="Toolkits">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Toolkits
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Needs
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type">
                    Accommodation
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="type-2">
                    Education, training and employment (ETE)
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Finance
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Relationships
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Lifestyle and associates
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="4" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Drug misuse
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="5">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Alcohol misuse
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="6">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Emotional wellbeing
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="7">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Thinking and behaviour
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="8">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Atitudes
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Location (works both PDU and prison?)
            </label>
            <input class="govuk-input" id="keywords" name="keywords" type="text" value="">
          </div>

          <!--<label class="govuk-label govuk-label--m" for="keywords">
            Intervention details
          </label>-->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Intervention format
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete">
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    1-2-1
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Group 
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Attendance type
              </legend>
              <!--<p class="govuk-hint govuk-!-font-size-16">Not selected</p>-->
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete">
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    In person
                  </label>
                </div>
    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Online 
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="Search search results" data-ga4-ecommerce="" data-ga4-ecommerce-start-index="1" data-ga4-list-title="Search" data-ga4-search-query="bob" data-ga4-ecommerce-variant="Relevance">
      <div id="js-search-results-info" data-module="remove-filter" class="result-info " data-remove-filter-module-started="true">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="result-info__header">
              <h2 id="js-result-count" class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">461 results</h2>
                <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#js-results" data-govuk-skip-link-module-started="true">Skip to results</a>
            </div>
          </div>
        </div>
        <div id="js-facet-tag-wrapper" class="facet-tags__container" aria-live="assertive">
            <span class="govuk-visually-hidden">
            461 results
            sorted by Relevance
            </span>
        </div>
      </div>

      <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>
  
        <div id="js-results">
          <div class="finder-results js-finder-results">
            <ul class="gem-c-document-list gem-c-document-list--no-underline govuk-!-margin-bottom-5" style="font-size: 1.1875rem; line-height: 1.3157894737;margin: 0;
      padding: 0;">

              <!--example 1-->
              <li class="gem-c-document-list__item" style="border-top:none">
                <div class="gem-c-document-list__item-title">          
                  <h2 class="govuk-heading-m"><a class="govuk-link" href="intervention-skeleton" style="font-weight: 700;">Intervention name</a></h2>
                </div>
                <strong class="govuk-tag govuk-tag--yellow" style="max-width: none; color: #0b0c0c">General violence offence</strong>
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>           
                </ul>
                <dl class="govuk-summary-list" style="font-size: 1rem;">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Intervention type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Setting
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Custody or community
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Male or female
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Min/max age
                    </dt>
                    <dd class="govuk-summary-list__value">
                      xx-xx years old
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risk criteria
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum available for some interventions
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Suitable for people with learning disabilities or challenges (LDC)
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes/No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Learning disability catered / intended for
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Equivalent non-LDC programme
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Attendance type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Group, one-to-one
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Delivery method
                    </dt>
                    <dd class="govuk-summary-list__value">
                      In person, online
                    </dd>
                  </div>
                </dl>
                <p class="gem-c-document-list__item-description">Short description ->> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at sodales mauris, eget pharetra enim. Donec posuere, ante sed luctus rutrum, ipsum urna bibendum velit, elementum lacinia erat nulla nec elit. </p>
              </li>

              <!--example 2-->
              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">          
                  <h2 class="govuk-heading-m"><a class="govuk-link" href="intervention-skeleton" style="font-weight: 700;">Intervention name</a></h2>
                </div>
                <strong class="govuk-tag govuk-tag--green" style="max-width: none; color: #0b0c0c">Intimate partner violence offence</strong>
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>           
                </ul>
                <dl class="govuk-summary-list" style="font-size: 1rem;">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Intervention type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Setting
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Custody or community
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Male or female
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Min/max age
                    </dt>
                    <dd class="govuk-summary-list__value">
                      xx-xx years old
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risk criteria
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum available for some interventions
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Suitable for people with learning disabilities or challenges (LDC)
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes/No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Learning disability catered / intended for
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Equivalent non-LDC programme
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Attendance type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Group, one-to-one
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Delivery method
                    </dt>
                    <dd class="govuk-summary-list__value">
                      In person, online
                    </dd>
                  </div>
                </dl>
                <p class="gem-c-document-list__item-description">Short description ->> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at sodales mauris, eget pharetra enim. Donec posuere, ante sed luctus rutrum, ipsum urna bibendum velit, elementum lacinia erat nulla nec elit. </p>
              </li>

              <!--example 3-->
              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">          
                  <h2 class="govuk-heading-m"><a class="govuk-link" href="intervention-skeleton" style="font-weight: 700;">Intervention name</a></h2>
                </div>
                <strong class="govuk-tag govuk-tag--red" style="max-width: none;">Sexual offence</strong>
                <ul class="govuk-list search-result-details">
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>           
                </ul>
                <dl class="govuk-summary-list" style="font-size: 1rem;">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Intervention type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Setting
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Custody or community
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Male or female
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Min/max age
                    </dt>
                    <dd class="govuk-summary-list__value">
                      xx-xx years old
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risk criteria
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum available for some interventions
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Suitable for people with learning disabilities or challenges (LDC)
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes/No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Learning disability catered / intended for
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Equivalent non-LDC programme
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Lorem ipsum
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Attendance type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Group, one-to-one
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Delivery method
                    </dt>
                    <dd class="govuk-summary-list__value">
                      In person, online
                    </dd>
                  </div>
                </dl>
                <p class="gem-c-document-list__item-description">Short description ->> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at sodales mauris, eget pharetra enim. Donec posuere, ante sed luctus rutrum, ipsum urna bibendum velit, elementum lacinia erat nulla nec elit. </p>
              </li>

            </ul>
          </div>
        </div>

      <nav class="moj-pagination" aria-label="Pagination navigation">

        <ul class="moj-pagination__list">
          <!--<li class="moj-pagination__item  moj-pagination__item--prev">
            <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
          </li>-->
      
          <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">1</li>

          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">2</a></li>
      
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
      
          <li class="moj-pagination__item moj-pagination__item--dots">…</li>
      
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
      
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
          </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
      </nav>
  </div>
</div>

{% endblock %}