{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the person's CRN
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="cyd1">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Setting?
            </h1>
          </legend>
          <div id="changedName-hint" class="govuk-hint">
            This is a hint text.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changedName">
                Community
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changedName-2">
                Custody
              </label>
            </div>
          </div>
        </fieldset>
      </div>
          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group govuk-!-margin-top-8">
            <a class="govuk-button" href="/find/mvp/cyd1">Continue</a>
          </div>

          <!--<div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Browse interventions catalogue
            </button>
          </div>-->
      </form>
    </div>
  </div>



{% endblock %}
