{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service user details
      </h1>
      <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The service user's information has been imported here. Please let us know if it is correct.
      </strong>
      </div>

      <form action="making-referral-offence-detail" method="post" class="form">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
              Alex Rivasur
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              PNC
            </dt>
            <dd class="govuk-summary-list__value">
              XXXXXXXX
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              CRN
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['service-user-id'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              NI
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 A
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 08 1980
            </dd>
          </div>
        </dl>

        <fieldset class="govuk-fieldset govuk-!-margin-top-9">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Add service user's information
          </h1>
        </legend>

        <div class="govuk-form-group govuk-!-margin-top-3">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="service-user-name">
              What is the service user's location?
            </label>
          </h2>
          <div id="service-user-location-hint" class="govuk-hint">
              Region
            </div>
          <input class="govuk-input" id="service-user-location" name="service-user-location" value="{{ data['service-user-location'] }}" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Are you using RAR days for this intervention
              </h2>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Overall RAR days
            </div>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-rar" name="changed-rar" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-rar">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-rar-2" name="changed-rar" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-rar-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="Days to complete service">
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Number of RAR days left from [200]
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="rar-days-left" type="number" pattern="[0-200]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save & Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
