{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMPPS - Referring Intervention
      </h1>
      <h2 class="govuk-heading-m">
        Services previously received 
      </h2>
      <form action="making-referral-needs-and-risks" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group govuk-!-margin-bottom-9">
            <label class="govuk-label" for="previous-offences">
              Enter summary of service provision previously received <span class="govuk-visually-hidden">Enter summary of service provision previously received</span>
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="summary-of-service-provision" rows="5" aria-describedby="summary-of-service-provision"></textarea>
          </div>
        </fieldset>
        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Service One"
              },
              content: {
                html: "<p class='govuk-body'> Received Date,</p> <p class='govuk-body'> Received description XXXXXX</p> <p class='govuk-body'> Provider XXXX</p>"
              }
            },
            {
              heading: {
                text: "Service Two"
              },
              content: {
                html: "<p class='govuk-body'> Received Date,</p> <p class='govuk-body'> Received description XXXXXX</p> <p class='govuk-body'> Provider XXXX</p>"
              }
            },
              {
              heading: {
                text: "Service Three"
              },
              content: {
                html: "<p class='govuk-body'> Received Date,</p> <p class='govuk-body'> Received description XXXXXX</p> <p class='govuk-body'> Provider XXXX</p>"
              }
            },
              {
              heading: {
                text: "Service Four"
              },
              content: {
                html: "<p class='govuk-body'> Received Date,</p> <p class='govuk-body'> Received description XXXXXX</p> <p class='govuk-body'> Provider XXXX</p>"
              }
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
    </form>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        <a href="/">
          Return to the start of the making referrals process
        </a>
      </p>
    </div>
  </div>

{% endblock %}
