{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the person's CRN
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
      If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <p class="govuk-body">
      If the web address is correct or you selected a link or button, <a href="https://hmpps-interventions-ui-dev.apps.live-1.cloud-platform.service.justice.gov.uk/report-a-problem" class="govuk-link">contact the helpline</a> if you need to speak to someone about this service. 
    </p>
  </div>
</div>

{% endblock %}
