{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the person's CRN
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      You will be able to use the service from 9am on Monday 19&nbsp;November&nbsp;2018.
    </p>
    <p class="govuk-body"><a class="govuk-link" href="https://accredited-programmes-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/dps/view-acp-and-referrals">Go to Accredited Programmes homepage</a> </p>
    <p class="govuk-body"><a class="govuk-link" href="https://hmpps-interventions-ui-dev.apps.live-1.cloud-platform.service.justice.gov.uk/probation-practitioner/find">Go to Refer and Monitor and intervention homepage</a> </p>
    <p class="govuk-body">You can also <a class="govuk-link" href="https://hmpps-interventions-ui-dev.apps.live-1.cloud-platform.service.justice.gov.uk/report-a-problem">contact the helpline</a> if you need to speak to someone about this service.</p>
  </div>
</div>


{% endblock %}
