{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../includes/primary-navigation.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Make a referral
        {% if data["service-user-id"] %}
          &ndash; Alex River
        {% endif %}
      </h1>

      <ol class="moj-task-list">
        <li>
          
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              in progress
            </strong>
          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">1.
            </span>
            Review Alex's information
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              <a class="moj-task-list__task-name" href="4-service-user-details">Confirm Alex’s personal details</a >
            </li>
            <li class="moj-task-list__item">
              {% if data["service-user-id"] %}
                <a class="moj-task-list__task-name" href="service-user-details">Alex's risk information</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Alex's risk information 
                </span>
              {% endif %}
            </li>
            <li class="moj-task-list__item">
              Alex’s needs and requirements
            </li>
          </li>
        </ul>
        

        <li>
          {% if data["found-interventions"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-details-checked"] %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">2.
            </span>
            Choose service types
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["service-user-details-checked"] or data["found-interventions"] %}
                Find and select service user interventions
              {% else %}
                <span class="app-task-list__task-name">
                  Select service types for the Women’s services referral
                </span>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          {% if data["needs-and-requirements-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["risk-information-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              in progress
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">3.
            </span>
            Add intervention referrals details
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["found-interventions"] %}
                <a class="moj-task-list__task-name" href="risk-information">Details of this part will depend on the services you choose</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Details of this part will depend on the services you choose
                </span>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Cannot start yet
            </strong>

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">4.
            </span>
            Review probation contact details
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["risk-information-completed"] %}
                <a class="moj-task-list__task-name" href="responsible-officer-information">Responsible officer information</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Probation contact details
                </span>
              {% endif %}
            </li>
          </ul>
        </li>

          <li>
          {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}
          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">5.
            </span>
            Check your answers
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
                <a class="moj-task-list__task-name" href="check-answers">Check your answers</a >
              {% else %}
                <span class="app-task-list__task-name">
                  Check your answers
                </span>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
