{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm current location
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


            <form class="form" method="post" action="referral-details-alex">

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                  <h1 class="govuk-fieldset__heading">
                    Update Alex River's prison establishment
                  </h1>
                </legend>

                

                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Some warning text.
                  </strong>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="event-name">
                    Which prison is Alex in?
                  </label>
                  <input class="govuk-input govuk-!-width-three-quarters" id="amend-prison" name="amend-prison" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                    What is the reason for changing Alex's prison?
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>


              </fieldset>
            </div>
          </div>




          {{ govukButton({
            text: 'Save and continue'
          }) }}



        </form>

      </div>
    </div>



{% endblock %}
