{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you know the expected release date?
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="release-date-answer">


            <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              {% if data ['referral-type'] == "prison" %}
              <span class="govuk-caption-l">Alex River (CRN: D002399)</span>
              {% elseif data ['referral-type-nocom'] == "yes" %}
              <span class="govuk-caption-l">Darren Wicks (CRN: D927438)</span>
              {% elseif data ['referral-type-nocom'] == "no" %}
              <span class="govuk-caption-l">John Smith (CRN: D182933)</span>
              {% endif %}              
              <h1 class="govuk-fieldset__heading">
                Confirm 
                {% if data ['referral-type'] == "prison" %} Alex River's
                {% elseif data ['referral-type-nocom'] == "yes" %} Darren Wicks'
                {% elseif data ['referral-type-nocom'] == "no" %} John Smith's
                current location
                {% endif %}
                expected release date
              </h1>
            </legend>








            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="release-date" name="release-date" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="release-date">
                      <p class="govuk-body"><strong class="govuk-!-font-weight-regular">Expected release date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        <strong class="govuk-!-font-weight-bold">15 September 2023 (Saturday)</strong></p>
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="release-date" name="release-date" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="release-date">
                      Choose a different date
                    </label>
                  </div>


                </div>
              </fieldset>
            </div>









                  </fieldset>
        </div>
      </div>
      </div>

      <p class="govuk-body"><a href="release-date-not-known" class="govuk-link">I don't know the expected release date</a></p>


        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>


    </div>

  </div>


{% endblock %}
