{% extends "layout.html" %}

{% block pageTitle %}
  Accommodation service completion date
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="rar-days" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What date does the accommodation service need to be completed by?
              </h1>
            </legend>
            <div id="date-hint" class="govuk-hint">
              For example, 12 11 2020
            </div>
            <div class="govuk-date-input" id="date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="accommodation-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="accommodation-date-day" name="accommodation-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value={{ data["accommodation-date-day"] }}>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="accommodation-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="accommodation-date-month" name="accommodation-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value={{ data["accommodation-date-month"] }}>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="accommodation-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="accommodation-date-year" name="accommodation-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value={{ data["accommodation-date-year"] }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
