{% extends "layout.html" %}

{% block pageTitle %}
  Desired outcomes for accommodation service
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What are the desired outcomes for the accommodation service?
      </h1>
      <form action="complexity-level" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="accommodation-desired-outcomes-hint">
            <span id="service-user-needs-hint" class="govuk-hint">
              Select all that apply
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-all-barriers" name="accommodation-desired-outcomes" type="checkbox" value="all barriers" {{ checked("accommodation-desired-outcomes", "all barriers") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-all-barriers">
                  All barriers, as identified in the Service User Action Plan (for example financial, behavioural, physical, mental or offence-type related), to obtaining or sustaining accommodation are successfully removed
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-makes-progress" name="accommodation-desired-outcomes" type="checkbox" value="makes progress" {{ checked("accommodation-desired-outcomes", "makes progress") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-makes-progress">
                  Service User makes progress in obtaining accommodation
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-secure-social-housing" name="accommodation-desired-outcomes" type="checkbox" value="secure social housing" {{ checked("accommodation-desired-outcomes", "secure social housing") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-secure-social-housing">
                  Service User is helped to secure social or supported housing
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-tenancy" name="accommodation-desired-outcomes" type="checkbox" value="tenancy" {{ checked("accommodation-desired-outcomes", "tenancy") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-tenancy">
                  Service User is helped to secure a tenancy in the private rented sector (PRS)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-sustain-existing" name="accommodation-desired-outcomes" type="checkbox" value="sustain existing" {{ checked("accommodation-desired-outcomes", "sustain existing") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-sustain-existing">
                  Service User is helped to sustain existing accommodation
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-prevent-homelessness" name="accommodation-desired-outcomes" type="checkbox" value="prevent homelessness" {{ checked("accommodation-desired-outcomes", "prevent homelessness") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-prevent-homelessness">
                  Service User is prevented from becoming homeless
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-sustain-six-months" name="accommodation-desired-outcomes" type="checkbox" value="sustain six months" {{ checked("accommodation-desired-outcomes", "sustain six months") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-sustain-six-months">
                  Settled accommodation is sustained for a period of at least 6 months or until the end of sentence, whichever occurs first (including for those serving custodial sentences of less than 6 months)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="accommodation-desired-outcomes-risk-losing-tenancy" name="accommodation-desired-outcomes" type="checkbox" value="risk losing tenancy" {{ checked("accommodation-desired-outcomes", "risk losing tenancy") }}>
                <label class="govuk-label govuk-checkboxes__label" for="accommodation-desired-outcomes-risk-losing-tenancy">
                  Service User at risk of losing their tenancy are successfully helped to retain it
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}