{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="desired-outcomes" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
                Select the relevant sentence for the accommodation service referral
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wild-birds" name="accommodation-sentence" type="radio" value="Wild birds" {{ checked("accommodation-sentence", "Wild birds") }}>
                <label class="govuk-label govuk-radios__label" for="accommodation-sentence">
                  Wild birds protection act<br>Sub category: Wild birds protection act, 1900<br>Date: 01/01/2020<br>Order: Suspended sentence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="armed-robbery" name="accommodation-sentence" type="radio" value="Armed robbery" {{ checked("accommodation-sentence", "Armed robbery") }}>
                <label class="govuk-label govuk-radios__label" for="accommodation-sentence-2">
                  Armed robbery<br>Sub category: Wild birds protection act, 1900<br>Date: 01/01/2020<br>Order: Suspended sentence
                </label>
              </div>
            </fieldset>
          </div>
        <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
