{% extends "layout.html" %}

{% block pageTitle %}
  Action plan sent
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
	<h1 class="govuk-panel__title">End of service report submitted</h1>

	<div class="govuk-panel__body">Your reference number<br><strong>NR0001</strong></div>
	<br>
	<div class="govuk-panel__body">Intervention: <strong>{{intervention.name}}<strong></div>
      </div>

      <p class="govuk-body">Your email has been sent to:</p>

      <ul class="govuk-list govuk-list--bullet">
	<li>Josie Bart, PP</li>
      </ul>

      <p class="govuk-body">
	<a class="govuk-link" href="/sprint-3/book-and-manage/manage-a-referral/caseworker/referrals/{{referralIndex}}">Back to Alex’s referral page</a>
      </p>
    </div>
  </div>
{% endblock %}
