{% extends "layout.html" %}

{% block pageTitle %}
  Session {{sessionIndex + 1}}: post-session feedback
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Session {{sessionIndex + 1}}: post-session feedback</h1>

      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">What was {{ referral.serviceUser.firstName }}’s engagement like in this session?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="engagement-good" name="engagement" type="radio" value="good">
                <label class="govuk-label govuk-radios__label" for="engagement-good">Good</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="engagement-neutral" name="engagement" type="radio" value="neutral">
                <label class="govuk-label govuk-radios__label" for="engagement-neutral">Neutral</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="engagement-poor" name="engagement" type="radio" value="poor">
                <label class="govuk-label govuk-radios__label" for="engagement-poor">Poor</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="engagement-comment">
            Add additional information about {{ referral.serviceUser.firstName }}’s engagement in this session.
          </label>

          <textarea class="govuk-textarea" id="engagement-comment" name="engagement-comment"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">What was {{ referral.serviceUser.firstName }}’s understanding like in this session?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="understanding-good" name="understanding" type="radio" value="good">
                <label class="govuk-label govuk-radios__label" for="understanding-good">Good</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="understanding-neutral" name="understanding" type="radio" value="neutral">
                <label class="govuk-label govuk-radios__label" for="understanding-neutral">Neutral</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="understanding-poor" name="understanding" type="radio" value="poor">
                <label class="govuk-label govuk-radios__label" for="understanding-poor">Poor</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="understanding-comment">
            Add additional information about {{ referral.serviceUser.firstName }}’s understanding in this session.
          </label>

          <textarea class="govuk-textarea" id="understanding-comment" name="understanding-comment"></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">What was {{ referral.serviceUser.firstName }}’s presentation like in this session?</h2>
            </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="presentation-good" name="presentation" type="radio" value="good">
                <label class="govuk-label govuk-radios__label" for="presentation-good">Good</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="presentation-neutral" name="presentation" type="radio" value="neutral">
                <label class="govuk-label govuk-radios__label" for="presentation-neutral">Neutral</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="presentation-poor" name="presentation" type="radio" value="poor">
                <label class="govuk-label govuk-radios__label" for="presentation-poor">Poor</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="presentation-comment">
            Add additional information about {{ referral.serviceUser.firstName }}’s presentation in this session.
          </label>

          <textarea class="govuk-textarea" id="presentation-comment" name="presentation-comment"></textarea>
        </div>

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
