{% extends "layout.html" %}

{% block pageTitle %}
  Manage interventions and services
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "./includes/primary-navigation.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        My cases
      </h1>
    </div>
    <div class="group-by">
      <h2 class="govuk-heading-m group-by-heading">
        Group by:
      </h2>
      <ul class="group-by-links">
        {% if groupBy == 'details' or not groupBy %}
          <li class="group-by-link govuk-tag">
        {% else %}
          <li class="group-by-link">
        {% endif %}
          <a aria-current="page" href="cases?group_by=details">Details</a>
        </li>
        {% if groupBy == 'stage' %}
          <li class="group-by-link govuk-tag">
        {% else %}
          <li class="group-by-link">
        {% endif %}
          <a href="cases?group_by=stage">Stages</a>
        </li>
      </ul>
    </div>
  </div>

  {% if groupBy == 'details' or not groupBy %}
    {% set referralsToDisplay = referrals %}
    {% include "./includes/cases/table.html" %}
  {% elif groupBy == 'stage' %}
    {% include "./includes/cases/by-stage.html" %}
  {% endif %}
</div>
{% endblock %}