{% extends "layout.html" %}

{% block pageTitle %}
  Manage interventions and services
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "./includes/primary-navigation.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        My cases
      </h1>
    </div>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Referral</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Service User</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Intervention category</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Provider</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Caseworker</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for referral in referrals %}
          {% set referralIndex = loop.index0 %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" rowspan="{{referral.interventions.length}}">
              {{ referral.reference }}
            </td>
            <td class="govuk-table__cell" rowspan="{{referral.interventions.length}}">
              {{ referral.serviceUser.name }}
            </td>

            {% for intervention in referral.interventions %}
              <td class="govuk-table__cell">
                {{ intervention.name | capitalize }}
              </td>
              <td class="govuk-table__cell">
                {{ intervention.providerName }}
              </td>
              <td class="govuk-table__cell">
                {{ intervention.assignedCaseworker }}
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="cases/{{caseIndex}}/interventions/{{intervention.id}}">View</a>
              </td>

              {% if referral.interventions.length > 1 and not loop.last %}
              </tr>
              {% endif%}

            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>

      {# <tr class="govuk-table__row">
          <td class="govuk-table__cell">Denali</td>
          <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>
          <td class="govuk-table__cell">North America</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1913">1913</td>
        </tr> #}

    </tbody>
  </table>
</div>
{% endblock %}