<table class="govuk-table sortable">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Referral</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Service User</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Intervention category</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Provider</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Caseworker</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for referral in referralsToDisplay %}
      {% set referralIndex = loop.index0 %}

      {% for intervention in referral.interventions %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{ referral.reference }}
          </td>
          <td class="govuk-table__cell">
            {{ referral.serviceUser.name }}
          </td>

          <td class="govuk-table__cell">
            {{ intervention.name | capitalize }}
          </td>
          <td class="govuk-table__cell">
            {{ intervention.providerName }}
          </td>
          <td class="govuk-table__cell">
            {{ intervention.assignedCaseworker }}
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="cases/{{referralIndex}}/interventions/{{intervention.id}}">View</a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>