{% set accordionSections = viewModel.tasksToCompleteSections %}
{% set expandFirstItem = true %}
{% set accordionId = "to-complete" %}
{% if accordionSections.length > 0 %}
  <h2 class="govuk-heading-l">Tasks to complete</h3>
  {% include "./delivery-accordion.html" %}
{% endif %}

{% set accordionSections = viewModel.completedTasksSections %}
{% set expandFirstItem = false %}
{% set accordionId = "completed" %}
{% if accordionSections.length > 0 %}
  <h2 class="govuk-heading-l">Completed tasks</h3>
  {% include "./delivery-accordion.html" %}
{% endif %}
