{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
         Book and manage interventions
      </h1>
      <h2 class="govuk-heading-m">
        Sign in to make referrals
      </h2>

      <form action="/sprint-6/monitor/cases" method="post" class="form">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          type: "password",
          autocomplete: "password",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
