{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../includes/primary-navigation.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Make a referral</h1>

      <ol class="moj-task-list">
        <li>
          {% if data["service-user-details-checked"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-id"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              in progress
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">1.
            </span>
            Retrieve service user record
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              <a class="moj-task-list__task-name" href="service-user-id">Enter service user case identifier</a >
            </li>
            <li class="moj-task-list__item">
              {% if data["service-user-id"] %}
                <a class="moj-task-list__task-name" href="service-user-details">Confirm service user details</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Confirm service user details
                </span>
              {% endif %}
            </li>
          </li>
        </ul>

        <li>
          {% if data["found-interventions"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-details-checked"] %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">2.
            </span>
            Find and select service user interventions
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["service-user-details-checked"] or data["found-interventions"] %}
                <a class="moj-task-list__task-name" href="find-an-intervention/find-multi-select">Find and select service user interventions</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Find and select service user interventions
                </span>
              {% endif %}
            </li>
            <li class="moj-task-list__item">
              {% if data["found-interventions"] %}
                <a class="moj-task-list__task-name" href="find-an-intervention/confirm-selected-interventions">Confirm interventions</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Confirm interventions
                </span>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          {% if data["needs-and-requirements-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-details-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              in progress
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">3.
            </span>
            Review Service user's information
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["found-interventions"]%}
                <a class="moj-task-list__task-name" href="service-user-personal-information">Service user's personal information</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Service user's personal information
                </span>
              {% endif %}
            </li>
            <li class="moj-task-list__item">
              {% if data["risk-information-completed"] %}
                <a class="moj-task-list__task-name" href="risk-information">Service user's risk information</a >
              {% else %}
                <span class="app-task-list__task-name">
                  Service user's risk information
                </span>
              {% endif %}
            </li>
            <li class="moj-task-list__item">
              {% if data["risk-information-completed"] %}
                <a class="moj-task-list__task-name" href="needs-and-requirements">Service user's needs and requirements</a >
              {% else %}
                <span class="app-task-list__task-name">
                  Service user's needs and requirements
                </span>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          {% if data["responsible-officer-information-completed"] %}
            <strong class="govuk-tag govuk-tag app-task-list__tag">
              completed
            </strong>
          {% elseif data["service-user-details-completed"] %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}

          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">4.
            </span>
            Review responsible officer's information
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["risk-information-completed"] %}
                <a class="moj-task-list__task-name" href="responsible-officer-information">Responsible officer information</a>
              {% else %}
                <span class="app-task-list__task-name">
                  Responsible officer information
                </span>
              {% endif %}
            </li>
          </ul>
        </li>

        {% if data["found-interventions"] %}
          <li>
            {% if data["accommodation-more-info-completed"] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag">
                completed
              </strong>
            {% elseif data["accommodation-sentence"] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag">
                in progress
              </strong>
            {% elseif data["needs-and-requirements-completed"] %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
                not started
              </strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
                cannot start yet
              </strong>
            {% endif %}
            <h2 class="moj-task-list__section">
              <span class="moj-task-list__section-number">5.
              </span>
              Accommodation referral
            </h2>
            <ul class="moj-task-list__items">
              <li class="moj-task-list__item">
                {% if data["needs-and-requirements-completed"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/select-sentence">Select relevant sentence</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select relevant sentence
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["accommodation-sentence"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/desired-outcomes">Select desired outcomes</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select desired outcomes
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["accommodation-desired-outcomes"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/complexity-level">Select required complexity level</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select required complexity level
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["accommodation-desired-outcomes"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/completion-date">What date does the accommodation service need to be completed by?</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    What date does the accommodation service need to be completed by?
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["accommodation-date-year"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/rar-days">Enter RAR days used</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Enter RAR days used
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["accommodation-using-rar-days"] %}
                  <a class="moj-task-list__task-name" href="accommodation-service/further-information">Further information for service provider</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Further information for service provider
                  </span>
                {% endif %}
              </li>
            </ul>
          </li>

          <li>
            {% if data["social-inclusion-more-information-completed"] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag">
                completed
              </strong>
            {% elseif data["social-inclusion-sentence"] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag">
                in progress
              </strong>
            {% elseif data["needs-and-requirements-completed"] %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
                not started
              </strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
                cannot start yet
              </strong>
            {% endif %}

            <h2 class="moj-task-list__section">
              <span class="moj-task-list__section-number">6.
              </span>
              Social inclusion referral
            </h2>
            <ul class="moj-task-list__items">
              <li class="moj-task-list__item">
                {% if data["needs-and-requirements-completed"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/select-sentence">Select the relevant sentence for the social inclusion service referral</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select relevant sentence
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["social-inclusion-sentence"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/desired-outcomes">What are the desired outcomes for the social inclusion service?</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select desired outcomes
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["social-inclusion-desired-outcomes"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/complexity-level">What is the required complexity level for the social inclusion service?</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Select required complexity level
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["social-inclusion-complexity"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/completion-date">Enter completion date</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Enter completion date
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["social-inclusion-date-year"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/rar-days">Enter RAR days used</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Enter RAR days used
                  </span>
                {% endif %}
              </li>
              <li class="moj-task-list__item">
                {% if data["social-inclusion-using-rar-days"] %}
                  <a class="moj-task-list__task-name" href="social-inclusion-service/further-information">Further information for service provider</a>
                {% else %}
                  <span class="app-task-list__task-name">
                    Further information for service provider
                  </span>
                {% endif %}
              </li>
            </ul>
          </li>

        {% endif %}

          <li>
          {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              not started
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              cannot start yet
            </strong>
          {% endif %}
          <h2 class="moj-task-list__section">
            <span class="moj-task-list__section-number">7.
            </span>
            Check your answers
          </h2>
          <ul class="moj-task-list__items">
            <li class="moj-task-list__item">
              {% if data["social-inclusion-more-information-completed"] and data["accommodation-more-info-completed"] and data["responsible-officer-information-completed"] %}
                <a class="moj-task-list__task-name" href="check-answers">Check your answers</a >
              {% else %}
                <span class="app-task-list__task-name">
                  Check your answers
                </span>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}