{% extends "layout.html" %}

{% block pageTitle %}
  Responsible officer information
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Responsible officer information
      </h1>
      <form action="referral-task-list" method="post" class="form">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jessica Reel
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              j.reel@justice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Contact number
            </dt>
            <dd class="govuk-summary-list__value">
              0109 234567
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Office address
            </dt>
            <dd class="govuk-summary-list__value">
              44 Bouverie Road<br>WESTON LULLINGFIELDS<br>SY4 0RE
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Manager name
            </dt>
            <dd class="govuk-summary-list__value">
              Tony Richardson
            </dd>
          </div>
        </dl>

        <input type="hidden" name="responsible-officer-information-completed" value="yes">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}