{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="service-user-details" method="post" class="form">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="service-user-id">
              Enter the service user's case identifier
            </label>
          </h1>
          <h2 class="govuk-label govuk-label--l">
            Retrieve service user's record
          </h2>
          <div id="service-user-id-hint" class="govuk-hint">
            You can use the CRN, PNC or Nomis number
          </div>
          <input class="govuk-input" id="service-user-id" name="service-user-id" type="text" spellcheck="false" aria-describedby="account-number-hint">
        </div>

        <p class="govuk-body">
          The service user's details will be imported
        </p>

        <button class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}