{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal wellbeing services
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <span class="govuk-caption-l">Alex River (CRN: X123456)</span>
            <h1 class="govuk-heading-l">Personal wellbeing services</h1> 
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Programme criteria</h2>
          <dl class="govuk-summary-list" style="font-size: 1rem;">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Needs
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list search-result-details">
                  <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>-->
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                  <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>-->
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                  <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                  <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>   -->               
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Commissioned Rehabilitative Services
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Format
              </dt>
              <dd class="govuk-summary-list__value">
                One-to-one or group
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Attendance type
              </dt>
              <dd class="govuk-summary-list__value">
                In person or online
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location 1
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#location-1">Location 1 details</a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Overview (Intervention summary)</h2>
          <p class="gem-c-document-list__item-description">The Personal Wellbeing service is a holistic service that looks to address the following rehabilitative needs emotional wellbeing, family and significant other, lifestyle and associates, social inclusion. The Personal Wellbeing service is aimed at male individuals on a community or suspended sentence order with a RAR or on license/post-sentence supervision. The Social Inclusion ‘mentoring’ service will be delivered pre-release for individuals who will be on license. 
            The Personal Wellbeing service provides a variety of interventions and outcomes based upon the individual’s risk category (low / medium / high).
          </p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">What they will study (Topics/curriculum)</h2>
          <p class="govuk-body">A range of approaches will be used including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>direct delivery of interventions</li>
            <li>support and advocacy</li>
            <li>advice and guidance</li>
          </ul>

          <p class="govuk-body">Interventions will be tailored to reflect the complexity of an individual Service User’s needs.</p>
          
          <p class="govuk-body">Modules</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
            <li>[placeholder]</li>
          </ul>
          <p class="govuk-body">Interventions will be tailored to reflect the complexity of needs and should aim to secure one or more of the following outcomes for Service Users:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>improved pro-social self-identity and ability to access community-based support networks</li>
            <li>sustained engagement in pro-social leisure interests and purposeful activities</li>
            <li>reduced engagement with pro-criminal associates and activities</li>
            <li>a decreased reliance on negative peer relationships or networks, such as organised crime groups or extremism groups.</li>
            <li>engaged in their community and able to make a positive contribution.</li>
            <li>positive family relationships and avoids harmful relationships are developed or maintained.</li>
            <li>confident and responsible parenting behaviours are demonstrated (where applicable).</li>
            <li>Improved ability to develop positive intimate relationships including communication, resilience, negotiation and assertiveness skills.</li>
            <li>positive coping strategies in the event of temporary or irretrievable breakdown of familial or other relationships are demonstrated.</li>
            <li>compliance with any voluntary or mandatory family or relationship-focused therapeutic/behavioural change programmes.</li>
            <li>compliance with any medication/treatment/therapy programmes</li>
            <li>social networks to reduce initial social isolation are developed or sustained</li>
            <li>early post-release engagement with community-based services is secured.</li>
            <li>resilience and perseverance to cope with challenges and barriers on return to the community is developed</li>
          </ul>

          <p class="govuk-body"> These will support the development of:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>coping skills and strategies to regulate mood and demonstrate perspective-taking and self-care by avoiding risky situations.</li>
            <li>levels of self-efficacy, resilience and confidence</li>
            <li>ability to access and engage with mental health services.</li>
            <li>ability to recognise and manage triggers to worsening wellbeing.</li>
            <li>ability to build and maintain appropriate social interactions.</li>
          </ul>


          <h2 class="govuk-heading-m govuk-!-margin-top-8">Locations:</h2>
          <p class="govuk-body govuk-!-margin-top-6">[placeholder]Locations where the programme runs and details for each one of them(how to contact them). If you select a location, you can refer.</p>

          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Location</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">PDU</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Location details</button></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
          <!--Table for community-->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="crs-double-barnstable">Location 1</a></td>
                <td class="govuk-table__cell">PDU name</td>
                <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
              </tr>
            </tbody>
          </table> 

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->
          <!--<div class="govuk-button-group">
            <a href="#" class="govuk-button">
              Make a referral
            </a>
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy link for this intervention
            </a>
          </div>-->
      </form>
    </div>
  </div>

{% endblock %}
