{% extends "layouts/main.html" %}

{% block pageTitle %}
Intervention skeleton
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="#">
          <div class="govuk-form-group">
            <!--<span class="govuk-caption-l">Alex River (CRN: X123456)</span>-->
            <h1 class="govuk-heading-l">Maps for Change </h1> 
          </div>
         
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Criteria</h2>
          <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Setting
                </dt>
                <dd class="govuk-summary-list__value">
                  Community
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                 Toolkit
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Needs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list search-result-details">
                    <!--<li><strong class="govuk-tag govuk-tag--grey tag-filters">Accommodation</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Financial management and income</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Relationships</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Lifestyle and associates</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Drug misuse</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Alcohol misuse</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Emotional wellbeing</strong></li>-->
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Thinking and behaviour</strong></li>
                   <!-- <li><strong class="govuk-tag govuk-tag--grey tag-filters">Attitudes</strong></li>
                    <li><strong class="govuk-tag govuk-tag--grey tag-filters">Education, training and employability</strong></li> -->           
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risk criteria
                </dt>
                <dd class="govuk-summary-list__value">
                 
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Low OASys sexual reoffending predictor: direct contact</li>
                    <li>Low OASys sexual reoffending predictor: indecent images</li>
                  </ul>                
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Format
                </dt>
                <dd class="govuk-summary-list__value">
                  One-to-one or group
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance type
                </dt>
                <dd class="govuk-summary-list__value">
                  In person
                </dd>
              </div>
          </dl>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Description</h2>
          <p class="govuk-body">Maps for Change is a work-based resource for probation practitioners in the community. It provides a structured framework for supervising men convicted of sexual offences.</p>
          <p class="govuk-body">The toolkit has exercises designed for participants with a low risk of reoffending. Each topic covers a different criminogenic need and helps develop their abilities and resilience.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Who is eligible</h2>
          <p class="govuk-body">To be eligible, men must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>have a conviction for a sexual or sexually-motivated offence</li>
            <li>have a low risk of reoffending</li>
            <li>have a low OASys sexual reoffending predictor (direct contact or indecent images) or a medium OASys sexual reoffending predictor if they are not eligible for an equivalent accredited programme</li>
          </ul>
          <p class="govuk-body">The programme is delivered by a practitioner in the community.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Outcomes</h2>
          <p class="govuk-body">By the end of the programme, participants will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>identify 3 personal risk factors through self-assessment</li>
            <li>develop relapse prevention strategies and a written plan outlining coping strategies</li>
            <li>establish an action plan to achieve 3 personal development goals, like employment or education</li>
          </ul>
          
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Session details</h2>
          <p class="govuk-body govuk-!-margin-top-6">The programme is made up of 1 to 9 one-to-one sessions, depending on participants' needs.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Next steps</h2>
          <p class="govuk-body govuk-!-margin-top-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae condimentum nunc. Nullam nec justo id libero vehicula ultrices. Curabitur convallis, mauris in vulputate sodales, arcu massa porta augue, quis tincidunt libero nibh sed tortor. Etiam rhoncus fermentum ipsum, a vestibulum velit vehicula quis. Suspendisse porttitor orci id lacus consectetur consequat. </p>

          <!-- {{ govukButton({
            text: 'Continue'
          }) }} -->

          <div class="govuk-button-group">
            <!--<a href="#" class="govuk-button">
              Make a referral
            </a> -->
            <a href="#" class="govuk-button govuk-button--secondary">
              Copy link for this intervention
            </a>
          </div>

      </form>
    </div>
  </div>

{% endblock %}
