{% extends "layouts/main.html" %}

{% block pageTitle %}
Check Alex River's details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Review Alex River’s information for the search</h1>
    <div class="govuk-inset-text">
      These details will be used to find suitable interventions for Alex, so they must be up to date.<br><br> If the details are incorrect, they should be updated in <a href="#">nDelius</a> or <a href="#">OASys</a> by someone with edit access.
    </div>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="cyd1">Personal details</a>
          </li>
  
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="cyd2">Sentence and offence history</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="cyd3">Risks and needs</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="cyd4">Intervention history</a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">Intervention history</h2>
      <div class="govuk-inset-text">
        This may not be a complete list of Alex River’s intervention history - use for guidance only.
      </div>
<!--Intervention history-->

      <table class="govuk-table" data-module="moj-sortable-table" style="margin-bottom:0;">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Intervention</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Service provider name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Location</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Referral date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Status (Outcome)</th>
            <th scope="col" class="govuk-table__header">Notes</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Becoming New Me+ (BNM+)	</td>
            <td class="govuk-table__cell" data-sort-value="6961">HMPPS Interventions Services	</td>
            <td class="govuk-table__cell" data-sort-value="London">London</td>
            <td class="govuk-table__cell">3 Apr 2018	</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">Completed 2018</td>
            <td class="govuk-table__cell">Motivated to complete the programme.</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Becoming New Me+ (BNM+)	</td>
            <td class="govuk-table__cell" data-sort-value="6194">HMPPS Interventions Services	</td>
            <td class="govuk-table__cell" data-sort-value="London">London</td>
            <td class="govuk-table__cell" >26 May 2017</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="deselect">Deselect 2017</td>
            <td class="govuk-table__cell">delesected for mental health reasons. Alex required sessions with a pshychologist to address this before he was able to continue with the programme.</td>
          </tr>
        </tbody>
      </table>
    </br> </br>

<!--Intervention history-->
    <form action="/find/crn-path-1/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send
      </button>
    </form>
  </div>
</div>
{% endblock %}
