{% extends "layouts/main.html" %}

{% block pageTitle %}
Search filter
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Alex River (CRN: X123456)</span>
      <h1 class="govuk-heading-l">Search filter</h1>      

      <div class="govuk-inset-text">
        If the details are incorrect, they should be updated in <a href="#">nDelius</a> or <a href="#">OASys</a> by someone with edit access.
      </div>
   
<!--Personal details-->
    <!--Personal details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Personal details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              Male
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--Current location-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Alex River’s current location
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              Community
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PDU (Probation Delivery Unit)	
            </dt>
            <dd class="govuk-summary-list__value">
              Durham
            </dd>
          </div>
        </dl>
      </div>
    </div>
<!--OGRS-->
<h3 class="govuk-heading-s">Offender group reconviction scale</h3>
<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OGRS Year 1</span></span>
    <span class="red-figure">85%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>
<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">OGRS Year 2</span></span>
    <span class="red-figure">77%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>

<!--OGP-->
<h3 class="govuk-heading-s">Offender non-violence predictor</h3>
<div class="rosh-widget rosh-widget--low govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
    <span class="green"><strong>LOW</strong> <span class="govuk-!-font-weight-regular">OGP Year 1</span></span>
    <span class="green-figure">10%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>
<div class="rosh-widget rosh-widget--low govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
    <span class="green"><strong>LOW</strong> <span class="govuk-!-font-weight-regular">OGP Year 2</span></span>
    <span class="green-figure">12%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>

<!--OVP-->
<h3 class="govuk-heading-s">Offender violence predictor</h3>
<div class="rosh-widget rosh-widget--medium govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="orange"><strong>MEDIUM</strong> <span class="govuk-!-font-weight-regular">OVP Year 1</span></span>
    <span class="red-figure">23%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>
<div class="rosh-widget rosh-widget--medium govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="orange"><strong>MEDIUM</strong> <span class="govuk-!-font-weight-regular">OVP Year 2</span></span>
    <span class="red-figure">23%</span>
  </h2>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>

<!--SARA-->
<h3 class="govuk-heading-s">Spousal assault risk assessment</h3>
<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">SARA</span></span>
  </h2>
  <p class="govuk-body-m govuk-!-margin-bottom-1">Risk of violence towards partner</p>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>
<div class="rosh-widget rosh-widget--medium govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="orange"><strong>MEDIUM</strong> <span class="govuk-!-font-weight-regular">SARA</span></span>
  </h2>
  <p class="govuk-body-m govuk-!-margin-bottom-1">Risk of violence towards others</p>
  <p class="text-secondary govuk-body-s govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>

<!--RSR-->
<h3 class="govuk-heading-s">Risk of serious recidivism</h3>
<div class="rosh-widget rosh-widget--low govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
    <span class="green"><strong>LOW</strong> <span class="govuk-!-font-weight-regular">RSR</span></span>
    <span class="green-figure">0.0</span>
  </h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <ul class="govuk-list govuk-!-margin-top-3 govuk-!-margin-bottom-2">
    <li>
      <div class="predictor-timeline-item predictor-timeline-item--low">
        <span class="predictor-timeline-item__level"><strong>LOW</strong> OSP/C</span>
      </div>
    </li>
    <li>
      <div class="predictor-timeline-item predictor-timeline-item--medium">
        <span class="predictor-timeline-item__level"><strong>MEDIUM</strong> OSP/I</span>
      </div>
    </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--visible">
  <p class="text-secondary govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 grey">Last updated: 1 November 2022</p>
</div>

<!--Rosh-->
<h3 class="govuk-heading-s">Risk of serious harm</h3>
<div class="rosh-widget rosh-widget--high govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    <span class="red"><strong>HIGH</strong> <span class="govuk-!-font-weight-regular">RoSH</span></span>
  </h2>
  <table class="govuk-table rosh-widget__table">
    <caption class="govuk-!-text-align-left">
      <p class="govuk-body-m govuk-!-margin-bottom-1">
        Risk of serious harm
      </p>
      <p class="text-secondary govuk-body-s grey">
        Last updated: 1 November 2022
      </p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Risk to</th>
        <th class="govuk-table__header">Custody</th>
        <th class="govuk-table__header">Community</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Children</th>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
      </tr>
      <tr>
        <th class="govuk-table__header">Public</th>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
        <td class="govuk-table__cell rosh-widget__risk--medium">Medium</td>
      </tr>
      <tr>
        <th class="govuk-table__header">Known adult</th>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
        <td class="govuk-table__cell rosh-widget__risk--high">High</td>
      </tr>
      <tr>
        <th class="govuk-table__header">Staff</th>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
      </tr>
      <tr>
        <th class="govuk-table__header">Prisoners</th>
        <td class="govuk-table__cell">&#8212</td>
        <td class="govuk-table__cell rosh-widget__risk--low">Low</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="govuk-inset-text govuk-!-margin-top-8 govuk-!-margin-bottom-8">Imported from Nomis on 1 August 2023, last updated on 16 November 2022</div>

<h3 class="govuk-heading-s">Risk alerts</h3>
<div class="risk-flag-widget">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Active alerts</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <ul class="govuk-list govuk-!-margin-top-1 govuk-!-margin-bottom-2">
    <li>Gang member</li>
    <li>Arsonist</li>
    <li>Risk to females</li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--visible">
  <p class="text-secondary govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 grey">Last updated: 2 February 2022</p>
</div>


    <!--Needs-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Alex River's needs
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table" style="margin-bottom:0;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="moj-fixed-width-40 govuk-table__header">Need area</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style=" text-align: left;">Need level</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Accommodation</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--high">High</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Education, Training and Employment (ETE)</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Finance</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Relationships</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Lifestyle and associates</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Drug misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Alcohol misuse</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Emotional wellbeing</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--low">Low</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal;">Thinking and behaviour</th>
              <td class="govuk-table__cell govuk-table__cell--numeric rosh-widget__risk--medium">Medium</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="font-weight: normal; border-bottom:none;">Attitudes</th>
              <td class="govuk-table__cell rosh-widget__risk--low govuk-table__cell--numeric" style="border-bottom:none;">Low</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Sentence and main offence details 
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence type
            </dt>
            <dd class="govuk-summary-list__value">
              Domestic violence (IPV) - 09144
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              Public Health Offence
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End of sentence date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Sep 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum number of enforceable days
            </dt>
            <dd class="govuk-summary-list__value">
              36 days 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date intervention to be completed by 
            </dt>
            <dd class="govuk-summary-list__value">
              25 Sep 2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court ordered interventions
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Becoming New Me+ (BNM+)</li>
                <li>An intervention to rebuild relationships</li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

 <!--Licence conditions-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Additional licence conditions
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exclusion zones
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-contact	
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Electronic monitoring
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alcohol monitoring on licence (AML)
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Polygraph
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child contact
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationships
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Terrorist personal search condition
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other terrorism/extremism related licence conditions
            </dt>
            <dd class="govuk-summary-list__value">
              &#8212
            </dd>
          </div>
        </dl>
      </div>
    </div>  

    <form action="/find/crn-path-1/main-catalogue-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Return to search
      </button>
    </form>
  </div>
</div>
{% endblock %}
