{% extends "layouts/main.html" %}

{% block pageTitle %}
Recommended referral type
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %} 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  <span class="govuk-caption-m govuk-!-margin-bottom-2 govuk-flex">
    <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: X123456
    <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
    Date of birth: 20 Feb 1975 (47 years old)
    <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
    Tier:&nbsp;<a href="#">B3</a>
    
    <!-- ROSH badge -->

    <div class="govuk-!-margin-left-4">
      <div class="predictor-timeline-item predictor-timeline-item--high">
        <span class="predictor-timeline-item__level"><strong>ROSH</strong> HIGH</span>
      </div>
    </div>       

    <!-- RSR badge & score -->
    
    <div class="govuk-!-margin-left-4">
      <div class="predictor-timeline-item predictor-timeline-item--medium">
        <span class="predictor-timeline-item__level"><strong>RSR</strong> MEDIUM</span>
        <span class="predictor-timeline-item__score"> 3</span>
      </div>
    </div>
  </span>
  Alex River
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
    <h1 class="govuk-heading-l">Recommended referral type</h1>
    <!--<p class="govuk-body">NDelius shows Alex is eligible for the OPD pathway.</p>-->
    <p class="govuk-body">Based on [???], the recommended referral type for Alex is <strong>[referral type]</strong>.</p>
    <p class="govuk-body"><a href="#" class="govuk-link">See all referral types</a>.</p> 

    <form action="/recommended-referral" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you want to make this recommended type of Community Service referral?
            </h2>
          </legend>
    
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-yes" name="referralChoice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="referral-yes">
                Yes
              </label>
            </div>
    
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="referral-no" name="referralChoice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="referral-no">
                No - select a different region
              </label>
            </div>
    
          </div>
        </fieldset>
      </div>
    
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    
    </form>

  </div>
</div>

{% endblock %}