{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case progress
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %} 
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Community Support</h1>
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="/rm/find-select-referral-type/enter-unique-identifier">Make a referral</a>
                    </h2>
                    <p class="govuk-body card__description">Start a new referral for Community Support services.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">View cases</a>
                    </h2>
                    <p class="govuk-body card__description">View your cases and other cases in progress.</p>
                </div>
            </li>
        </ul>
    </div>
    
    

      

        </form>
      </div>
    </div>

{% endblock %}
