{% extends "layout.html" %}

{% block pageTitle %}
  Accommodation complexity level
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../../includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="completion-date" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
              What is the required complexity level for the accommodation service?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="low" name="accommodation-complexity" type="radio" value="Low complexity" {{ checked("accommodation-complexity", "Low complexity") }}>
              <label class="govuk-label govuk-radios__label" for="low">
                Low complexity<br>Service User has some capacity and means to secure and/or maintain suitable accommodation but requires some support and guidance to do so.
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="medium" name="accommodation-complexity" type="radio" value="Medium complexity" {{ checked("accommodation-complexity", "Medium complexity") }}>
              <label class="govuk-label govuk-radios__label" for="medium">
                Medium complexity<br>Service User is at risk of homelessness/is homeless, or will be on release from prison. Service User has had some success in maintaining atenancy but may have additional needs e.g. Learning Difficulties and/or Learning Disabilities or other challenges currently.
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="high" name="accommodation-complexity" type="radio" value="High complexity" {{ checked("accommodation-complexity", "High complexity") }}>
              <label class="govuk-label govuk-radios__label" for="high">
                High complexity<br>Service User is homeless or in temporary/unstable accommodation, or will be on release from prison. Service User has poor accommodation history, complex needs and limited skills to secure or sustain a tenancy.
              </label>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
