{% extends "layouts/main.html" %}

{% block pageTitle %}
Add additional session details
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Add details of second session
    </h1>

    <form method="post" action="#">
  <div class="moj-add-another" data-module="moj-add-another" data-item-label="Participant">
    <div class="moj-add-another__items">
      <div class="moj-add-another__item">
        <fieldset class="govuk-fieldset moj-add-another__fieldset ">
          <legend class="govuk-fieldset__legend moj-add-another__item-title govuk-fieldset__legend--m">
            Participant 1
          </legend>
          <div class="moj-add-another__item-container">
            <div class="govuk-form-group">
              <label class="govuk-label" for="participant[0][full_name]">
                Full name <span class="govuk-visually-hidden moj-add-another__label-suffix">for participant 1</span>
              </label>
              <input class="govuk-input" id="participant[0][full_name]" name="participant[0][full_name]" type="text" data-name="participant[%index%][full_name]" data-id="participant[%index%][full_name]" data-label="Full name">
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint" data-legend="Date of birth">
                <legend class="govuk-fieldset__legend">
                  Date of birth <span class="govuk-visually-hidden moj-add-another__label-suffix">for participant 1</span>
                </legend>
                <div id="date-of-birth-hint" class="govuk-hint">
                  For example, 31 7 1980
                </div>
                <div class="govuk-date-input" id="date-of-birth">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="participant[0][dob][day]">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="participant[0][dob][day]" name="participant[0][dob][day]" type="text" inputmode="numeric" data-name="participant[%index%][dob][day]" data-id="participant[%index%][dob][day]">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="participant[0][dob][month]">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="participant[0][dob][month]" name="participant[0][dob][month]" type="text" inputmode="numeric" data-name="participant[%index%][dob][month]" data-id="participant[%index%][dob][month]">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="participant[0][dob][year]">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="participant[0][dob][year]" name="participant[0][dob][year]" type="text" inputmode="numeric" data-name="participant[%index%][dob][year]" data-id="participant[%index%][dob][year]">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="moj-add-another__remove-button-container">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="moj-add-another__add-button-container">
      <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button" data-module="govuk-button">
        Add another participant
      </button>
    </div>
  </div>
</form>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Date
          </h2>
        </legend>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Time
          </h2>
        </legend>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Hour
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Minute
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort" for="width-2">
                AM or PM
              </label>
              <select class="govuk-select" id="sort" name="sort" style="min-width: 4.5em;">
                <option value=""></option>
                <option value="PM">PM</option>
                <option value="AM">AM</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Duration of the session
          </h2>
        </legend>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Hour
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Minute
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Method
          </h2>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Select one option.
        </div>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changedName">
              Phone call
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Video call
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changedName">
              In-person meeting - NPS offices
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              In-person meeting - Other locations
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            [Placeholder] Who is delivering the ICS appointment?
          </h2>
        </legend>
        <div id="countries-hint" class="govuk-hint">
          Select all xxx that apply
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
            <label class="govuk-label govuk-checkboxes__label" for="countries">
              Placeholder
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
            <label class="govuk-label govuk-checkboxes__label" for="countries-2">
              Placeholder
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
            <label class="govuk-label govuk-checkboxes__label" for="countries-3">
              Placeholder
            </label>
          </div>
        </div>
      </fieldset>
    </div>

   <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Enter reason for changing appointment
          </h2>
        </legend>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </fieldset>
    </div>-->

    <form action="record-additional-session-extra3" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
        <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
          Add another session
        </button>
    </form>

    <form action="confirm-additional-session" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>



{% endblock %}
