{% extends "layouts/main.html" %}

{% block pageTitle %}
Add additional session details
{% endblock %}

{% block main %}
{% include "../includes/key-details-bar-alex.html" %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Book ICS
    </h1>

    <div class="moj-datepicker" data-module="moj-date-picker">
      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">What is the date of the session?</h2>
        </legend>
        <div id="date-hint" class="govuk-hint">
         *  For example, 17/5/2024. / Enter a date, for example 10/7/2025, or select one from the calendar.
        </div>
        <input class="govuk-input moj-js-datepicker-input " id="date" name="date" type="text" aria-describedby="date-hint" autocomplete="off">
      </div>
    </div>
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            When the session started?
          </h2>
        </legend>
        <div id="location-hint" class="govuk-hint">
          Use the 12-hour clock, for example 9:30am or 3pm.
        </div>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Hour
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Minute
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort" for="width-2">
                AM or PM
              </label>
              <select class="govuk-select" id="sort" name="sort" style="min-width: 4.5em;">
                <option value=""></option>
                <option value="PM">PM</option>
                <option value="AM">AM</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">How long did the session last for?</h2>
        </legend>
      </legend>
      <div id="location-hint" class="govuk-hint">
        blah blah?
      </div>
      <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
        <option value="choose" selected>Choose duration</option>
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="1h">1 hour</option>
        <option value="1h15">1 hour and 15 minutes</option>
        <option value="1h30">1 hour and 30 minutes</option>
        <option value="1h45">1 hour and 45 minutes</option>
        <option value="2h">2 hours</option>
      </select>
      <br><br>
      <p class="govuk-body">
        <a href="book-ics-cant-find-answer" class="govuk-link govuk-link--no-visited-state">I can't find my answer</a>
      </p>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            *What method has been used to deliver the ICS? /Method
          </h2>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Select one option
        </div>
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changedName">
              Phone call
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              Video call
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
            <label class="govuk-label govuk-radios__label" for="changedName">
              In-person meeting - NPS offices
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              In-person meeting - Other locations
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            [Placeholder] Who is delivering the ICS appointment?
          </h2>
        </legend>
        <div id="countries-hint" class="govuk-hint">
          Select all xxx that apply
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
            <label class="govuk-label govuk-checkboxes__label" for="countries">
              R&M Active Probation Practitioner (<a href="mailto:interventions-dev@digital.justice.gov.uk">interventions-dev@digital.justice.gov.uk</a>)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
            <label class="govuk-label govuk-checkboxes__label" for="countries-2">
              Michaela Boronsky (<a href="mailto:michaela.b@example.com">michaela.b@example.com</a>)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
            <label class="govuk-label govuk-checkboxes__label" for="countries-3">
              John Smithy (<a href="mailto:john.smithy@example.com">john.smithy@example.com</a>)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form action="confirm-additional-session" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>



{% endblock %}
