{% extends "layouts/main.html" %}

{% block pageTitle %}
  Referral details
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<!--<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to CRS homepage</a>-->
  	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Referral for Alex River</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="view-alex-details-tabs-assigned-progress">Case details</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="referral-progress-alex-book-ics">Progress</a>
        </li>

        <!--<li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link"  href="">Case notes</a>
        </li>-->

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">Change log</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-m">Referral progress</h2>

<!--ICS-->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          <h3 class="govuk-heading-s">Initial contact session (ICS)</h3>
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" class="govuk-link">Schedule</a>
        </dd>
      </div>
    </dl>

<!--Action plan-->
   
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          <h3 class="govuk-heading-s">Action plan</h3>
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" class="govuk-link">View action plan</a>
        </dd>
      </div>
    </dl>

<!--Sessions-->
    <h3 class="govuk-heading-s">Session progress</h3>
    <p class="govuk-body">Sessions will appear here when the action plan is approved.</p>

<!--End of service report-->
    <h3 class="govuk-heading-s">End of service report</h3>
    <p class="govuk-body">blurb</p>

  </div>
</div>

{% endblock %}
