{% extends "layouts/main.html" %}

{% block pageTitle %}
  Referral details
{% endblock %}

{% block header %}
  {% include "/includes/head-dps-dp.html" %}
{% endblock %}

{% block beforeContent %}
<nav class="clear-right">
	<!--<a href="/dps/view-acp-and-referrals" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-8 float-right">Go to CRS homepage</a>-->
  	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
</nav>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Case assigned
          </h3>
          <p class="govuk-body">The case has been assigned to a caseworker / The case has been assigned to caseworkers. *</p>
        </div>
      </div>
     
      <h1 class="govuk-heading-l">Referral for Alex River</h1>
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="view-alex-details-tabs-assigned-progress">Case details</a>
          </li>
  
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="referral-progress-alex-book-ics">Progress</a>
          </li>
  
          <!--<li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="">Case notes</a>
          </li>-->
  
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="">Change log</a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">Case details</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Personal details
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Alex River
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CRN
              </dt>
              <dd class="govuk-summary-list__value">
                D007615
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                20 Feb 1975 (47 years old)
              </dd>
            </div>
  
            <!--<div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prison number *
              </dt>
              <dd class="govuk-summary-list__value">
                A8362HF
              </dd>
            </div>-->
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred language
              </dt>
              <dd class="govuk-summary-list__value">
                English
              </dd>
            </div>
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Disabilities<br>
                <span class="govuk-body-s secondary-text govuk-!-font-weight-regular">
                  Last updated 7 January 2026
                </span>
              </dt>
              <dd class="govuk-summary-list__value">             
                <ul class="govuk-list">       
                    <li>Neurodiverse conditions</li>                  
                </ul> 
                <!--<a class="govuk-link" href="#">View details and notes</a>-->
              </dd>
            </div>
          </dl>
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Equality monitoring
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Ethnicity
              </dt>
              <dd class="govuk-summary-list__value">
                White: British/English/Welsh/Scottish/Northern Irish
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Religion or belief
              </dt>
              <dd class="govuk-summary-list__value">
                No religion
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sex
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Gender identity
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sexual orientation
              </dt>
              <dd class="govuk-summary-list__value">
                Heterosexual/Straight
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Transgender
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
          </dl>
          <!--<p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link" href="#">View more equality monitoring on NDelius (opens in new tab)</a></p>-->
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            Contact details
          </h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                No phone number
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">
                07700 900002
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                alex.rivers@gmail.com
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main address<br>
                <span class="govuk-body-s secondary-text govuk-!-font-weight-regular">
                  Last updated 6 January 2026
                </span>
              </dt>
              <dd class="govuk-summary-list__value">
                1 Lunar Lane, Newcastle, Newcastle upon Tyne, NE12 34AB<br>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Type of address</span>
                  <span>Friends/Family (settled) (verified)</span>
                </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Start date</span>
                  <span>1 December 2005</span>
                </p>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                  <span class="govuk-summary-list__key govuk-!-padding-bottom-0">Notes</span>
                  <span>No notes</span>
                </p>
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
              </dd>-->
            </div>
            <!--<div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other addresses
              </dt>
              <dd class="govuk-summary-list__value">              
                No other addresses       
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contacts
              </dt>
              <dd class="govuk-summary-list__value">             
                None
              </dd>
            </div>-->
          </dl>
        </div>
      </div>
  
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Referral details
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Referral date
              </dt>
              <dd class="govuk-summary-list__value">
                18 April 2025
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assigned to
              </dt>
              <dd class="govuk-summary-list__value">
                R&M Active Probation Practitioner (<a href="mailto:interventions-dev@digital.justice.gov.uk">interventions-dev@digital.justice.gov.uk</a>)<br>
                Michaela Boronsky (<a href="mailto:michaela.b@example.com">michaela.b@example.com</a>)
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="assign-change">
                  Change
                  <span class="govuk-visually-hidden"> location</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
  </div>
</div>

{% endblock %}
