{% extends "layout-add-and-find.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Confirm selected interventions
      </h1>

      {% if selectedInterventions | length > 0 %}
        <p class="govuk-body-m">Please review your shortlisted interventions:</p>

        {% for intervention in selectedInterventions %}
          <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-l">{{ intervention.title }}</h2>
            <p class="govuk-body-m">Service provider:
              {{ intervention.provider }}</p>
            <p class="govuk-body-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis orci a lacinia rutrum.</p>
            <a href="#" class="govuk-link">x remove this intervention</a>
          </div>
        {% endfor%}

        <form action="/sprint-6/book-and-manage/make-a-referral/referral-task-list" method="post" class="form">
          <input type="hidden" name="found-interventions" value="yes">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      {% else %}
        <p class="govuk-body-m">
          You have not shortlisted any interventions yet
        </p>
        <a href="/sprint-6/book-and-manage/make-a-referral/find-an-intervention/results">Go back to search results</a>
      {% endif %}
    </div>
  </div>
{% endblock %}