{% extends "layout-add-and-find.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../../includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sprint-6/book-and-manage/make-a-referral/find-an-intervention/results"
  }) }}
{% endblock %}

{% set extraWide = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Accommodation</h1>
      <p>
        Available for all service users who have an accommodation need in brokerage or retention, the service aims are to support in securing settled accommodation. Having safe and permanent accommodation can play a significant role in helping someone to stop reoffending, we also seek to address the areas which prevent someone from sustaining or moving onto secure accommodation long term.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Support to identify and secure suitable accommodation in line with Homelessness Reduction Act 2017.</li>
        <li>Support to complete Housing applications and associated processes.</li>
        <li>Advising on rent or mortgage arrears, possession action and repayment schemes.</li>
        <li>Advocacy on landlord issues to resolve disputes.</li>
        <li>Advising on rights and responsibilities.</li>
        <li>Referrals for legal assistance.</li>
        <li>One to one support to maintain independent & healthy living.</li>
        <li>Support to access wider housing needs (charity, furniture, benefits etc).</li>
      </ul>
      <p>
        Activities will include a combination of face to face, telephone and advocacy support
      </p>

      <form action="/sprint-6/book-and-manage/make-a-referral/find-an-intervention/{{intervention.id}}/details?selectedIntervention={{intervention.id}}" method="post" class="form">
        <button class="govuk-button" data-module="govuk-button">
          Add to shortlist
        </button>
      </form>
    </div>

    {% include "./includes/sidebar-shortlist.html" %}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type of interventions</dt>
          <dd class="govuk-summary-list__value">Rehabilitation and Resettlement Intervention</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of sessions</dt>
          <dd class="govuk-summary-list__value">Up to a maximum of 12 sessions depending on complexity which will be agreed with the Probation Practitioner. Low – 4 Med – 8 High - 12
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Frequency</dt>
          <dd class="govuk-summary-list__value">Every 5 weeks minimum</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Locations</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <strong>Office one:</strong><br>
              44 Bouverie Road<br>Weston Lullingfields<br>SY4 0RE
            </div>
            <div class=govuk-!-margin-top-4>
              <strong>Office two:</strong><br>
              27 Test Walk<br>Newtown<br>SY16 1AQ
            </div>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type of sentence</dt>
          <dd class="govuk-summary-list__value">On Licence, On PSS, On RAR, Pre-sentence</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Risk of harm and reoffending</dt>
          <dd class="govuk-summary-list__value">Low, Medium, High</dd>
        </div>

      </dl>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#eligibility">
            Eligibility
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#availability">
            Availability
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#suitability">
            Suitability
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#service-provider">
            Service Provider
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="eligibility">
        <h2 class="govuk-heading-l">Eligibility</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Region</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Age</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Gender</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Offence Factors</dt>
            <dd class="govuk-summary-list__value">Acquisitive/Financial, Alcohol motivated/disinhibited, Domestic abuse, Drugs motivated/disinhibited, Motoring, Other, Robbery, Violence (non DV)</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Excluded offence factors</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Needs</dt>
            <dd class="govuk-summary-list__value">Accommodation</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Excluded Needs</dt>
            <dd class="govuk-summary-list__value">Learning disability, Mental health - severe</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Complexity / intensity</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">RoSH/OGRS Combination</dt>
            <dd class="govuk-summary-list__value">High RoSH & OGRS 50-74, High RoSH & OGRS 75+, Low RoSH & OGRS 50-74, Low RoSH & OGRS 75+, Medium RoSH & OGRS 50-74, Medium RoSH & OGRS 75+, Very High RoSH & OGRS 50-74, Very High RoSH & OGRS 75+</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">SARA score</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">RM2000</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

        </dl>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="availability">
        <h2 class="govuk-heading-l">Availability</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Current waiting list</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>
        </dl>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="suitability">
        <h2 class="govuk-heading-l">Suitability</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Group or one to one</dt>
            <dd class="govuk-summary-list__value">15 group sessions, 4 one-to-one sessions</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available days</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available times</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available until</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcomes expected</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Success stories</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Accessibility</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>
        </dl>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="service-provider">
        <h2 class="govuk-heading-l">Service Provider</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Telephone number</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

        </dl>

      </div>
    </div>

  </div>

{% endblock %}