{% extends "layout-add-and-find.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sprint-6/book-and-manage/make-a-referral/find-an-intervention/results"
  }) }}
{% endblock %}

{% set extraWide = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Thinking skills programme</h1>
      <p>
        The Thinking Skills Programme (TSP) is a cognitive skills programme for men and women designed to help develop skills in:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>pro-social problem solving</li>
        <li>perspective taking</li>
        <li>developing and managing relationships</li>
        <li>self-management</li>
      </ul>
      <p>
        It also encourages pro-social attitudes, behaviour and goals for the future.
      </p>
      <p>
        TSP has been designed to incorporate maximum responsivity and flexibility of delivery format.
      </p>

      <form action="/sprint-6/book-and-manage/make-a-referral/find-an-intervention/{{intervention.id}}/details?selectedIntervention={{intervention.id}}" method="post" class="form">
        <button class="govuk-button" data-module="govuk-button">
          Add to shortlist
        </button>
      </form>
    </div>

    {% include "./includes/sidebar-shortlist.html" %}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type of interventions</dt>
          <dd class="govuk-summary-list__value">Accredited Programme - CRC provided</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of sessions</dt>
          <dd class="govuk-summary-list__value">19</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Frequency</dt>
          <dd class="govuk-summary-list__value">Every 5 weeks minimum</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Location</dt>
          <dd class="govuk-summary-list__value">Bedfordshire, Bristol, Cambridgeshire, Cheshire, Cornwall, Cumbria, Derbyshire, Devon, Dorset, Durham, Essex, Gloucestershire, Greater Manchester, Hampshire, Hertfordshire, Humberside, Isle of Wight, Kent, Lancashire, Leicestershire, Lincolnshire, London, Merseyside, Norfolk, Northamptonshire, Northumbria, North Yorkshire, Nottinghamshire, Rutland, Somerset, Staffordshire, Suffolk, Surrey, Sussex, Tees Valley, Thames Valley, Warwickshire, West Mercia, West Midlands, West Yorkshire, Wiltshire</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Stage of sentence</dt>
          <dd class="govuk-summary-list__value">On Licence, On PSS, On RAR, Pre-sentence</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Offence seriousness</dt>
          <dd class="govuk-summary-list__value">High, Low, Medium</dd>
        </div>

      </dl>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#eligibility">
            Eligibility
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#availability">
            Availability
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#suitability">
            Suitability
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#service-provider">
            Service Provider
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="eligibility">
        <h2 class="govuk-heading-l">Eligibility</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Region</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Age</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Gender</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Offence Factors</dt>
            <dd class="govuk-summary-list__value">Acquisitive/Financial, Alcohol motivated/disinhibited, Domestic abuse, Drugs motivated/disinhibited, Motoring, Other, Robbery, Violence (non DV)</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Excluded offence factors</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Needs</dt>
            <dd class="govuk-summary-list__value">Thinking and attitudes</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Excluded Needs</dt>
            <dd class="govuk-summary-list__value">Learning disability, Mental health - severe</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Complexity / intensity</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">RoSH/OGRS Combination</dt>
            <dd class="govuk-summary-list__value">High RoSH & OGRS 50-74, High RoSH & OGRS 75+, Low RoSH & OGRS 50-74, Low RoSH & OGRS 75+, Medium RoSH & OGRS 50-74, Medium RoSH & OGRS 75+, Very High RoSH & OGRS 50-74, Very High RoSH & OGRS 75+</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">SARA score</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">RM2000</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

        </dl>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="availability">
        <h2 class="govuk-heading-l">Availability</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Current waiting list</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>
        </dl>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="suitability">
        <h2 class="govuk-heading-l">Suitability</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Group or one to one</dt>
            <dd class="govuk-summary-list__value">15 group sessions, 4 one-to-one sessions</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available days</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available times</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Available until</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcomes expected</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Success stories</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Accessibility</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>
        </dl>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="service-provider">
        <h2 class="govuk-heading-l">Service Provider</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value">N/A</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Telephone number</dt>
            <dd class="govuk-summary-list__value">None</dd>
          </div>

        </dl>

      </div>
    </div>

  </div>

{% endblock %}