{% extends "layout-add-and-find.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block header %}
  {{ super() }}
  {% set currentPage = "make-a-referral" %}
  {% include "../../../includes/primary-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find an intervention &ndash; Alex River</h1>

      <p>
        If you're a probation practitioner, you can use this service to find interventions, such as:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          accredited programmes
        </li>
        <li>
          rehabilitation and resettlement interventions
        </li>
      </ul>

      <p>
        You can search by keyword, postcode, criminogenic needs and risks. You can also browse by region.
      </p>

      <form action="results">
        <div class="govuk-form-group">
          <label for="location" class="govuk-label">Location</label>
          <input id="location" class="govuk-input" name="location" placeholder="For example London" value="SY16 1AQ">
        </div>

        <div class="govuk-form-group">
          <label for="needs" class="govuk-label">Criminogenic needs</label>
          <select id="needs" name="needs" class="govuk-select" multiple="multiple" data-auto-complete="true">
            <option value="accommodation" selected>Accommodation</option>
            <option value="education-training-and-employment">Education, training and employment</option>
            <option value="finances">Finances</option>
            <option value="relationships">Relationships</option>
            <option value="emotional-well-being">Emotional well-being</option>
            <option value="drugs">Drugs</option>
            <option value="alcohol">Alcohol</option>
            <option value="lifestyle-and-associates">Lifestyle and associates</option>
            <option value="attitudes">Attitudes</option>
            <option value="thinking-skills">Thinking skills</option>
            <option value="health">Health</option>
            <option value="social inclusion" selected>Social inclusion</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label for="risks" class="govuk-label">Risks</label>
          <select id="risks" name="risks" class="govuk-select" multiple="multiple" data-auto-complete="true">
            <optgroup label="OGRS3">
              <option value="ogrs3-75-and-above" selected>OGRS3 - 75% and above</option>
              <option value="ogrs3-50-to-74">OGRS3 - 50% to 74%</option>
              <option value="ogrs3-25-to-49">OGRS3 - 25% to 49%</option>
              <option value="ogrs3-0-to-24">OGRS3 - 0 to 24%</option>
            </optgroup>

            <optgroup label="RoSH">
              <option value="rosh-high">RoSH - High</option>
              <option value="rosh-medium">RoSH - Medium</option>
              <option value="rosh-low">RoSH - Low</option>
            </optgroup>

            <optgroup label="RM2000">
              <option value="rm2000-very-high">RM2000 - Very High</option>
              <option value="rm2000-high">RM2000 - High</option>
              <option value="rm2000-medium">RM2000 - Medium</option>
              <option value="rm2000-low">RM2000 - Low</option>
            </optgroup>

            <optgroup label="SARA">
              <option value="sara-high">SARA - High</option>
              <option value="sara-medium">SARA - Medium</option>
              <option value="sara-low">SARA - Low</option>
              <option value="sara-none">SARA - None</option>
            </optgroup>
          </select>
        </div>

        <div class="govuk-form-group">
          <label for="text" class="govuk-label">Title and description of interventions</label>
          <input id="text" class="govuk-input" name="text" placeholder="For example Wellbeing">
        </div>

        <input type="submit" class="govuk-button" value="Search">
      </form>

      <p>
        <a href="#" class="govuk-link">Advanced search</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-l">Browse interventions by region</h2>

      <ul class="govuk-list">
        <li>
          <a href="results?region=north-east">North East</a>
        </li>
        <li>
          <a href="results?region=north-west">North West</a>
        </li>
        <li>
          <a href="results?region=yorkshire-and-the-humber">Yorkshire and the Humber</a>
        </li>
        <li>
          <a href="results?region=wales">Wales</a>
        </li>
        <li>
          <a href="results?region=west-midlands">West Midlands</a>
        </li>
        <li>
          <a href="results?region=east-midlands">East Midlands</a>
        </li>
        <li>
          <a href="results?region=south-west">South West</a>
        </li>
        <li>
          <a href="results?region=south-central">South Central</a>
        </li>
        <li>
          <a href="results?region=east-of-england">East of England</a>
        </li>
        <li>
          <a href="results?region=london">London</a>
        </li>
        <li>
          <a href="results?region=kent">Kent</a>
        </li>
        <li>
          <a href="results?region=surrey-and-sussex">Surrey and Sussex</a>
        </li>
        <li>
          <a href="results?region=greater-manchester">Greater Manchester</a>
        </li>
      </ul>
    </div>

  {% include "./includes/sidebar-shortlist.html" %}
{% endblock %}