{% extends "layouts/main.html" %}

{% block pageTitle %}
Does Alex River have an allocated probation practitioner? 
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post">

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-xl">Alex River (CRN: D007615)</span>
                  <h1 class="govuk-fieldset__heading">
                    Does Alex River have an allocated probation practitioner? 
                  </h1>
                </legend>

                  


                  <dl class="govuk-summary-list">
          


                  <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="allocated-pp" name="allocated-pp" type="radio" value="yes" data-aria-controls="conditional-contact-2">
                      <label class="govuk-label govuk-radios__label" for="allocated-pp">
                        Yes - Alex has an allocated probation practitioner (community offender manager) on nDelius
                      </label>
                    </div>


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="allocated-pp" name="allocated-pp" type="radio" value="no" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-radios__label" for="allocated-pp">
                        No - Alex does not have an allocated probation practitioner (community offender manager) on nDelius
                      </label>
                    </div>
                    

                  </div>


              </fieldset>
            </div>
          </div>



          {{ govukButton({
            text: 'Save and continue'
          }) }}



        </form>

      </div>
    </div>



{% endblock %}
