{% extends "layouts/main.html" %}

{% block pageTitle %}
Update probation practitioner details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      
            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  {% if data ['referral-type'] == "prison" %}
                  <span class="govuk-caption-l">Alex River (CRN: D007615)</span>
                  {% elseif data ['referral-type'] == "community" %}
                  <span class="govuk-caption-l">Mohammed Salah (CRN: D743927)</span>
                  {% endif %}
                  <h1 class="govuk-fieldset__heading">
                    Update probation practitioner details
                  </h1>
                </legend>


                  



                      <p class="govuk-body">These probation practitioner details will be sent to the service provider for the referral.</p>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Full name
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="user-name2" name="user-name2" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Email address (if known)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="user-email2" name="user-email2" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Phone number (if known)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="user-email2" name="user-email2" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="full">
                          PDU (Probation Delivery Unit)
                        </label>
                        <div id="contact-hint" class="govuk-hint">
                          Start typing then choose from the list.
                        </div>
                        <input class="govuk-input govuk-!-width-full" id="pp-pdu" name="pp-pdu" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="full">
                          Probation office (if known)
                        </label>
                        <div id="contact-hint" class="govuk-hint">
                          Start typing, then choose from the list.
                        </div>
                        <input class="govuk-input govuk-!-width-full" id="pp-office" name="pp-office" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Team phone number (if known)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="user-email2" name="user-email2" type="text">
                      </div>
                    </div>
                  </div>


                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      These details should also be updated in nDelius by someone with edit access.
                    </strong>
                  </div>

              </fieldset>
            </div>
          </div>



          {% if data ['referral-type'] == "prison" %}
          <form action="make-a-referral-prerelease?pp-details=complete" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>

          {% elseif data ['referral-type'] == "community" %}
          <form action="make-a-referral-community?pp-details=complete" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
          {% endif %}



        </form>

      </div>
    </div>



{% endblock %}
