{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you sure you want to delete the probation practitioner email address?
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  {% if data ['referral-type'] == "prison" %}
                  <span class="govuk-caption-l">Alex River (CRN: D007615)</span>
                  {% elseif data ['referral-type'] == "community" %}
                  <span class="govuk-caption-l">Mohammed Salah (CRN: D743927)</span>
                  {% endif %}
                  <h1 class="govuk-fieldset__heading">
                    Are you sure you want to delete the probation practitioner email address?
                  </h1>
                </legend>


              </fieldset>
            </div>
          </div>


          <form action="pp-details?pp-email=delete" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
              Confirm and delete
            </button>
          </form>



        </form>

      </div>
    </div>



{% endblock %}
