{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm main point of contact details
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data ['referral-type-nocom'] == "yes" %}
    <form class="form" method="post" action="referral-reason-unallocated">
      {% elseif data ['referral-type-nocom'] == "no" %}
      <form class="form" method="post" action="make-a-referral-nocom-prison">
        {% endif %}

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  {% if data ['referral-type-nocom'] == "yes" %}
                  <span class="govuk-caption-l">Darren Wicks (CRN: D927438)</span>
                  {% elseif data ['referral-type-nocom'] == "no" %}
                  <span class="govuk-caption-l">John Smith (CRN: D182933)</span>
                  {% endif %}
                  <h1 class="govuk-fieldset__heading">
                    Confirm main point of contact details
                  </h1>
                </legend>

                {% if data ['referral-type-nocom'] == "yes" %}
                <p class="govuk-body">These details will be sent to the service provider for the referral. 
                </p>
                <div class="govuk-inset-text">
                  When a probation practitioner is allocated these details will be replaced.
                </div>
                {% else %}
                  <p class="govuk-body">These details will be sent to the service provider for the referral.</p>
                {% endif %}



                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Full name
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="contact-name" name="contact-name" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Role / job title
                        </label>
                        <input class="govuk-input govuk-input--width-40" id="contact-job" name="contact-job" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Email address
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="contact-email" name="contact-email" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Phone number
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="contact-phone" name="contact-phone" type="text">
                      </div>

                      <br>
                      <br>


                      <h2 class="govuk-heading-m">Location of main point of contact</h2>


                      <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact-location" name="contact-location" type="radio" value="prison" data-aria-controls="conditional-contact-2">
                          <label class="govuk-label govuk-radios__label" for="contact-location">
                            Prison establishment
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2" name="eccode">
                          <div class="govuk-form-group">
                            <div id="contact-hint" class="govuk-hint">
                              Start typing then choose prison name from the list
                            </div>
                            <input class="govuk-input govuk-!-width-full" id="contact-establishment" name="contact-establishment" type="text">
                          </div>
                        </div>
      
      
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact-location" name="contact-location" type="radio" value="office" data-aria-controls="conditional-contact">
                          <label class="govuk-label govuk-radios__label" for="contact-location">
                            Probation office
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact" name="eccode">
                          <div class="govuk-form-group">
                            <div id="contact-hint" class="govuk-hint">
                              Start typing then choose probation office from the list
                            </div>
                            <input class="govuk-input govuk-!-width-full" id="contact-office" name="contact-office" type="text">
                          </div>
                        </div>
      
                      </div>

                  </div>

                </div>


              </fieldset>
            </div>
          </div>



          {{ govukButton({
            text: 'Save and continue'
          }) }}



        </form>

      </div>
    </div>



{% endblock %}
