{% extends "layouts/main.html" %}

{% block pageTitle %}
  Make a referral
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
          Make a referral
        </h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 4 sections.</p>


        <ol class="app-task-list">

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Review Alex River's information
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                    Confirm personal details
                  </a>
                </span>
                  <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                    Risk information
                  </a>
                </span>
                  <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                  Needs and requirements
                  </a>
                </span>
                  <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="current-location" aria-describedby="">
                  Submit Alex's current location
                  </a>
                </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
              </li>
            </ul>
          </li>


          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Choose service types
            </h2>

            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    Select service types for the Women's <br> services referral
                </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
              </li>
            </ul>
          </li>




          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Add intervention referrals detail
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    Details of this part will depend on the services <br> you choose
                </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
              </li>
            </ul>
          </li>




          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span> Review probation contact details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    Probation contact details
                </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
              </li>
            </ul>




            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">5. </span> Check your answers
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      Check your answers
                  </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
                </li>
              </ul>
            </li>

        </ol>






      </div>
    </div>


{% endblock %}
