{% extends "layouts/main.html" %}

{% block pageTitle %}
  Make a referral
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Mohammed Salah (CRN: D743927)</span>
    <h1 class="govuk-heading-xl">Make a referral</h1>

<div class="govuk-inset-text">
  This information will be sent to the service provider.
</div>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete</h2>
        {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 5 sections.</p>
        {% elseif data ['pp-details'] == "yes" or data ['pp-details'] == "no" %}
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 5 sections.</p>
        {% else %}
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 5 sections.</p>
        {% endif %}



        <ol class="app-task-list">

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Confirm probation practitioner details 
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="pp-details" aria-describedby="">
                    Name, contact details and location
                  </a>
                </span>
                {% if (data['pp-details'] == "complete") %}
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
                {% endif %}  
              </li>
            </ul>
          </li>





          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Review Mohammed Salah's information
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="personal-details-mo" aria-describedby="">
                    Personal details
                  </a>
                </span>
                {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
                {% endif %}
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                    Risk information
                  </a>
                </span>
                {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
                {% endif %}
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                  Needs and requirements
                  </a>
                </span>
                {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
                {% endif %}
              </li>
            </ul>
          </li>




          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span>Add intervention referral details
            </h2>

            {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}

            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                  Confirm the relevant sentence
                </span>
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                    Select desired outcomes
                </span>
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="" aria-describedby="">
                    Select complexity level
                </span>
                <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
              </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="">
                Enter number of enforceable days used
            </span>
            <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
          </li>


      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="" aria-describedby="">
            Enter when the intervention needs to <br>be completed by
          </span>
          <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
        </li>


  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="" aria-describedby="">
        Further information for service provider
    </span>
    <strong class="govuk-tag app-task-list__tag" id="">Completed</strong>
  </li>
</ul>
</li>


{% else %}

<ul class="app-task-list__items">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      Confirm the relevant sentence
      
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
  </li>

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
        Select desired outcomes
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
  </li>

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
        Select complexity level
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
  </li>


<li class="app-task-list__item">
<span class="app-task-list__task-name">
    Enter number of enforceable days used
</span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
</li>


<li class="app-task-list__item">
<span class="app-task-list__task-name">
Enter when the intervention needs to <br>be completed by
</span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
</li>


<li class="app-task-list__item">
<span class="app-task-list__task-name">
Further information for service provider
</span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
</li>
</ul>
</li>
{% endif %}





<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">5. </span> Check all referral information and submit referral
  </h2>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="check-answers" aria-describedby="">
        Check all referral information</a>
      </span>
      {% if data ['risk-info'] == "yes" or data ['risk-info'] == "no" %}
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Not started</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">Cannot start yet</strong>
      {% endif %}              
    </li>
  </ul>
</li>

        </ol>






      </div>
    </div>


{% endblock %}
