{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter why the expected probation office is not known
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post" action="make-a-referral-nocom-prerelease">

         


            <div class="govuk-form-group">
              <span class="govuk-caption-xl">Alex River (CRN: D002399)</span>               
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="more-detail">
                  Enter why the expected probation office is not known
                </label>
              </h1>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>



                  
      </div>
      </div>
    




        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>


    </div>

  </div>


{% endblock %}
