{% extends "layouts/main.html" %}

{% block pageTitle %}
  Submit current location
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data ['referral-type'] == "prison" %}
    <form class="form" method="post" action="make-a-referral-prerelease">
      {% elseif data ['referral-type'] == "community" %}
      <form class="form" method="post" action="make-a-referral-community">
    {% endif %}

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  {% if data ['referral-type'] == "prison" %}
                  <span class="govuk-caption-xl">Alex River (CRN: D007615)</span>
                  {% elseif data ['referral-type'] == "community" %}
                  <span class="govuk-caption-xl">Mohammed Salah (CRN: D743927)</span>
                  {% endif %}
                  <h1 class="govuk-fieldset__heading">
                    Confirm probation practitioner details
                  </h1>
                </legend>

                  <p class="govuk-body">These contact details will be sent to the service provider for the referral.
                  </p>
                  <p class="govuk-body">You should update any information that is incorrect or missing.</p>

                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['user-name'] == "" %}
                          Sarah Galliver
                        {% else %}
                          {{data['user-name'] | default("Sarah Galliver")}}
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-name">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Email address
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['user-email'] == "" %}
                          sarah.galliver@justice.gov.uk
                        {% else %}
                          {{data['user-email'] | default("sarah.galliver@justice.gov.uk")}}
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-email">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Phone number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['pp-phone']}}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-phone">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        PDU (Probation Delivery Unit)
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Manchester North
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-pdu">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Probation office
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Redfern Building</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-office">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Team phone number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['pp-team-phone']}}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="change-pp-team-phone">
                          Change<span class="govuk-visually-hidden"> location</span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                    </div>
                  </div>

                  <p class="govuk-body"><a href="change-pp" class="govuk-link">Change to a different probation practitioner</a></p>

              </fieldset>
            </div>
          </div>



          {{ govukButton({
            text: 'Save and continue'
          }) }}



        </form>

      </div>
    </div>



{% endblock %}
