{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter why the expected release date is not known
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data ['referral-type'] == "prison" %}
    <form class="form" method="post" action="make-a-referral-prerelease">
      {% elseif data ['referral-type'] == "community" %}
      <form class="form" method="post" action="make-a-referral-community">
        {% elseif data ['referral-type-nocom'] == "yes" %}
        <form class="form" method="post" action="make-a-referral-nocom-prerelease2">
    {% endif %}
         


            <div class="govuk-form-group">
              {% if data ['referral-type'] == "prison" %}
              <span class="govuk-caption-xl">Alex River (CRN: D002399)</span>
              {% elseif data ['referral-type-nocom'] == "yes" %}
              <span class="govuk-caption-xl">Darren Wicks (CRN: D927438)</span>
              {% elseif data ['referral-type-nocom'] == "no" %}
              <span class="govuk-caption-xl">John Smith (CRN: D182933)</span>
              {% endif %}               
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="more-detail">
                  Enter why the expected release date is not known
                </label>
              </h1>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>






                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                  When you know the date, you will need to update the service provider.
                </strong>
              </div>




                  
      </div>
      </div>
    




        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>


    </div>

  </div>


{% endblock %}
