{% extends "layout.html" %}

{% block pageTitle %}
  Find an intervention
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Thinking Skills</h1>

      <p>
        TSP is a cognitive skills programme for men and women designed to help develop skills in pro-social problem solving, perspective taking, developing and managing relationships, and self-management, and encourages pro-social attitudes, behaviour and goals for the future. TSP has been designed to incorporate maximum responsivity and flexibility of delivery format.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type</th>
          <dd class="govuk-summary-list__value">Accredited Programme - CRC provided</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sessions / days</th>
          <dd class="govuk-summary-list__value">19 sessions (15 group, 4 1:1)</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Minimum length required</th>
          <dd class="govuk-summary-list__value">5</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Area</th>
          <dd class="govuk-summary-list__value">Bedfordshire, Bristol, Cambridgeshire, Cheshire, Cornwall, Cumbria, Derbyshire, Devon, Dorset, Durham, Essex, Gloucestershire, Greater Manchester, Hampshire, Hertfordshire, Humberside, Isle of Wight, Kent, Lancashire, Leicestershire, Lincolnshire, London, Merseyside, Norfolk, Northamptonshire, Northumbria, North Yorkshire, Nottinghamshire, Rutland, Somerset, Staffordshire, Suffolk, Surrey, Sussex, Tees Valley, Thames Valley, Warwickshire, West Mercia, West Midlands, West Yorkshire, Wiltshire</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Stage of sentence available</th>
          <dd class="govuk-summary-list__value">On Licence, On PSS, On RAR, Pre-sentence</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Offence seriousness</th>
          <dd class="govuk-summary-list__value">High, Low, Medium</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Offence Factor(s)</th>
          <dd class="govuk-summary-list__value">Acquisitive/Financial, Alcohol motivated/disinhibited, Domestic abuse, Drugs motivated/disinhibited, Motoring, Other, Robbery, Violence (non DV)</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Offence factors excluded</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Modus Operandi combo</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Modus Operandi excluded</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gender</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Age</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Need</th>
          <dd class="govuk-summary-list__value">Thinking and attitudes</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Needs excluded</th>
          <dd class="govuk-summary-list__value">Learning disability, Mental health - severe</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Minimum needs required</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Drug type</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">SARA</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">RM2000</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">RoSH/OGRS Combination</th>
          <dd class="govuk-summary-list__value">High RoSH & OGRS 50-74, High RoSH & OGRS 75+, Low RoSH & OGRS 50-74, Low RoSH & OGRS 75+, Medium RoSH & OGRS 50-74, Medium RoSH & OGRS 75+, Very High RoSH & OGRS 50-74, Very High RoSH & OGRS 75+</td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Minimum OGRS</th>
          <dd class="govuk-summary-list__value"></td>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional exclusions/eligibility</th>
          <dd class="govuk-summary-list__value">
            <p>
              ELIGIBILITY: HMPPS interventions guide (April 2019) says people need:
              <br>
              OGRS3 (over two years) score of 50+
              <br>
              and
              <br>
              NEED REQUIREMENTS:
              <br>
              A score of 5+ based on OASYS items below
              <br>
              2.6 - Recognises the impact and consequences of offending on victim, community / wider society
              <br>
               7.2 - Regular activities encourage offending
              <br>
               11.4 - Temper condivol
              <br>
               11.6 - Problem solving
              <br>
               11.7 - Awareness of consequences
              <br>
               11.9 - Understands other people’s point of view
              <br>
               12.1 - Pro-criminal attitudes
              <br>
              <br>
              REASONABLE ADJUSTMENTS: should be made to support individuals with reading and writing difficulties through the programme
              <br>
              <br>
              LEARNING DISABILITY: Potential individuals should have the intellectual and social functioning ability to engage with the material. If appropriate, individuals should be referred to New Me Sdivengths (NMS) which has been designed to meet the needs of people with learning disabilities and challenges.
              <br>
              <br>
              MENTAL ILLNESS: For some potential individuals with identified mental illness, or personality disorder it might not be the right time for them to participate.
              <br>
              <br>
              LENGTH NEEDED: Potential individuals should have enough time on their sentence or Order to complete all programme sessions and the post programme review.
              <br>
              <br>
              SEX OFFENDERS: For men convicted of sexual offences the HMPPS sdivategy is that they should be considered for Horizon (offence specific) and Kaizen in the FIRST INSTANCE in accordance with RNR principles as defined for those programmes.
              <br>
              <br>
              DOMESTIC VIOLENCE OFFENDERS: DV offenders are allowed, but not IPV.
              <br>
              <br>
              OVERRIDE CRITERIA - instances where TSP can be given as an override:
              <br>
              OGRS OVERRIDE:
              <br>
              Can have under 50 ogrs if Rm2000 is medium or above, or if on an indeterminate sentence AND high/very high Risk of Serious Harm (from April 2019 guidance)
              <br>
              <br>
              (from new May 2019 guidance)
              <br>
              Can have 47-49 OGRS but only if diveatment Managers agree
              <p></td>
            </div>

          </table>

        </div>
      </div>

    {% endblock %}
