{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Current prototype</h1>
    <p>This prototype is a way of exploring ideas for the Refer and monitor an intervention service.</p>

    <p>If you have any questions please contact:</p><br>
      <h2 class="govuk-heading-m">Moon squad</h2>
      <p><a href="mailto:emma.hidalgo-law@digital.justice.gov.uk">Emma Hidalgo-Law</a> (Interaction Designer)<br>
      <a href="mailto:marianne.canty@digital.justice.gov.uk">Marianne Canty</a> (Content Designer)</p>
      <p>Each new prototype is used to test designs. These designs may change before they're developed.</p>

      <table class="govuk-table">
  
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint started</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Version 5 (IPB-239 - Amend a referral - iteration 1)</td>
            <td class="govuk-table__cell">25</td>
            <td class="govuk-table__cell">
              <a href="v5/pp/referral-details-alex">Probation practitioner referral details</a><br>
            </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Version M2 (IPB -3 - iteration 6)</td>
            <td class="govuk-table__cell">9</td>
            <td class="govuk-table__cell">
              <a href="v2/pp/scenarios">Probation practitioner flow</a><br>
              <br>
              <a href="v2/pp/enter-crn">New enter CRN screen</a><br>
              <br>
              <p>Reason for referral and further info screen:<br>             
              <a href="v2/pp/further-info-prerelease">Pre-release</a><br>
              <a href="v2/pp/further-info-community">Community</a><br>
              <a href="v2/pp/further-info-prison">Prison</a><br></p> 
              <br>
              <a href="v2/sp/unassigned-cases">Service provider flows</a><br>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Version M1 (iteration 5)</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">
              <a href="v1/pp/user-setup">Probation practitioner flows</a><br>
              <a href="v1/sp/unassigned-cases">Service provider flows</a>
            </td>
          </tr>
  
        </tbody>
      </table>
      <div class="govuk-!-padding-bottom-7"></div>

      
      <h2 class="govuk-heading-m">Getting better session feedback squad</h2>
      <p><a href="mailto:joana.aguia@digital.justice.gov.uk">Joana Águia</a> (Interaction Designer)<br>
      <a href="mailto:helen.nickols@digital.justice.gov.uk">Helen Nickols</a> (Content Designer)</p>
       
  
  

    <p>Each new prototype is used to test designs. These designs may change before they're developed.</p>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 1 </td>
          <td class="govuk-table__cell">26</td>
          <td class="govuk-table__cell">
            <p>New journey: Request a cancellation</p>
            <a href="/v4/sp/case-progress-assigned-alex">Service provider</a> <br>
            <a href="/v4/pp/case-progress-assigned-alex"> Probation Practioner</a> <br>
            <a href="/v4/pp/cancellation-request"> Probation Practioner: request</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 2, V4 </td>
          <td class="govuk-table__cell">19</td>
          <td class="govuk-table__cell">
            <p>Integrate findings from UR </p>
            <a href="/v4/sp/case-progress-assigned-alex">Service provider</a> <br>
            <a href="/v4/pp/mo-case-progress-attended-session-did-not-happen.html"> Probation Practioner</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 2, V3 </td>
          <td class="govuk-table__cell">17</td>
          <td class="govuk-table__cell">
            <p>Re-designed journey without the 16 business scenarios, as no longer required. Provides service providers a way to mark non-attendance for reasons other than POP failed to attend. Integrated changes from User Research insights. </p>
            <a href="/v3/sp/case-progress-assigned-alex">Service provider</a> <br>
            <a href="/v3/pp/mo-case-progress-attended-session-did-not-happen.html"> Probation Practioner</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 2, V2 </td>
          <td class="govuk-table__cell">15</td>
          <td class="govuk-table__cell">
            <p>Incorporated 16 new business scenarios as requested by stakeholders</p>
            <a href="/IPB-265/sp/case-progress-assigned-alex">Service provider</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 2, V1 </td>
          <td class="govuk-table__cell">13</td>
          <td class="govuk-table__cell">
            <p>Provides service providers a way to mark non-attendance for reasons other than POP failed to attend</p>
            <a href="https://www.figma.com/proto/lpCD4LUyzBpnITn9BDgcs1/IPB-265?page-id=893%3A16357&type=design&node-id=893-17323&viewport=346%2C293%2C0.02&t=cg6bE3ArOf25SKvJ-1&scaling=min-zoom&starting-point-node-id=893%3A17323&show-proto-sidebar=1&mode=design">Service provider flow</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Iteration 1, V1 </td>
          <td class="govuk-table__cell">11</td>
          <td class="govuk-table__cell">
            <p>Service providers are asked to provide more specific information to help the Probation Practioners understand how the POP is progressing</p>
            <a href="https://www.figma.com/proto/lpCD4LUyzBpnITn9BDgcs1/IPB-265?page-id=1%3A20&type=design&node-id=8-301&viewport=570%2C-59%2C0.07&t=p9HCV6s07kZNfcRA-1&scaling=min-zoom&starting-point-node-id=8%3A301&show-proto-sidebar=1&mode=design">Service provider flow</a> <br>
            <a href="https://www.figma.com/proto/lpCD4LUyzBpnITn9BDgcs1/IPB-265?page-id=1%3A20&type=design&node-id=8-301&viewport=570%2C-59%2C0.07&t=p9HCV6s07kZNfcRA-1&scaling=min-zoom&starting-point-node-id=8%3A301&show-proto-sidebar=1&mode=design">Probation practioner flow</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
