{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Current prototype</h1>

    <p>This prototype is a way of exploring ideas for the Refer and monitor an intervention service.</p>

    <p>If you have any questions please contact:</p><br>
      <h2 class="govuk-heading-s">Missing info squad</h2>
      <p><a href="mailto:emma.hidalgo-law@digital.justice.gov.uk">Emma Hidalgo-Law</a> (Interaction Designer)<br>
      <a href="mailto:marianne.canty@digital.justice.gov.uk">Marianne Canty</a> (Content Designer)</p>

      <h2 class="govuk-heading-s">Getting better session feedback squad</h2>
      <p><a href="mailto:joana.aguia@digital.justice.gov.uk">Joana Águia</a> (Interaction Designer)<br>
      <a href="mailto:helen.nickols@digital.justice.gov.uk">Helen Nickols</a> (Content Designer)</p>
       
  
    <br><br>

    <p>Each new prototype is used to test designs. These designs may change before they're developed.</p>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> V2 </td>
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">
            <a href="v2/pp/make-a-referral">Probation practitioner</a><br>
            <a href="v2/sp/my-cases">Service provider flow</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> V1 </td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">
            <a href="v1/pp/make-a-referral">Probation practitioner flow</a><br>
            <a href="v1/sp/unassigned-cases">Service provider flow</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
