{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Current prototype</h1>
    <h1 class="govuk-heading-l">Current prototype</h1>

    <p>This prototype is a way of exploring ideas for the Refer and monitor an intervention service.</p>

    <p>Contact <a href="mailto:emma.hidalgo-law@digital.justice.gov.uk">Emma Hidalgo-Law</a> (Interaction Designer),
      <a href="mailto:helen.nickols@digital.justice.gov.uk">Helen Nickols</a> (Content Designer) or
      <a href="mailto:marianne.canty@digital.justice.gov.uk">Marianne Canty</a> (Content Designer) if you have any
      questions.
    </p>
    <br><br>

    <p>Each new prototype is used to test designs. These designs may change before they're developed.</p>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/open-cases">V1</a>
          <td class="govuk-table__cell">14</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Add what we've done here</li>
            </ul>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
