{% extends "layouts/main.html" %}

{% block pageTitle %}
  Submit current location
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <form class="form" method="post" >

            <div class="govuk-form-group">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-xl">Alex River (CRN: D002399)</span>
                  <h1 class="govuk-fieldset__heading">
                    Check all referral information
                  </h1>
                </legend>

                <p class="govuk-body">This will be sent to the service provider.</p>





                <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Probation practitioner details</h2>
                    <ul class="govuk-summary-card__actions">
                      <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Sarah Philips
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                          sarah.philips@justice.gov.uk
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          PDU (probation delivery unit) 
                        </dt>
                        <dd class="govuk-summary-list__value">
                          East Kent
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Probation office
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Kent: Mainstone Probation Office
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>










                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">

                    <!-- <div class="govuk-summary-card">
                      <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Probation practitioner details</h2>
                      </div>
                      <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Sarah Philips
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                              </a>
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              sarah.philips@justice.gov.uk
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                              </a>
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              PDU (probation delivery unit) 
                            </dt>
                            <dd class="govuk-summary-list__value">
                              TBC
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                              </a>
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Probation office
                            </dt>
                            <dd class="govuk-summary-list__value">
                              TBC
                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> age</span>
                              </a>
                            </dd>
                          </div>
                        </dl>
                      </div>
                      </div> -->




                      <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">Alex River's location and expected release date</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Location at time of referral
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Five Wells (HMP)
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  Change<span class="govuk-visually-hidden"> location</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Expected release date
                              </dt>
                              <dd class="govuk-summary-list__value">
                                12 Aug 2023
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  Change<span class="govuk-visually-hidden"> release date</span>
                                </a>
                              </dd>
                            </div>
                          </dl>
                        </div>
                        </div>




            
                    <div class="govuk-summary-card">
                      <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Alex River's personal details</h2>
                      </div>
                      <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              First name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Alex
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Last name(s)
                            </dt>
                            <dd class="govuk-summary-list__value">
                              River
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                              20 Feb 1975 (47 years old)
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Gender
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Male
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              1 Lunar Lane<br>Sheffield<br>South Yorkshire<br>S10 1AG
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                              07612 634 653
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Not found
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Ethnicity
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Mixed: other
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Preferred language
                            </dt>
                            <dd class="govuk-summary-list__value">
                              English
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Disabilities
                            </dt>
                            <dd class="govuk-summary-list__value">
                              None
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Religion or belief
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Atheist
                            </dd>
                          </div>
                        </dl>
                      </div>
                      </div>




                      <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">Alex River's risk information</h2>
                          <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Who is at risk<br>
                                <p class="govuk-body">
                                Medium ROSH to the public<br>
                                Medium ROSH to staff<br>
                                High ROSH to her children (neglect)
                              </p>
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Nature of risk<br>
                                <p class="govuk-body">
                                Previous Convictions:
                    numerous acquisitive offences since the age of 14 –
                    Theft from Shop x 26;
                    Street Robbery x1;
                    Theft from person x 4;
                    Prostitution x 6;
                    Possession of class A drug (heroin) x 2;
                    Criminal damage x 1;
                    Assault Police x 2
                    Silver Cymbal has a history of offending since the age of 14. She is currently on
                    license for an offence of supplying class A drugs as part of a county lines gang
                    A712$**.
                    In this offence the driver of the gang would take her to the Saturn Pub in Space
                    Town in his pink ford focus Reg no ABC 123Y. She would wait at the entrance
                    wearing a pink baseball cap so people would know to approach her for drugs.
                    She would sell heroin, cocaine and cannabis, which she kept in a NIKKK
                    backpack. When the police arrested her, she threw the backpack at the officer –
                    missing him and she ran away, but he gave chase and arrested her around the
                    corner in the garden of Moon Beam’s house. Forrest Mercury the car driver was
                    also arrested and charged with drug related offences.
                    A number of gang members are still in custody servicing longer sentences.
                    However, she is both fearful of members in the community and at risk of
                    returning to offending. She says that she carries a knife in case she bumps into
                    any gang member and has been warned not to do so by PC999 Plod, her local
                    officer (mob-0123 987654). She previously had a relationship with one gang
                    member Orange Trumpet who is the father of her son Purple (Dob: 10:11:13). His
                    new partner is Gold Viola, and they have a child Yellow Trumpet Dob: 21:02:17)
                    Colleen has recently been released from custody and is residing with her sister
                    (also known to probation) but this is only temporary as she has indicated that the
                    is in the early stages of pregnancy and her sister is unable to support this.
                    Colleen has no other family member who she can reside with and although her
                    family support her, they do not offer the pro-social influence required to keep her
                    from offending.
                    Since release Colleen is on a methadone script and requires support and
                    encouragement to continue with it as historically, she relapses quickly after
                    release.
                    Following her last sentence her child Purple Trumpet (who had been with a foster
                    family (Avril & Teal Timpani) has been adopted to a family in the Acorn area of
                    Oaktree Village so that he can continue to attend Oaktree School where he has
                    been since being in foster care. She is struggling to come to terms with this.
                    </p>
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                When risk is likely to be greatest<br>
                                <p class="govuk-body">
                                Silver Cymbal has a history of offending since the age of 14. She is currently on
                    license for an offence of supplying class A drugs as part of a county lines gang
                    A712$**. A number of gang members are still in custody servicing longer
                    sentences. However, she is both fearful of members in the community and at risk
                    of returning to offending. She says that she carries a knife in case she bumps
                    into any gang member and has been warned not to do so by PC999 Plod, her
                    local officer (mob-0123 987654). She previously had a relationship with one gang
                    member Orange Trumpet who is the father of her son Purple (Dob: 10:11:13). His
                    new partner is Gold Viola, and they have a child Yellow Trumpet Dob: 21:02:17)
                    In this offence the driver of the gang would take her to the Saturn Pub in Space
                    Town in his pink ford focus Reg no ABC 123Y. She would wait at the entrance
                    wearing a pink baseball cap so people would know to approach her for drugs.
                    She would sell heroin, cocaine and cannabis, which she kept in a NIKKK
                    backpack. When the police arrested her, she threw the backpack at the officer –
                    missing him and she ran away, but he gave chase and arrested her around the
                    corner in the garden of Moon Beam’s house. Forrest Mercury the car driver was
                    also arrested and charged with drug related offences.
                    Colleen has recently been released from custody and is residing with her sister
                    (also known to probation) but this is only temporary as she has indicated that the
                    is in the early stages of pregnancy and her sister is unable to support this.
                    Colleen has no other family member who she can reside with and although her
                    family support her, they do not offer the pro-social influence required to keep her
                    from offending.
                    Since release Colleen is on a methadone script and requires support and
                    encouragement to continue with it as historically, she relapses quickly after
                    release.
                    Following her last sentence her child Purple Trumpet (who had been with a foster
                    family (Avril & Teal Timpani) has been adopted to a family in the Acorn area of
                    Oaktree Village so that he can continue to attend Oaktree School where he has
                    been since nursery. She is struggling to come to terms with this.
                    </p>
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Concerns relating to self harm
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Concerns relating to suicide
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Concerns relating to coping in a hotel setting<br>
                                <p class="govuk-body">
                                Silver Cymbal has a history of offending since the age of 14. She is currently on
                    license for an offence of supplying class A drugs as part of a county lines gang
                    A712$**. A number of gang members are still in custody servicing longer
                    sentences. However, she is both fearful of members in the community and at risk
                    of returning to offending. She says that she carries a knife in case she bumps
                    into any gang member and has been warned not to do so by PC999 Plod, her
                    local officer (mob-0123 987654). She previously had a relationship with one gang
                    member Orange Trumpet who is the father of her son Purple (Dob: 10:11:13). His
                    new partner is Gold Viola, and they have a child Yellow Trumpet Dob: 21:02:17)
                    Colleen has recently been released from custody and is residing with her sister
                    (also known to probation) but this is only temporary as she has indicated that the
                    is in the early stages of pregnancy and her sister is unable to support this.
                    Colleen has no other family member who she can reside with and although her
                    family support her, they do not offer the pro-social influence required to keep her
                    from offending.</p>
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Concerns relating to vulnerability<br>
                                <p class="govuk-body">
                                Silver Cymbal has a history of offending since the age of 14. She is currently on
                    license for an offence of supplying class A drugs as part of a county lines gang
                    A712$**. A number of gang members are still in custody servicing longer
                    sentences. However, she is both fearful of members in the community and at risk
                    of returning to offending. She says that she carries a knife in case she bumps
                    into any gang member and has been warned not to do so by PC999 Plod, her
                    local officer (mob-0123 987654). She previously had a relationship with one gang
                    member Orange Trumpet who is the father of her son Purple (Dob: 10:11:13). His
                    new partner is Gold Viola, and they have a child Yellow Trumpet Dob: 21:02:17)
                    Colleen has recently been released from custody and is residing with her sister
                    (also known to probation) but this is only temporary as she has indicated that the
                    is in the early stages of pregnancy and her sister is unable to support this.
                    Colleen has no other family member who she can reside with and although her
                    family support her, they do not offer the pro-social influence required to keep her
                    from offending.
                    Since release Colleen is on a methadone script and requires support and
                    encouragement to continue with it as historically, she relapses quickly after
                    release.
                    Following her last sentence her child Purple Trumpet (who had been with a foster
                    family (Avril & Teal Timpani) has been adopted to a family in the Acorn area of
                    Oaktree Village so that he can continue to attend Oaktree School where he has
                    been since nursery. She is struggling to come to terms with this.</p>
                              </dt>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Additional risk information
                              </dt>
                            </div>
                          </dl>
                        </div>
                        </div>
                    
                    
                      <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">Alex River's needs and requirements</h2>
                          <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Identify needs
                              </dt>
                              <dd class="govuk-summary-list__value">
                                N/A
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Mobility, disability or accessibility needs
                              </dt>
                              <dd class="govuk-summary-list__value">
                                N/A
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Interpreter required
                              </dt>
                              <dd class="govuk-summary-list__value">
                                No
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Interpreter language
                              </dt>
                              <dd class="govuk-summary-list__value">
                                N/A
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Primary language
                              </dt>
                              <dd class="govuk-summary-list__value">
                                N/A
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Caring or employment responsibilities
                              </dt>
                              <dd class="govuk-summary-list__value">
                                English
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Details of when Alex will not be able to attend sessions
                              </dt>
                              <dd class="govuk-summary-list__value">
                                None
                              </dd>
                            </div>
                          </dl>
                        </div>
                        </div>



                        <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Sentence information</h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Sentence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> location</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Subcategory
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> release date</span>
                                  </a>
                                </dd>
                              </div>
                            </dl>
                          </div>
                          </div>





          {{ govukButton({
            text: 'Submit referral'
          }) }}



        </form>

      </div>
    </div>



{% endblock %}
