{% extends "layout.html" %}

{% block pageTitle %}
  Further social inclusion information
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "rar-days"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Do you have any further information for the social inclusion service provider? (optional)
      </h1>
      <form action="../../referral-task-list" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group govuk-!-margin-bottom-9">
            <label class="govuk-label" for="previous-offences">
              For example, relevant previous offences, previously completed programmes or further reasons for this referral
              <span class="govuk-visually-hidden">For example, relevant previous offences, previously completed programmes or further reasons for this referral</span>
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="social-inclusion-further-information" rows="5" aria-describedby="social-inclusion-further-information">{{ data["social-inclusion-further-information"] }}</textarea>
          </div>
        </fieldset>
        <input type="hidden" name="social-inclusion-more-information-completed" value="yes">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}