{% extends "layout.html" %}

{% block pageTitle %}
  Risk information
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "service-user-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Alex's risk information
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            OGRS score
          </dt>
          <dd class="govuk-summary-list__value">
            50
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            ROSHA score
          </dt>
          <dd class="govuk-summary-list__value">
            Medium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            RM2000 score
          </dt>
          <dd class="govuk-summary-list__value">
            Medium
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            SARA score
          </dt>
          <dd class="govuk-summary-list__value">
            Low
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="needs-and-requirements" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group govuk-!-margin-bottom-9">
            <label class="govuk-label govuk-label--s" for="risk-score-information">
              Additional information for the provider about Alex's risks (optional) <span class="govuk-visually-hidden">Additional information for the provider about Alex's risks (optional)</span>
            </label>
            <textarea class="govuk-textarea" id="risk-score-information" name="risk-score-information" rows="5" aria-describedby="risk-score-information">{{ data["risk-score-information"]}}</textarea>
          </div>
        </fieldset>

        <input type="hidden" name="risk-information-completed" value="yes"/>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
    </form>
  </div>
</div>

{% endblock %}

