{% extends "layout.html" %}

{% block pageTitle %}
  Assign to a caseworker
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/book-and-manage/manage-a-referral/manager/referrals/0/caseworker-confirmation">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Assign
                {{interventionType}}
                referral to a caseworker
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Once you have assigned the case to a caseworker they'll receive an email notification.
            </div>
            <h2 class="govuk-heading-m">
              Select caseworker
            </h2>
            <div class="govuk-radios govuk-radios">
              {% for caseworker in caseworkers %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="caseworker-{{ loop.index0 }}" name="assigned-caseworker" type="radio" value="{{caseworker.name}}">
                  <label class="govuk-label govuk-radios__label" for="assigned-caseworker">
                    {{ caseworker.name }}
                  </label>
                </div>
              {% endfor %}
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>
  {% endblock %}