{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Email sent</h1>
        <div class="govuk-panel__body">
          Your referral number<br>
          <strong>NR0001</strong>
        </div>
      </div>
      <p>
        Your email will be sent to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Probation practitioner: Tony Bates</li>
        <li>Service provider:
          {{ data["assigned-caseworker"] }}
        </li>
      </ul>
      <br>
      <a class="govuk-link" href="/book-and-manage/manage-a-referral/manager/referrals">Return to referrals dashboard</a>
    </div>
    <div class="govuk-grid-column-one-third govuk-panel govuk-panel--sidebar">
      <h2>Useful links</h2>
      <p>
        <a class="govuk-link" href="#">Upload case notes</a>
      </p>
      <p>
        <a class="govuk-link" href="#">View communication archive</a>
      </p>
    </div>
  </div>

{% endblock %}