{% extends "layout.html" %}

{% block pageTitle %}
  Referral details
{% endblock %}

{% block content %}
  <div>
    <h1 class="govuk-heading-xl">
      Referral details
    </h1>
    <div class="govuk-accordion" data-module="govuk-accordion" id="referral">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-service-user-personal-details">
              Service user personal details
            </span>
          </h2>
        </div>
        <div id="personal-details" class="govuk-accordion__section-content" aria-labelledby="referral-service-user-personal-details">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Other names
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.otherNames }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.address.line1 }}<br>
                {{ serviceUser.personalDetails.address.line2 }}<br>
                {{ serviceUser.personalDetails.address.city }}<br>
                {{ serviceUser.personalDetails.address.postcode }}<br>
                {{ serviceUser.personalDetails.address.type }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.nationality }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Ethnic group
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.ethnicGroup }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Preferred language
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.preferredLanguage }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Sexual orientation
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.sexualOrientation }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Religion or belief
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.religion }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Disabilities
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.disabilities }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-service-user-risks">
              Risks
            </span>
          </h2>
        </div>
        <div id="risks" class="govuk-accordion__section-content" aria-labelledby="referral-service-user-risks">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                OGRS Score
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.risks.OGRSScore }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                RM2000 Score
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.risks.RM2000Score }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                ROSHA Score
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.risks.ROSHAScore }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                SARA Score
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.risks.SARAScore }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Risk scores information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.risks.scoresInformation }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-service-user-needs">
              Needs
            </span>
          </h2>
        </div>
        <div id="needs" class="govuk-accordion__section-content" aria-labelledby="referral-service-user-needs">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Criminogenic needs
              </dt>
              <dd class="govuk-summary-list__value">
                {% for need in serviceUser.needs.criminogenicNeeds %}
                  {{ need }}<br>
                {% endfor %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Identify needs
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.identifyNeeds }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Other mobility, disability or accessibility needs
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.otherNeeds }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Interpreter needed
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.interpreterNeeded }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Language needs
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.languageNeeds }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Caring or employment responsibilities
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.responsibilities }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Times not available to attend sessions
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.needs.timesUnavailable }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-responsible-officer-details">
              Responsible officer
            </span>
          </h2>
        </div>
        <div id="responsible-officer" class="govuk-accordion__section-content" aria-labelledby="referral-responsible-officer-details">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.responsibleOfficer.fullName}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.responsibleOfficer.email }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Office address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.personalDetails.address.line1 }}<br>
                {{ serviceUser.personalDetails.address.city }}<br>
                {{ serviceUser.personalDetails.address.postcode }}<br>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-accommodation-referral">
              Accommodation referral
            </span>
          </h2>
        </div>
        <div id="accommodation-referral" class="govuk-accordion__section-content" aria-labelledby="referral-accommodation-referral">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Relevant sentence
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.sentence.category }}<br>
                Subcategory:
                {{ serviceUser.accommodationReferral.sentence.subcategory }}<br>
                Date:
                {{ serviceUser.accommodationReferral.sentence.date }}<br>
                Order:
                {{ serviceUser.accommodationReferral.sentence.order }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Desired outcomes
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.desiredOutcomes }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Required complexity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.requiredComplexity.type }}<br>
                {{ serviceUser.accommodationReferral.requiredComplexity.description }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Completion date required
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.completionDate }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Maximum number of RAR days
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.maxRARDays }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Further information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.accommodationReferral.furtherInformation }}
              </dd>
            </div>
          </dl>
          <form action="#" method="post" class="form">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m" for="accommodation-desired-outcomes-info">
                  Desired outcomes: additional information
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                  Add any communication you've had with the probation practitioner about desired outcomes.
                </div>
                <textarea class="govuk-textarea" id="accommodation-desired-outcomes-info" name="accommodation-desired-outcomes-info" rows="5" aria-describedby="accommodation-desired-outcomes-info"></textarea>
              </div>
              <div class="govuk-form-group govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m" for="accommodation-complexity-info">
                  Required complexity: additional information
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                  Add any communication you’ve had with the probation practitioner about required complexity.
                </div>
                <textarea class="govuk-textarea" id="accommodation-complexity-info" name="accommodation-complexity-info" rows="5" aria-describedby="accommodation-complexity-info"></textarea>
              </div>
            </fieldset>
            <a class="govuk-body govuk-link" href="0/accommodation/assign-caseworker">Assign accommodation referral to a caseworker</a>
          </form>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="referral-social-inclusion-referral">
              Social inclusion referral
            </span>
          </h2>
        </div>
        <div id="social-inclusion-referral" class="govuk-accordion__section-content" aria-labelledby="referral-social-inclusion-referral">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Relevant sentence
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.sentence.category }}<br>
                Subcategory:
                {{ serviceUser.socialInclusionReferral.sentence.subcategory }}<br>
                Date:
                {{ serviceUser.socialInclusionReferral.sentence.date }}<br>
                Order:
                {{ serviceUser.socialInclusionReferral.sentence.order }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Desired outcomes
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.desiredOutcomes }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Required complexity
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.requiredComplexity.type }}<br>
                {{ serviceUser.socialInclusionReferral.requiredComplexity.description }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Completion date required
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.completionDate }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Maximum number of RAR days
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.maxRARDays }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Further information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ serviceUser.socialInclusionReferral.furtherInformation }}
              </dd>
            </div>
          </dl>
          <form action="#" method="post" class="form">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m" for="social-inclusion-desired-outcomes-info">
                  Desired outcomes: additional information
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                  Add any communication you've had with the probation practitioner about desired outcomes.
                </div>
                <textarea class="govuk-textarea" id="social-inclusion-desired-outcomes-info" name="social-inclusion-desired-outcomes-info" rows="5" aria-describedby="social-inclusion-desired-outcomes-info"></textarea>
              </div>
              <div class="govuk-form-group govuk-!-margin-bottom-9">
                <label class="govuk-label govuk-label--m" for="social-inclusion-complexity-info">
                  Required complexity: additional information
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                  Add any communication you’ve had with the probation practitioner about required complexity.
                </div>
                <textarea class="govuk-textarea" id="social-inclusion-complexity-info" name="social-inclusion-complexity-info" rows="5" aria-describedby="social-inclusion-complexity-info"></textarea>
              </div>
            </fieldset>
            <a class="govuk-body govuk-link" href="0/social-inclusion/assign-caseworker">Assign social inclusion referral to a caseworker</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}