{% extends "layout.html" %}

{% block pageTitle %}
  End of service report
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "../includes/referral-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">End of service report</h1>

      <p class="govuk-body">
      On this page you can:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create an end of service report for a completed intervention</li>
        <li>create an end of service report for a terminated intervention</li>
      </ul>

      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">
                What is the reason for ending this service?
              </h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reason-delivered-successfully" name="reason" type="radio" value="delivered-successfully">
                <label class="govuk-label govuk-radios__label" for="reason-delivered-successfully">
                  The action plan has been delivered successfully / intervention delivered successfully
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="reason-termination" name="reason" type="radio" value="termination">
                <label class="govuk-label govuk-radios__label" for="reason-termination">
                  The intervention is being terminated
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
